<div class="notify-bar card" style="display: none;"><ul class="notify-list"></ul><div class="read-all"><a href="javascript:void(0)" class="btn btn-sm btn-default">知道了</a></div></div>

<header class="m-site-header">
    <div class="site-profile">
        <div class="site-avatar">
            <img src="https://s1.tuchong.com/sites/155/1551288/logo_large.jpg?1" alt="avatar">
        </div>
        <div class="site-name">子一824</div>
        <div class="follow-info">
            <div class="following">
                <a href="{{host}}/1551288/following/">
                    4关注</a>
            </div>
            <div class="follower">
                <a href="{{host}}/1551288/followers/">
                    0关注者</a>
            </div>
            <div class="follow-info-spt">|</div>
        </div>
        <div class="site-action">
        </div>
    </div>
    <nav class="site-nav">
        <ul>
            <li {{#eq route "home"}} class="active"{{/eq}} ><a href="{{host}}/1551288/">图博</a></li>
            <li {{#eq route "favorites"}} class="active"{{/eq}} class=""><a href="{{host}}/1551288/favorites/">分享</a></li>
            <li {{#eq route "albums"}} class="active"{{/eq}} class=""><a href="{{host}}/1551288/albums/">相册</a></li>
            <li {{#eq route "profile"}} class="active"{{/eq}} class=""><a href="{{host}}/1551288/profile/">资料</a></li>
            <li {{#eq route "collections"}} class="active"{{/eq}} class=""><a href="{{host}}/1551288/collections/">收藏夹</a></li>
        </ul>
    </nav>
</header>
