<div class="navbar-secondary pc-navbar">
    <nav class="navbar container">
        <ul class="navbar-subnav">
            <li {{#eq route "help"}} class="active"{{/eq}}><a href="{{host}}/help/">常见问题</a></li>
            <li {{#eq route "user"}} class="active"{{/eq}}><a href="{{host}}/help/user/">操作指南</a></li>
            <li {{#eq route "photo"}} class="active"{{/eq}}><a href="{{host}}/help/photo/">作品指南</a></li>
            <li {{#eq route "advanced"}} class="active"{{/eq}}><a href="{{host}}/help/advanced/">玩转偶酷</a></li>
            <li {{#eq route "event"}} class="active"{{/eq}}><a href="{{host}}/help/event/">活动审核标准</a></li>
        </ul>
    </nav>
</div>

