<header class="pc-header {{{block "headClass"}}}" id="header">
    <nav class="nav-wide">
        <div class="nav-left">
            <div class="nav-logo">
                <a class="nav-logo-link" href="{{host}}/" title="图虫"></a>
                <div class="nav-navcard">
                    <ul class="navcard-nav">
                        <li class="active"><a href="{{host}}/explore/">标签</a></li>
                        <li><a href="{{host}}/vision/">影像</a></li>
                        <li><a href="{{host}}/events/">活动</a></li>
                        <li><a href="{{host}}/equipments/">器材</a></li>
                        <li><a href="{{host}}/groups/all/">小组</a></li>
                        <li><a href="{{host}}/discussion/hot/">讨论</a></li>
                    </ul>
                    <ul class="navcard-detail">
                        <li class="detail-item">
                            <dl class="tag-categories">
                                <dt class="category-title"><a href="{{host}}/categories/subject/">题材标签</a></dt>
                                <dd>
                                    <ul class="category-tags">
                                        <li class="tag-item"><a href="{{host}}/tags/人像" class="active-tag">人像</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/建筑" class="active-tag">建筑</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/城市" class="active-tag">城市</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/婚纱" class="active-tag">婚纱</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/风光" class="active-tag">风光</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/静物" class="active-tag">静物</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/人文" class="active-tag">人文</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/夜景" class="active-tag">夜景</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/路" class="active-tag">路</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/星空" class="active-tag">星空</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/纪实" class="active-tag">纪实</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/舞台" class="active-tag">舞台</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/街拍" class="">街拍</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/旅行" class="">旅行</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/美女" class="">美女</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/儿童" class="">儿童</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/自然" class="">自然</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/少女" class="">少女</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/光影" class="">光影</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/生活" class="">生活</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/动物" class="">动物</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/植物" class="">植物</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/花卉" class="">花卉</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/私房" class="">私房</a></li>
                                    </ul>
                                </dd>
                            </dl>
                        </li>
                        <li class="detail-item">
                            <dl class="tag-categories">
                                <dt class="category-title"><a href="{{host}}/categories/location/">地区标签</a></dt>
                                <dd>
                                    <ul class="category-tags">
                                        <li class="tag-item"><a href="{{host}}/tags/北京" class="">北京</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/上海" class="">上海</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/杭州" class="">杭州</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/广州" class="">广州</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/深圳" class="">深圳</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/四川" class="">四川</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/武汉" class="">武汉</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/云南" class="">云南</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/成都" class="">成都</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/中国" class="">中国</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/南京" class="">南京</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/重庆" class="">重庆</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/青岛" class="">青岛</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/西安" class="">西安</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/西藏" class="">西藏</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/浙江" class="">浙江</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/长沙" class="">长沙</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/天津" class="">天津</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/新疆" class="">新疆</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/大连" class="">大连</a></li>
                                    </ul>
                                </dd>
                            </dl>
                        </li>
                        <li class="detail-item">
                            <dl class="tag-categories">
                                <dt class="category-title"><a href="{{host}}/categories/style/">风格标签</a></dt>
                                <dd>
                                    <ul class="category-tags">
                                        <li class="tag-item"><a href="{{host}}/tags/黑白" class="active-tag">黑白</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/长曝光" class="active-tag">长曝光</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/复古" class="active-tag">复古</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/日系" class="active-tag">日系</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/后期" class="active-tag">后期</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/微距" class="active-tag">微距</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/小清新" class="active-tag">小清新</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/色彩" class="">色彩</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/抓拍" class="">抓拍</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/情绪" class="">情绪</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/情感" class="">情感</a></li>
                                    </ul>
                                </dd>
                            </dl>
                        </li>
                        <li class="detail-item">
                            <dl class="tag-categories">
                                <dt class="category-title"><a href="{{host}}/categories/equipment/">器材标签</a></dt>
                                <dd>
                                    <ul class="category-tags">
                                        <li class="tag-item"><a href="{{host}}/tags/胶片" class="active-tag">胶片</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/佳能" class="">佳能</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/尼康" class="">尼康</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/手机" class="">手机</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/50mm" class="">50mm</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/索尼" class="">索尼</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/广角" class="">广角</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/35mm" class="">35mm</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/宾得" class="">宾得</a></li>
                                        <li class="tag-item"><a href="{{host}}/tags/富士" class="">富士</a></li>
                                    </ul>
                                </dd>
                            </dl>
                        </li>
                        <li class="detail-item">
                            <dl class="tag-categories">
                                <dt class="category-title"><a href="{{host}}/discussion/hot/">讨论</a></dt>
                                <dd>
                                    <ul class="category-tags">
                                        <li class="tag-item"><a href="{{host}}/648">纪实</a></li>
                                        <li class="tag-item"><a href="{{host}}/643">人像</a></li>
                                        <li class="tag-item"><a href="{{host}}/642">风光</a></li>
                                        <li class="tag-item"><a href="{{host}}/645">后期</a></li>
                                        <li class="tag-item"><a href="{{host}}/630">器材</a></li>
                                        <li class="tag-item"><a href="{{host}}/647">胶片</a></li>
                                        <li class="tag-item"><a href="{{host}}/631">佳能</a></li>
                                        <li class="tag-item"><a href="{{host}}/632">尼康</a></li>
                                        <li class="tag-item"><a href="{{host}}/621">图虫</a></li>
                                    </ul>
                                </dd>
                            </dl>
                        </li>
                    </ul>
                </div>
            </div>
            <ul class="supnav-list">
                <li class="supnav-item"><a href="{{host}}/">首页</a></li>
                <li class="supnav-item"><a href="{{host}}/activity/">活动</a></li>
                <li class="supnav-item subnav-trigger">
                    <a href="{{host}}/discovery/">发现</a>
                    <ul class="subnav-list">
                        <li><a href="{{host}}/vision/">影像频道</a></li>
                        <li><a href="{{host}}/discovery/">标签</a></li>
                    </ul>
                </li>
                <li class="supnav-item subnav-trigger">
                    <a href="{{host}}/groups/all/">交流</a>
                    <ul class="subnav-list">
                        <li><a href="{{host}}/groups/all/">小组</a></li>
                        <li><a href="{{host}}/discussion/hot/">讨论</a></li>
                    </ul>
                </li>
                <li class="supnav-item"><a href="{{host}}/app/">APP</a></li>
            </ul>
            <div class="nav-search">
                <form action="{{host}}/search/all/" method="get">
                    <input class="search-input" type="search" name="query" placeholder="搜索" autocomplete="off">
                    <ul class="search-dropdown-menu">
                        <li><a data-href="{{host}}/search/tag/" href="javascript:void(0);">标签</a></li>
                        <li><a data-href="{{host}}/search/user/" href="javascript:void(0);">影友、小站和小组</a></li>
                        <li><a data-href="{{host}}/search/all/" href="javascript:void(0);">全部</a></li>
                    </ul>
                </form>
                <i class="iconfont">&#xf094;</i>
            </div>
        </div>
      {{#eq user null}}
          <div class="nav-right">
              <!-- 非登录状态 -->
              <a class="nav-login login-trigger" href="javascript:void(0);">登录</a>
              <a id="registerAnchor" class="nav-register" href="{{host}}/signup">注册</a>
          </div>
      {{else}}
          <div class="nav-right">
              <!-- 登录状态 -->
              <ul class="supnav-list">
                  <li class="supnav-item nav-user subnav-trigger">
                      <a class="user-info" href="{{host}}/1551288/">
                          <img src="https://s1.tuchong.com/sites/155/1551288/logo_small.jpg?1">
                          {{user.name}}                 </a>
                      <ul class="subnav-list">
                          <li>
                              <a href="{{host}}/1551288/">我的主页</a>
                          </li>
                          <li>
                              <a href="{{host}}/1551288/albums/">我的相册</a>
                          </li>
                          <li>
                              <a href="{{host}}/1551288/following/">我的关注</a>
                          </li>
                          <li>
                              <a href="{{host}}/1551288/favorites/">我的分享</a>
                          </li>
                          <li>
                              <a href="{{host}}/1551288/collections/">我的收藏</a>
                          </li>
                          <li>
                              <a href="{{host}}/notes/comments/">与我相关</a>
                          </li>
                          <li>
                              <a href="{{host}}/notes/my-comments/">我的评论</a>
                          </li>
                          <li>
                              <a href="{{host}}/settings/">设置</a>
                          </li>
                          <li>
                              <a href="/admin/loginout" class="logout">登出</a>
                          </li>
                      </ul>
                  </li>
                  <li class="supnav-item nav-messages subnav-trigger">
                      <a title="通知" href="{{host}}/messages/"></a>
                  </li>
                  <li class="supnav-item subnav-trigger nav-publish">
                      <a class="publish-btn" href="{{host}}/new-photo/">发布</a>
                      <ul class="subnav-list">
                          <li><a href="{{host}}/new-photo/">发照片</a></li>
                          <li><a href="{{host}}/new-text/">发文字</a></li>
                      </ul>
                  </li>
              </ul>
          </div>
      {{/eq}}

    </nav>
</header>
