<div class="notify-bar card" style="display: none;"><ul class="notify-list"></ul><div class="read-all"><a href="javascript:void(0)" class="btn btn-sm btn-default">知道了</a></div></div>

<header id="site-header">
    <div class="site-header-wrapper">
        <div class="site-nav-wrapper">
            <div class="container">
                <span class="icon-bg"></span>
                <img class="profile-icon" src="https://s1.tuchong.com/sites/155/1551288/logo_large.jpg?1" alt="子一824" title="子一824">

                <div class="pull-left">
                    <div class="profile-name">
                        <!--用户名和徽章-->
                        <h2>子一824                                                                                                                                </h2>
                        <a class="icon-vip" href="{{host}}/help/user/" title="星级用户"></a>
                    </div>
                    <!--个人信息-->
                    <ul class="site-nav">
                        <li class=" active"><a href="{{host}}/1551288/">图博</a></li>
                        <li class=""><a href="{{host}}/1551288/favorites/">分享</a></li>
                        <li class=""><a href="{{host}}/1551288/albums/">相册</a></li>
                        <li class=""><a href="{{host}}/1551288/profile/">资料</a></li>
                        <li class=""><a href="{{host}}/1551288/collections/">收藏夹</a></li>
                    </ul>
                </div>
                <div class="profile-meta">
                    <a href="#">福建</a>
                    <a href="{{host}}/1551288/following/">4                                关注</a>
                    <a href="{{host}}/1551288/followers/">0                                关注者</a>
                    <a class="ir icon-small icon-rss" href="{{host}}/1551288/feeds/" target="_blank" rel="nofollow" title="RSS地址">RSS地址</a>
                </div>
            </div>
        </div>
    </div>
</header>
