{{#extend "style"}}
    <link href="/mobile/css/vision.css" rel="stylesheet">
{{/extend}}



{{#extend "script"}}

{{/extend}}



<main>
    <div class="container">
        <div class="content">
            <div class="widget-slide">
                <div class="slide-wrapper" style="position: absolute; left: 0px; top: 0px; font-size: 0px; width: 2520px; height: 180px; transform: translate3d(-1080px, 0px, 0px);"><a class="slide-item" style="background-image: url(&quot;https://s1.tuchong.com//content-image/84f2793230114971f2ab5360e9c721eb.jpg&quot;); display: inline-block; width: 360px; height: 180px;" target="_blank" href="{{host}}/events/436636/"></a>
                    <a class="slide-item" style="background-image: url(&quot;http://s1.tuchong.com/content-image/f67da7a137fcd1ddbcf0f82f9d836c20.jpg&quot;); display: inline-block; width: 360px; height: 180px;" target="_blank" href="{{host}}/1541440/t/13494785/"></a>
                    <a class="slide-item" style="background-image: url(&quot;//s1.tuchong.com//content-image/0a1cb9c477a2cb12298326be124dabd8.jpg&quot;); display: inline-block; width: 360px; height: 180px;" target="_blank" href="{{host}}/1543604/t/13507617/"></a>
                    <a class="slide-item" style="background-image: url(&quot;//s1.tuchong.com//content-image/766cbd63b8b88a1a72fc225be00e8055.jpg&quot;); display: inline-block; width: 360px; height: 180px;" target="_blank" href="{{host}}/467409/13402020/"></a>
                    <a class="slide-item" style="background-image: url(&quot;//s1.tuchong.com//content-image/2444657481ea3f6f4d01fb715486ff85.jpg&quot;); display: inline-block; width: 360px; height: 180px;" target="_blank" href="https://indiefoto.tuchong.com/t/13516394/"></a>
                    <a class="slide-item" style="background-image: url(&quot;https://s1.tuchong.com//content-image/84f2793230114971f2ab5360e9c721eb.jpg&quot;); display: inline-block; width: 360px; height: 180px;" target="_blank" href="{{host}}/events/436636/"></a>
                    <a class="slide-item" style="background-image: url(&quot;http://s1.tuchong.com/content-image/f67da7a137fcd1ddbcf0f82f9d836c20.jpg&quot;); display: inline-block; width: 360px; height: 180px;" target="_blank" href="{{host}}/1541440/t/13494785/"></a></div>
                <div class="slide-mask">
                    <h3 class="slide-title">Living like a dog</h3>
                    <div class="slide-bullet">
                        <a data-index="0" href="javascript:void(0);" class="bullet-default"></a>
                        <a data-index="1" href="javascript:void(0);" class="bullet-default"></a>
                        <a data-index="2" href="javascript:void(0);" class="bullet-default bullet-active"></a>
                        <a data-index="3" href="javascript:void(0);" class="bullet-default"></a>
                        <a data-index="4" href="javascript:void(0);" class="bullet-default"></a>
                    </div>
                </div>
            </div>
            <div class="widget-tab">
                <div class="tab-wrapper">
                    <a href="javascript:void(0);" data-siteids="1143816,1156563,1156567,1156570,1156573" class="tab-item tab-item-current">推荐</a>
                    <a href="javascript:void(0);" data-siteids="1143816" class="tab-item ">动态</a>
                    <a href="javascript:void(0);" data-siteids="1156563" class="tab-item ">学院</a>
                    <a href="javascript:void(0);" data-siteids="1156567" class="tab-item ">大片</a>
                    <a href="javascript:void(0);" data-siteids="1156570" class="tab-item ">书房</a>
                    <a href="javascript:void(0);" data-siteids="1156573" class="tab-item ">教程</a>
                </div>
            </div>
            <div class="widget-visionlist"><ul class="pagelist-wrapper">
                <li class="impression-item" data-post-id="13546079">

                    <div class="item-info">
                        <a href="{{host}}/1476725/13546079/" class="item-title" target="_blank">《日常-遇见》中外青年摄影师联展入展作品</a>
                        <div class="item-album">


                            <a href="{{host}}/1476725/13546079/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/1476725/g/32254601.webp"></a>

                            <a href="{{host}}/1476725/13546079/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/1476725/g/32254602.webp"></a>

                            <a href="{{host}}/1476725/13546079/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/1476725/g/32254603.webp"></a>

                            <a href="{{host}}/1476725/13546079/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/1476725/g/32254604.webp"></a>


                            <span class="hint">共81图</span>

                        </div>

                        <p class="item-desc">由中国摄影家协会信息资源部主办，影像国际网、中国摄影家协会网、影像中国网承办的《日常-遇见》中外青年摄影师联展》入展作品揭晓。
                            本次影展由偶酷网作为独家网络合作平台，启动征稿后，通过偶酷网和网络征稿等途径，在不到20天的时间里，共收到来自中国、中国台湾、美国、日本、韩国、以色列、印度、孟加拉、缅甸、新加坡、菲律宾、马来西亚、西班牙、比利时、波兰等国家和地区289位作者的348组作品。
                            经过评委会评审，最...</p>

                    </div>

                    <div class="item-related">
                        <div class="item-tags has-tags">


                            <a href="//tuchong.com/tags/人文" target="_blank">人文</a>

                            <a href="//tuchong.com/tags/情绪" target="_blank">情绪</a>

                            <a href="//tuchong.com/tags/纪实" target="_blank">纪实</a>

                            <a href="//tuchong.com/tags/情感" target="_blank">情感</a>

                        </div>
                        <div class="item-handler">
                            <a href="{{host}}/1476725/13546079/#comment" target="_blank">2</a>
                        </div>
                    </div>
                </li>

                <li class="impression-item" data-post-id="13542856">


                    <a href="{{host}}/1132548/t/13542856/" class="item-cover" target="_blank">
                        <img src="https://photo.tuchong.com/1132548/g/25266239.webp">
                    </a>
                    <div class="item-info" style="padding-left: 100px;">
                        <a href="{{host}}/1132548/t/13542856/" class="item-title" target="_blank">专访濑户正人:寻找仍未见过的下一张照片</a>
                        <p class="item-desc">“寻找仍未见过的下一张照片”——这是濑户正人给自己创办的画廊设定的标语，而这也可以看作是濑户对于自己的创作要求。濑户正人生于泰国，8岁时迁居日本，曾是森山大道的学生，也担任过深濑昌久的助手。丰富的生活经历，也构成了其艺术作品复杂而多样的面向。如果说《曼谷&amp;河内》系列是濑户对自我成长经历的追根溯源，之后获得木村伊兵卫赏的《Slient Mode》《Living room, Tokyo》等肖像系列则更多地体现了他对于外部世界的探索和...</p>
                    </div>


                    <div class="item-related">
                        <div class="item-tags has-tags">


                            <a href="//tuchong.com/tags/街拍中国" target="_blank">街拍中国</a>

                            <a href="//tuchong.com/tags/北京" target="_blank">北京</a>

                            <a href="//tuchong.com/tags/街拍" target="_blank">街拍</a>

                            <a href="//tuchong.com/tags/城市" target="_blank">城市</a>

                            <a href="//tuchong.com/tags/濑户正人" target="_blank">濑户正人</a>

                            <a href="//tuchong.com/tags/专访" target="_blank">专访</a>

                        </div>
                        <div class="item-handler">
                            <a href="{{host}}/1132548/t/13542856/#comment" target="_blank">1</a>
                        </div>
                    </div>
                </li>

                <li class="impression-item" data-post-id="13542346">

                    <div class="item-info">
                        <a href="https://photoyan.tuchong.com/13542346/" class="item-title" target="_blank">有风的城市</a>
                        <div class="item-album">


                            <a href="https://photoyan.tuchong.com/13542346/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/235855/g/30568261.webp"></a>

                            <a href="https://photoyan.tuchong.com/13542346/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/235855/g/30568246.webp"></a>

                            <a href="https://photoyan.tuchong.com/13542346/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/235855/g/30568244.webp"></a>

                            <a href="https://photoyan.tuchong.com/13542346/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/235855/g/30568245.webp"></a>


                            <span class="hint">共26图</span>

                        </div>

                        <p class="item-desc">除了有风，还有阳光，和干净的空气和食物。</p>

                    </div>

                    <div class="item-related">
                        <div class="item-tags has-tags">


                            <a href="//tuchong.com/tags/城市" target="_blank">城市</a>

                            <a href="//tuchong.com/tags/街拍" target="_blank">街拍</a>

                            <a href="//tuchong.com/tags/一顿乱拍" target="_blank">一顿乱拍</a>

                        </div>
                        <div class="item-handler">
                            <a href="https://photoyan.tuchong.com/13542346/#comment" target="_blank">3</a>
                        </div>
                    </div>
                </li>

                <li class="impression-item" data-post-id="13494785">


                    <a href="{{host}}/1541440/t/13494785/" class="item-cover" target="_blank">
                        <img src="https://photo.tuchong.com/1541440/g/26302419.webp">
                    </a>
                    <div class="item-info" style="padding-left: 100px;">
                        <a href="{{host}}/1541440/t/13494785/" class="item-title" target="_blank">访谈 | 置身在幻觉与现实的深处：曾戈与摄影书《致幻》</a>
                        <p class="item-desc">△ 曾戈我们熟悉的世界，就是“真实”的世界吗？《致幻》是曾戈给出的回答。当触碰到表象下隐藏的丰富内涵时，曾戈并未选择抽离，而是走入幻觉与现实的深处进行拍摄，探索表象背后隐藏的神秘之物。这种介于虚幻与现实之间的交错，是大脑能够接收到的自由意志，是切换于固态与流动之间的美感。曾戈，1990年生于广东汕头，2015年毕业于广州美术学院，获艺术学理论硕士学位。曾为摄影记者，现为摄影师，工作生活于广州。摄影作品曾参...</p>
                    </div>


                    <div class="item-related">
                        <div class="item-tags has-tags">


                            <a href="//tuchong.com/tags/访谈" target="_blank">访谈</a>

                            <a href="//tuchong.com/tags/采访" target="_blank">采访</a>

                            <a href="//tuchong.com/tags/摄影书" target="_blank">摄影书</a>

                            <a href="//tuchong.com/tags/曾戈" target="_blank">曾戈</a>

                            <a href="//tuchong.com/tags/偶酷摄影师" target="_blank">偶酷摄影师</a>

                        </div>
                        <div class="item-handler">
                            <a href="{{host}}/1541440/t/13494785/#comment" target="_blank">0</a>
                        </div>
                    </div>
                </li>

                <li class="impression-item" data-post-id="13547115">

                    <div class="item-info">
                        <a href="https://jianmo.tuchong.com/13547115/" class="item-title" target="_blank">《流放地》</a>
                        <div class="item-album">


                            <a href="https://jianmo.tuchong.com/13547115/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/357341/g/12990399.webp"></a>

                            <a href="https://jianmo.tuchong.com/13547115/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/357341/g/12990400.webp"></a>

                            <a href="https://jianmo.tuchong.com/13547115/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/357341/g/12990401.webp"></a>

                            <a href="https://jianmo.tuchong.com/13547115/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/357341/g/12990402.webp"></a>


                            <span class="hint">共22图</span>

                        </div>

                        <p class="item-desc">15年4月份，我辞掉工作以一种流放的方式漫无目的地行走，在行走中不断地意识和捕获与我相逢的人或物的种种状态，这些状态既不够荒诞也不够真实。这一切是摄影给予的它们或者我们重新被思考和被看待的机会，揭露了它们或者我们被所处的环境孤立和隔离。每一个人或物都与周遭的环境是妥协的又是对立的，相互依存却又彼此间疏。世间万物大概都在时间这条长河里不停地做着流放吧，且时常孤立无援……</p>

                    </div>

                    <div class="item-related">
                        <div class="item-tags has-tags">


                            <a href="//tuchong.com/tags/纪实" target="_blank">纪实</a>

                            <a href="//tuchong.com/tags/胶片" target="_blank">胶片</a>

                            <a href="//tuchong.com/tags/中画幅" target="_blank">中画幅</a>

                        </div>
                        <div class="item-handler">
                            <a href="https://jianmo.tuchong.com/13547115/#comment" target="_blank">0</a>
                        </div>
                    </div>
                </li>

                <li class="impression-item" data-post-id="13542444">

                    <div class="item-info">
                        <a href="{{host}}/396824/13542444/" class="item-title" target="_blank">我一个人跳舞</a>
                        <div class="item-album">


                            <a href="{{host}}/396824/13542444/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/396824/g/24801533.webp"></a>

                            <a href="{{host}}/396824/13542444/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/396824/g/24801531.webp"></a>

                            <a href="{{host}}/396824/13542444/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/396824/g/24801532.webp"></a>

                            <a href="{{host}}/396824/13542444/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/396824/g/24801534.webp"></a>


                            <span class="hint">共17图</span>

                        </div>

                        <p class="item-desc">心若不动，风又奈何。


                            模特：冯木木</p>

                    </div>

                    <div class="item-related">
                        <div class="item-tags has-tags">


                            <a href="//tuchong.com/tags/人像" target="_blank">人像</a>

                            <a href="//tuchong.com/tags/色彩" target="_blank">色彩</a>

                            <a href="//tuchong.com/tags/少女" target="_blank">少女</a>

                            <a href="//tuchong.com/tags/情感" target="_blank">情感</a>

                            <a href="//tuchong.com/tags/佳能" target="_blank">佳能</a>

                            <a href="//tuchong.com/tags/北京" target="_blank">北京</a>

                        </div>
                        <div class="item-handler">
                            <a href="{{host}}/396824/13542444/#comment" target="_blank">16</a>
                        </div>
                    </div>
                </li>

                <li class="impression-item" data-post-id="13545147">

                    <div class="item-info">
                        <a href="https://xinyang.tuchong.com/13545147/" class="item-title" target="_blank">后期教程修片过程</a>
                        <div class="item-album">


                            <a href="https://xinyang.tuchong.com/13545147/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/445693/g/12007809.webp"></a>

                            <a href="https://xinyang.tuchong.com/13545147/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/445693/g/12008106.webp"></a>

                            <a href="https://xinyang.tuchong.com/13545147/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/445693/g/12008107.webp"></a>

                            <a href="https://xinyang.tuchong.com/13545147/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/445693/g/12008108.webp"></a>


                            <span class="hint">共18图</span>

                        </div>

                        <p class="item-desc">有一句话说的非常好，前期是谱曲，后期是演奏。如今的数码时代，适当的后期是必要的，可以起到弥补不足和锦上添花的作用。不同的摄影作品有不同的后期处理手法。下面我们以一张图为例，展开一次完整的后期调片过程。微信：15886361997</p>

                    </div>

                    <div class="item-related">
                        <div class="item-tags has-tags">


                            <a href="//tuchong.com/tags/风光" target="_blank">风光</a>

                            <a href="//tuchong.com/tags/后期" target="_blank">后期</a>

                            <a href="//tuchong.com/tags/四川" target="_blank">四川</a>

                        </div>
                        <div class="item-handler">
                            <a href="https://xinyang.tuchong.com/13545147/#comment" target="_blank">10</a>
                        </div>
                    </div>
                </li>

                <li class="impression-item" data-post-id="13543522">

                    <div class="item-info">
                        <a href="https://pengfangzheng.tuchong.com/13543522/" class="item-title" target="_blank">Grace Guozhi by Grant Thomas for Suitcase Magazine.</a>
                        <div class="item-album">


                            <a href="https://pengfangzheng.tuchong.com/13543522/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/1528552/g/27880869.webp"></a>

                            <a href="https://pengfangzheng.tuchong.com/13543522/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/1528552/g/27880870.webp"></a>

                            <a href="https://pengfangzheng.tuchong.com/13543522/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/1528552/g/27880871.webp"></a>

                            <a href="https://pengfangzheng.tuchong.com/13543522/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/1528552/g/27880872.webp"></a>


                            <span class="hint">共8图</span>

                        </div>

                        <p class="item-desc">Grace Guozhi by Grant Thomas for Suitcase Magazine.</p>

                    </div>

                    <div class="item-related">
                        <div class="item-tags has-tags">


                            <a href="//tuchong.com/tags/人像" target="_blank">人像</a>

                            <a href="//tuchong.com/tags/少女" target="_blank">少女</a>

                            <a href="//tuchong.com/tags/情绪" target="_blank">情绪</a>

                            <a href="//tuchong.com/tags/唯美" target="_blank">唯美</a>

                            <a href="//tuchong.com/tags/中国" target="_blank">中国</a>

                        </div>
                        <div class="item-handler">
                            <a href="https://pengfangzheng.tuchong.com/13543522/#comment" target="_blank">4</a>
                        </div>
                    </div>
                </li>

                <li class="impression-item" data-post-id="13543903">


                    <a href="https://skyshots.tuchong.com/t/13543903/" class="item-cover" target="_blank">
                        <img src="https://photo.tuchong.com/1293533/g/11560238.webp">
                    </a>
                    <div class="item-info" style="padding-left: 100px;">
                        <a href="https://skyshots.tuchong.com/t/13543903/" class="item-title" target="_blank">难道普通相机的失误片子就无法拯救了吗？</a>
                        <p class="item-desc">写给刚刚接触风光摄影的朋友们，如何挽救自己心爱的风景片                                                                 佳能600d拍摄原片照片分析底片是一个风景初学者的作品，iso400对于半画幅机器略高，总体分析片子的质量并不高前景相对来说还可以，中间调可能是因为天气的原因有大量的雾，天空偏灰细节很少。总体思路优化光影、素描结构、还原真实颜色、去灰那么问题来了有人说即要把天空的细节恢复，又要保证“通明...</p>
                    </div>


                    <div class="item-related">
                        <div class="item-tags has-tags">


                            <a href="//tuchong.com/tags/摄影后期教程" target="_blank">摄影后期教程</a>

                            <a href="//tuchong.com/tags/后期教程" target="_blank">后期教程</a>

                        </div>
                        <div class="item-handler">
                            <a href="https://skyshots.tuchong.com/t/13543903/#comment" target="_blank">6</a>
                        </div>
                    </div>
                </li>

                <li class="impression-item" data-post-id="13500755">

                    <div class="item-info">
                        <a href="{{host}}/1397271/13500755/" class="item-title" target="_blank">街拍西班牙</a>
                        <div class="item-album">


                            <a href="{{host}}/1397271/13500755/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/1397271/g/20406556.webp"></a>

                            <a href="{{host}}/1397271/13500755/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/1397271/g/20406557.webp"></a>

                            <a href="{{host}}/1397271/13500755/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/1397271/g/20406558.webp"></a>

                            <a href="{{host}}/1397271/13500755/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/1397271/g/20406559.webp"></a>


                            <span class="hint">共56图</span>

                        </div>

                    </div>

                    <div class="item-related">
                        <div class="item-tags has-tags">


                            <a href="//tuchong.com/tags/阮义忠摄影人文奖" target="_blank">阮义忠摄影人文奖</a>

                            <a href="//tuchong.com/tags/旅行" target="_blank">旅行</a>

                            <a href="//tuchong.com/tags/街拍" target="_blank">街拍</a>

                            <a href="//tuchong.com/tags/黑白" target="_blank">黑白</a>

                            <a href="//tuchong.com/tags/西斑牙" target="_blank">西斑牙</a>

                            <a href="//tuchong.com/tags/富士" target="_blank">富士</a>

                        </div>
                        <div class="item-handler">
                            <a href="{{host}}/1397271/13500755/#comment" target="_blank">0</a>
                        </div>
                    </div>
                </li>
            </ul><div class="pagelist-load-more">加载更多</div></div>
        </div>
    </div>
</main>
