{{#extend "style"}}
    <link href="/pc/css/activity.css" rel="stylesheet">
{{/extend}}



{{#extend "script"}}

{{/extend}}



<main>
    <div class="container" style="padding-top: 0px;">
        <div class="banner">
            <div class="widget-slide">
                <div class="slide-wrapper" style="position: absolute; font-size: 0px; width: 3875px; height: 394px; left: -775px; top: 0px;"><a class="slide-item" href="{{host}}/activity/424535/" style="background-image: url(&quot;https://s1.tuchong.com/event-banners/424535/pc.jpg?3&quot;); display: inline-block; width: 775px; height: 394px;" target="_blank"></a>
                    <a class="slide-item" href="{{host}}/activity/442685/" style="background-image: url(&quot;https://s1.tuchong.com/event-banners/442685/pc.jpg?1&quot;); display: inline-block; width: 775px; height: 394px;" target="_blank"></a>
                    <a class="slide-item" href="{{host}}/activity/440935/" style="background-image: url(&quot;https://s1.tuchong.com/event-banners/425255/pc.jpg?4&quot;); display: inline-block; width: 775px; height: 394px;" target="_blank"></a>
                    <a class="slide-item" href="{{host}}/activity/424535/" style="background-image: url(&quot;https://s1.tuchong.com/event-banners/424535/pc.jpg?3&quot;); display: inline-block; width: 775px; height: 394px;" target="_blank"></a>
                    <a class="slide-item" href="{{host}}/activity/442685/" style="background-image: url(&quot;https://s1.tuchong.com/event-banners/442685/pc.jpg?1&quot;); display: inline-block; width: 775px; height: 394px;" target="_blank"></a></div>
            </div>
            <ul class="slide-indicators">
                <li class="active">
                    <a style="background-image: url(https://s1.tuchong.com/event-banners/442685/pc.jpg?1)"></a>
                    <a data-index="0" href="javascript:void(0);" class="indicator-mask"></a>
                </li>
                <li class="">
                    <a style="background-image: url(https://s1.tuchong.com/event-banners/425255/pc.jpg?4)"></a>
                    <a data-index="1" href="javascript:void(0);" class="indicator-mask"></a>
                </li>
                <li class="">
                    <a style="background-image: url(https://s1.tuchong.com/event-banners/424535/pc.jpg?3)"></a>
                    <a data-index="2" href="javascript:void(0);" class="indicator-mask"></a>
                </li>
            </ul>
        </div>
        <div class="editor-recommend">
            <h2>活动推荐</h2>
            <ul class="recommend-list">
                <li class="event-item" style="background-image: url(https://photo.tuchong.com/1413477/l/13910156.webp)">
                    <a class="event-mask" href="{{host}}/activity/442473/" target="_blank">
                        <h3 class="event-title">街头幽默</h3>
                        <p class="event-posts">已投稿146</p>
                    </a>
                </li>
                <li class="event-item" style="background-image: url(https://s1.tuchong.com/event-banners/437713/app.jpg?2)">
                    <a class="event-mask" href="{{host}}/activity/437713/" target="_blank">
                        <h3 class="event-title">镜头上的美食</h3>
                        <p class="event-posts">已投稿585</p>
                    </a>
                </li>
                <li class="event-item" style="background-image: url(https://s1.tuchong.com/event-banners/422788/app.jpg?6)">
                    <a class="event-mask" href="{{host}}/activity/422788/" target="_blank">
                        <h3 class="event-title">「摄影书房」摄影书公开征集</h3>
                        <p class="event-posts">已投稿652</p>
                    </a>
                </li>
            </ul>
        </div>
        <nav class="secondary-nav">
            <ul class="nav-list" style="width: 1030px; margin: 0px auto;">
                <li class="active"><a class="switch-type" href="javascript: void(0);" data-type="hot">热门</a></li>
                <li><a class="switch-type" href="javascript: void(0);" data-type="new">最新</a></li>
                <li><a class="switch-type" href="javascript: void(0);" data-type="closed">已结束</a></li>
                <li id="new-event"><a href="/events/new" target="_blank">发起活动</a></li>
            </ul>
        </nav>
        <div class="widget-eventslist"><ul class="pagelist-wrapper">

            <li class="event-item" data-lazy-url="https://photo.tuchong.com/430461/l/26504838.webp" style="background-image: url(&quot;https://photo.tuchong.com/430461/l/26504838.webp&quot;);">
                <a class="event-mask" href="{{host}}/activity/440935/" target="_blank">
                    <h3 class="event-title">“街拍中国”九月赛</h3>

                    <p class="event-posts">已投稿4549</p>


                    <p class="event-deadline has-award">距结束<em>9</em>天</p>

                </a>
            </li>


            <li class="event-item" data-lazy-url="https://s1.tuchong.com/event-banners/442685/app.jpg?2" style="background-image: url(&quot;https://s1.tuchong.com/event-banners/442685/app.jpg?2&quot;);">
                <a class="event-mask" href="{{host}}/activity/442685/" target="_blank">
                    <h3 class="event-title">“奇迹之镜”偶酷风光摄影典藏双月赛第三季</h3>

                    <p class="event-posts">已投稿904</p>


                    <p class="event-deadline has-award">距结束<em>48</em>天</p>

                </a>
            </li>


            <li class="event-item" data-lazy-url="https://photo.tuchong.com/1118844/l/19349069.webp" style="background-image: url(&quot;https://photo.tuchong.com/1118844/l/19349069.webp&quot;);">
                <a class="event-mask" href="{{host}}/activity/441926/" target="_blank">
                    <h3 class="event-title">胖电塔与街头摄影04期</h3>

                    <p class="event-posts">已投稿1121</p>


                    <p class="event-deadline has-award">距结束<em>9</em>天</p>

                </a>
            </li>


            <li class="event-item" data-lazy-url="https://s1.tuchong.com/event-banners/424535/app.jpg?3" style="background-image: url(&quot;https://s1.tuchong.com/event-banners/424535/app.jpg?3&quot;);">
                <a class="event-mask" href="{{host}}/activity/424535/" target="_blank">
                    <h3 class="event-title">偶酷女神计划</h3>

                    <p class="event-posts">已投稿11372</p>


                    <p class="event-deadline has-award">距结束<em>85</em>天</p>

                </a>
            </li>


            <li class="event-item" data-lazy-url="https://photo.tuchong.com/250829/l/31543728.webp" style="background-image: url(&quot;https://photo.tuchong.com/250829/l/31543728.webp&quot;);">
                <a class="event-mask" href="{{host}}/activity/441365/" target="_blank">
                    <h3 class="event-title">CAPA十一月风景建筑篇</h3>

                    <p class="event-posts">已投稿1196</p>


                    <p class="event-deadline has-award">距结束<em>6</em>天</p>

                </a>
            </li>


            <li class="event-item" data-lazy-url="https://photo.tuchong.com/275702/l/13646438.webp" style="background-image: url(&quot;https://photo.tuchong.com/275702/l/13646438.webp&quot;);">
                <a class="event-mask" href="{{host}}/activity/432193/" target="_blank">
                    <h3 class="event-title">阮义忠摄影人文奖</h3>

                    <p class="event-posts">已投稿3381</p>


                    <p class="event-deadline has-award">距结束<em>9</em>天</p>

                </a>
            </li>


            <li class="event-item" data-lazy-url="https://s1.tuchong.com/event-banners/442277/app.jpg?2" style="background-image: url(&quot;https://s1.tuchong.com/event-banners/442277/app.jpg?2&quot;);">
                <a class="event-mask" href="{{host}}/activity/442277/" target="_blank">
                    <h3 class="event-title">夕阳捕手</h3>

                    <p class="event-posts">已投稿715</p>


                </a>
            </li>


            <li class="event-item" data-lazy-url="https://s1.tuchong.com/event-banners/418426/app.jpg?5" style="background-image: url(&quot;https://s1.tuchong.com/event-banners/418426/app.jpg?5&quot;);">
                <a class="event-mask" href="{{host}}/activity/418426/" target="_blank">
                    <h3 class="event-title">写真的话-偶酷摄影写作者募集</h3>

                    <p class="event-posts">已投稿8341</p>


                    <p class="event-deadline has-award">距结束<em>28</em>天</p>

                </a>
            </li>


            <li class="event-item" data-lazy-url="https://s1.tuchong.com/event-banners/436404/app.jpg?2" style="background-image: url(&quot;https://s1.tuchong.com/event-banners/436404/app.jpg?2&quot;);">
                <a class="event-mask" href="{{host}}/activity/436404/" target="_blank">
                    <h3 class="event-title">全球“笑脸”征集令！</h3>

                    <p class="event-posts">已投稿402</p>


                </a>
            </li>


            <li class="event-item" data-lazy-url="https://s1.tuchong.com/event-banners/439037/app.jpg?1" style="background-image: url(&quot;https://s1.tuchong.com/event-banners/439037/app.jpg?1&quot;);">
                <a class="event-mask" href="{{host}}/activity/439037/" target="_blank">
                    <h3 class="event-title">极简主义，少即是多</h3>

                    <p class="event-posts">已投稿2030</p>


                </a>
            </li>


            <li class="event-item" data-lazy-url="https://s1.tuchong.com/event-banners/442317/app.jpg?3" style="background-image: url(&quot;https://s1.tuchong.com/event-banners/442317/app.jpg?3&quot;);">
                <a class="event-mask" href="{{host}}/activity/442317/" target="_blank">
                    <h3 class="event-title">长曝.城市</h3>

                    <p class="event-posts">已投稿312</p>


                </a>
            </li>


            <li class="event-item" data-lazy-url="https://s1.tuchong.com/event-banners/432255/app.jpg?17" style="background-image: url(&quot;https://s1.tuchong.com/event-banners/432255/app.jpg?17&quot;);">
                <a class="event-mask" href="{{host}}/activity/432255/" target="_blank">
                    <h3 class="event-title">偶酷封面你做主</h3>

                    <p class="event-posts">已投稿3341</p>


                </a>
            </li>


            <li class="event-item" data-lazy-url="https://photo.tuchong.com/46448/l/19615072.webp" style="background-image: url(&quot;https://photo.tuchong.com/46448/l/19615072.webp&quot;);">
                <a class="event-mask" href="{{host}}/activity/439869/" target="_blank">
                    <h3 class="event-title">二〇一六新锐摄影奖</h3>

                    <p class="event-posts">已投稿804</p>


                    <p class="event-deadline has-award">距结束<em>54</em>天</p>

                </a>
            </li>


            <li class="event-item" data-lazy-url="https://photo.tuchong.com/438396/l/17250230.webp" style="background-image: url(&quot;https://photo.tuchong.com/438396/l/17250230.webp&quot;);">
                <a class="event-mask" href="{{host}}/activity/442407/" target="_blank">
                    <h3 class="event-title">Kase卡色“花开未央”风光摄影现金大赛（第十期）</h3>

                    <p class="event-posts">已投稿490</p>


                    <p class="event-deadline has-award">距结束<em>44</em>天</p>

                </a>
            </li>


            <li class="event-item" data-lazy-url="https://s1.tuchong.com/event-banners/437001/app.jpg?1" style="background-image: url(&quot;https://s1.tuchong.com/event-banners/437001/app.jpg?1&quot;);">
                <a class="event-mask" href="{{host}}/activity/437001/" target="_blank">
                    <h3 class="event-title">人像不给脸！</h3>

                    <p class="event-posts">已投稿1521</p>


                </a>
            </li>


            <li class="event-item" data-lazy-url="https://photo.tuchong.com/1366873/l/19417762.webp" style="background-image: url(&quot;https://photo.tuchong.com/1366873/l/19417762.webp&quot;);">
                <a class="event-mask" href="{{host}}/activity/441402/" target="_blank">
                    <h3 class="event-title">CAPA主题影赛“秋”</h3>

                    <p class="event-posts">已投稿455</p>


                    <p class="event-deadline has-award">距结束<em>6</em>天</p>

                </a>
            </li>


            <li class="event-item" data-lazy-url="https://s1.tuchong.com/event-banners/435914/app.jpg?1" style="background-image: url(&quot;https://s1.tuchong.com/event-banners/435914/app.jpg?1&quot;);">
                <a class="event-mask" href="{{host}}/activity/435914/" target="_blank">
                    <h3 class="event-title">我用手机修照片</h3>

                    <p class="event-posts">已投稿3839</p>


                </a>
            </li>


            <li class="event-item" data-lazy-url="https://photo.tuchong.com/1171228/l/12930655.webp" style="background-image: url(&quot;https://photo.tuchong.com/1171228/l/12930655.webp&quot;);">
                <a class="event-mask" href="{{host}}/activity/441363/" target="_blank">
                    <h3 class="event-title">CAPA十二月人像篇</h3>

                    <p class="event-posts">已投稿539</p>


                    <p class="event-deadline has-award">距结束<em>36</em>天</p>

                </a>
            </li>


            <li class="event-item" data-lazy-url="https://photo.tuchong.com/952175/l/18962909.webp" style="background-image: url(&quot;https://photo.tuchong.com/952175/l/18962909.webp&quot;);">
                <a class="event-mask" href="{{host}}/activity/442318/" target="_blank">
                    <h3 class="event-title">一句文艺</h3>

                    <p class="event-posts">已投稿167</p>


                </a>
            </li>


            <li class="event-item" data-lazy-url="https://photo.tuchong.com/275702/l/13646438.webp" style="background-image: url(&quot;https://photo.tuchong.com/275702/l/13646438.webp&quot;);">
                <a class="event-mask" href="{{host}}/activity/441364/" target="_blank">
                    <h3 class="event-title">CAPA十一月人文小品篇</h3>

                    <p class="event-posts">已投稿314</p>


                    <p class="event-deadline has-award">距结束<em>6</em>天</p>

                </a>
            </li>


            <li class="event-item" data-lazy-url="https://photo.tuchong.com/1504046/l/8664144.webp" style="background-image: url(&quot;https://photo.tuchong.com/1504046/l/8664144.webp&quot;);">
                <a class="event-mask" href="{{host}}/activity/436973/" target="_blank">
                    <h3 class="event-title">我用Prisma修照片</h3>

                    <p class="event-posts">已投稿785</p>


                </a>
            </li>


            <li class="event-item" data-lazy-url="https://s1.tuchong.com/event-banners/439878/app.jpg?2" style="background-image: url(&quot;https://s1.tuchong.com/event-banners/439878/app.jpg?2&quot;);">
                <a class="event-mask" href="{{host}}/activity/439878/" target="_blank">
                    <h3 class="event-title">上班族的街拍路</h3>

                    <p class="event-posts">已投稿487</p>


                </a>
            </li>


            <li class="event-item" data-lazy-url="https://s1.tuchong.com/event-banners/436636/app.jpg?2" style="background-image: url(&quot;https://s1.tuchong.com/event-banners/436636/app.jpg?2&quot;);">
                <a class="event-mask" href="{{host}}/activity/436636/" target="_blank">
                    <h3 class="event-title">第六届侯登科纪实摄影奖</h3>

                    <p class="event-posts">已投稿447</p>


                    <p class="event-deadline has-award">距结束<em>49</em>天</p>

                </a>
            </li>


            <li class="event-item" data-lazy-url="https://s1.tuchong.com/event-banners/440226/app.jpg?1" style="background-image: url(&quot;https://s1.tuchong.com/event-banners/440226/app.jpg?1&quot;);">
                <a class="event-mask" href="{{host}}/activity/440226/" target="_blank">
                    <h3 class="event-title">偶酷开屏等你来占</h3>

                    <p class="event-posts">已投稿987</p>


                </a>
            </li>


            <li class="event-item" data-lazy-url="https://photo.tuchong.com/1404084/l/29128586.webp" style="background-image: url(&quot;https://photo.tuchong.com/1404084/l/29128586.webp&quot;);">
                <a class="event-mask" href="{{host}}/activity/436475/" target="_blank">
                    <h3 class="event-title">给女朋友拍照才是正经事</h3>

                    <p class="event-posts">已投稿808</p>


                </a>
            </li>


            <li class="event-item" data-lazy-url="https://s1.tuchong.com/event-banners/438636/app.jpg?6" style="background-image: url(&quot;https://s1.tuchong.com/event-banners/438636/app.jpg?6&quot;);">
                <a class="event-mask" href="{{host}}/activity/438636/" target="_blank">
                    <h3 class="event-title">就爱爬楼</h3>

                    <p class="event-posts">已投稿684</p>


                </a>
            </li>


            <li class="event-item" data-lazy-url="https://photo.tuchong.com/1156842/l/11745555.webp" style="background-image: url(&quot;https://photo.tuchong.com/1156842/l/11745555.webp&quot;);">
                <a class="event-mask" href="{{host}}/activity/443748/" target="_blank">
                    <h3 class="event-title">偶酷公开课01期：星空摄影我也能拍！</h3>

                    <p class="event-posts">已投稿45</p>


                </a>
            </li>


            <li class="event-item" data-lazy-url="https://photo.tuchong.com/1413477/l/13910156.webp" style="background-image: url(&quot;https://photo.tuchong.com/1413477/l/13910156.webp&quot;);">
                <a class="event-mask" href="{{host}}/activity/442473/" target="_blank">
                    <h3 class="event-title">街头幽默</h3>

                    <p class="event-posts">已投稿146</p>


                </a>
            </li>


            <li class="event-item" data-lazy-url="https://s1.tuchong.com/event-banners/437713/app.jpg?2" style="background-image: url(&quot;https://s1.tuchong.com/event-banners/437713/app.jpg?2&quot;);">
                <a class="event-mask" href="{{host}}/activity/437713/" target="_blank">
                    <h3 class="event-title">镜头上的美食</h3>

                    <p class="event-posts">已投稿585</p>


                </a>
            </li>


            <li class="event-item" data-lazy-url="https://s1.tuchong.com/event-banners/435583/app.jpg?2" style="background-image: url(&quot;https://s1.tuchong.com/event-banners/435583/app.jpg?2&quot;);">
                <a class="event-mask" href="{{host}}/activity/435583/" target="_blank">
                    <h3 class="event-title">好色之图</h3>

                    <p class="event-posts">已投稿1511</p>


                </a>
            </li>


            <li class="event-item" data-lazy-url="https://photo.tuchong.com/1206835/l/9980483.webp" style="background-image: url(&quot;https://photo.tuchong.com/1206835/l/9980483.webp&quot;);">
                <a class="event-mask" href="{{host}}/activity/443743/" target="_blank">
                    <h3 class="event-title">拍下你的男神</h3>

                    <p class="event-posts">已投稿21</p>


                </a>
            </li>


            <li class="event-item" data-lazy-url="https://photo.tuchong.com/490549/l/32137373.webp" style="background-image: url(&quot;https://photo.tuchong.com/490549/l/32137373.webp&quot;);">
                <a class="event-mask" href="{{host}}/activity/437309/" target="_blank">
                    <h3 class="event-title">朋友，这是艺术</h3>

                    <p class="event-posts">已投稿217</p>


                </a>
            </li>


            <li class="event-item" data-lazy-url="https://photo.tuchong.com/1334422/l/32535119.webp" style="background-image: url(&quot;https://photo.tuchong.com/1334422/l/32535119.webp&quot;);">
                <a class="event-mask" href="{{host}}/activity/439158/" target="_blank">
                    <h3 class="event-title">最美婚纱</h3>

                    <p class="event-posts">已投稿108</p>


                </a>
            </li>


            <li class="event-item" data-lazy-url="https://s1.tuchong.com/event-banners/439921/app.jpg?1" style="background-image: url(&quot;https://s1.tuchong.com/event-banners/439921/app.jpg?1&quot;);">
                <a class="event-mask" href="{{host}}/activity/439921/" target="_blank">
                    <h3 class="event-title">故事正要发生</h3>

                    <p class="event-posts">已投稿199</p>


                </a>
            </li>


            <li class="event-item" data-lazy-url="https://photo.tuchong.com/1364738/l/13060490.webp" style="background-image: url(&quot;https://photo.tuchong.com/1364738/l/13060490.webp&quot;);">
                <a class="event-mask" href="{{host}}/activity/418719/" target="_blank">
                    <h3 class="event-title">你来拍照，我来配诗，来一场摄影与诗的缠绵</h3>

                    <p class="event-posts">已投稿1191</p>


                </a>
            </li>


            <li class="event-item" data-lazy-url="https://s1.tuchong.com/event-banners/422788/app.jpg?6" style="background-image: url(&quot;https://s1.tuchong.com/event-banners/422788/app.jpg?6&quot;);">
                <a class="event-mask" href="{{host}}/activity/422788/" target="_blank">
                    <h3 class="event-title">「摄影书房」摄影书公开征集</h3>

                    <p class="event-posts">已投稿652</p>


                </a>
            </li>


            <li class="event-item" data-lazy-url="https://s1.tuchong.com/event-banners/439281/app.jpg?1" style="background-image: url(&quot;https://s1.tuchong.com/event-banners/439281/app.jpg?1&quot;);">
                <a class="event-mask" href="{{host}}/activity/439281/" target="_blank">
                    <h3 class="event-title">想穿越回去给自己拍照</h3>

                    <p class="event-posts">已投稿144</p>


                </a>
            </li>
        </ul><div class="pagelist-load-more">没有更多了</div></div>
    </div>
</main>
