{{#extend "style"}}
    <link href="/pc/css/activity_detail.css" rel="stylesheet">
{{/extend}}



{{#extend "script"}}

{{/extend}}

<main>
    <div class="container">
        <div class="head">
            <div class="widget-banner">
                <div class="banner-wrapper multiple">
                    <img src="https://photo.tuchong.com/430461/g/26504838.webp">
                    <img src="https://photo.tuchong.com/480901/g/10112121.webp">
                    <img src="https://photo.tuchong.com/1176705/g/31997399.webp">
                    <img src="https://photo.tuchong.com/1324901/g/9653678.webp">
                    <img src="https://photo.tuchong.com/1394686/g/20198617.webp">
                </div>
                <div class="banner-wrapper multiple fake-left">
                    <img src="https://photo.tuchong.com/430461/g/26504838.webp">
                    <img src="https://photo.tuchong.com/480901/g/10112121.webp">
                    <img src="https://photo.tuchong.com/1176705/g/31997399.webp">
                    <img src="https://photo.tuchong.com/1324901/g/9653678.webp">
                    <img src="https://photo.tuchong.com/1394686/g/20198617.webp">
                </div><div class="banner-wrapper multiple fake-right">
                <img src="https://photo.tuchong.com/430461/g/26504838.webp">
                <img src="https://photo.tuchong.com/480901/g/10112121.webp">
                <img src="https://photo.tuchong.com/1176705/g/31997399.webp">
                <img src="https://photo.tuchong.com/1324901/g/9653678.webp">
                <img src="https://photo.tuchong.com/1394686/g/20198617.webp">
            </div></div>
            <div class="title"><h1>“街拍中国”九月赛</h1></div>
        </div>
        <div class="content">
            <div class="info">
                <div class="detail">
                    <div class="detail-partial">
                        <h3>介绍</h3>
                        <p style="height: 147px;">图虫网“街拍中国”2016年度街拍摄影擂台赛，为中国首次以“街拍”形式设立奖项的摄影赛事，并立志打造成为中国每年一度的最重要的品牌赛事。<br>
                            <br>
                            <br>
                            本月参考主题：色彩韵律 （同等条件下，奖项评选优先选择符合主题的参赛作品。）<br>
                            <br>
                            <br>
                            一、征稿内容：<br>
                            <br>
                            题材请随便，方式请随便。<br>
                            范围为发生在2016年中国街头（包括港、澳、台地区）的一切故事、场景、瞬间或者人文风景。（说明：原则上参赛作品只能2016年拍摄，如果有其他年份拍摄的照片请说明，由评委来评定）。<br>
                            <br>
                            二、赛事规则：<br>
                            <br>
                            本次比赛采用线上投稿+线下工作坊的形式展开。<br>
                            线上部分：本月开始，当月投稿中图博分享量最高的十五位参赛者获得“月赛奖”。<br>
                            线下部分：街拍中国工作坊分为导师工作坊和国际大师工作坊两部分，每月一位导师在投稿作品中，选择五位摄影师参加工作坊，图虫为每位入围工作坊的摄影师提供1000元现金支持。<br>
                            <br>
                            月赛参考主题：<br>
                            四月：&nbsp;动容的瞬间&nbsp; &nbsp;&nbsp;<br>
                            五月：&nbsp;城市光与影&nbsp;<br>
                            六月：&nbsp;暴走街头&nbsp;&nbsp;&nbsp;&nbsp;<br>
                            七月：  手机摄影&nbsp;<br>
                            八月：&nbsp;狗热的夏天&nbsp;&nbsp;&nbsp;<br>
                            九月：&nbsp;色彩韵律<br>
                            （奖项评选优先选择符合主题的参赛作品。）<br>
                            <br>
                            街拍工作坊：<br>
                            <br>
                            哈尔滨工作坊     导师：王身敦                              投稿时间：2016年4月<br>
                            合肥工作坊      导师：刘涛       投稿时间：2016年5月<br>
                            上海工作坊     导师：王轶庶     投稿时间：2016年6月<br>
                            广州工作坊     导师：张海儿     投稿时间：2016年7月<br>
                            北京工作坊     导师：濑户正人   投稿时间：2016年8月<br>
                            <br>
                            三、评选流程<br>
                            <br>
                            征稿期：2016年4月1日——2016年9月30日<br>
                            所有投稿请到投稿专题页面，投稿后默认参加当月月赛和街拍工作坊的评选。<br>
                            <br>
                            初选期：2016年10月1日——2016年10月14日<br>
                            评委团队从所有投稿作品中，评选出十名摄影师参加“街拍中国”摄影联展。<br>
                            <br>
                            终选期：2016年10月20日——2016年11月20日<br>
                            评委团队在“街拍中国”摄影展现场评选出“街拍王”和“隼目奖”，其余摄影师获得“年度街拍摄影师”。“街拍王”由除濑户正人外，其他评委共同评选；“隼目奖”由濑户正人评选。<br>
                            <br>
                            四、奖项设置：<br>
                            <br>
                            月赛奖     <br>
                            <br>
                            一等奖 &nbsp;&nbsp;&nbsp;&nbsp;2名 &nbsp;&nbsp;价值3000元的威联通存储宝 TS-120（含2TB硬盘） &nbsp;&nbsp;<br>
                            二等奖 &nbsp;&nbsp;&nbsp;&nbsp;5名 &nbsp;  价值2410元Kase（卡色）滤镜套装：K100-II支架+GND0.9（软）+ND64+X-CPL<br>
                            三等奖 &nbsp;&nbsp;&nbsp;&nbsp;5名 &nbsp;&nbsp;现金500元<br>
                            <br>
                            街拍王     一名       <br>
                            a、创作奖金五万元<br>
                            b、参加“街拍中国”摄影联展<br>
                            c、列入图虫年度画册出版计划<br>
                            d、专业媒体推广资源<br>
                            <br>
                            隼目奖      一名        <br>
                            a、创作奖金五万元<br>
                            b、参加“街拍中国”摄影联展<br>
                            c、列入图虫年度画册出版计划<br>
                            d、专业媒体推广资源<br>
                            <br>
                            年度街拍摄影师   八名         <br>
                            a、创作奖金一万元<br>
                            b、参加“街拍中国”摄影联展<br>
                            c、列入图虫年度画册出版计划<br>
                            d、专业媒体推广资源<br>
                            <br>
                            （说明：如果“街拍王”和“隼目奖”为同一摄影师获得，该摄影师同时获得两项大奖，其余九名摄影师为“年度街拍摄影师”。）<br>
                            <br>
                            五、评委和策展人：<br>
                            <br>
                            评委：<br>
                            濑户正人 ：日本著名摄影师，21回木村伊兵卫写真奖得主，后多次担任木村伊兵卫写真奖评委。<br>
                            <br>
                            张海儿： 街头摄影师，人像摄影师，代表作《坏女孩》系列。<br>
                            <br>
                            王身敦：独立摄影师和顾问，亦分别于1998年及2003年两度担任荷赛评委。<br>
                            <br>
                            王轶庶：知名摄影师，2010年玛格南基金获得者。<br>
                            <br>
                            刘涛：街拍摄影师， 工作和生活于安徽合肥。<br>
                            <br>
                            严志刚：纪实摄影师，第11届国际新闻摄影比赛（华赛）评委和第25届全国摄影艺术展览（国展）评委。<br>
                            <br>
                            策展人：<br>
                            何伊宁：摄影史学者，独立策展人。<br>
                            <br>
                            六、参选作品使用须知<br>
                            <br>
                            参选摄影师应保证其享有参选作品独立、完整、无争议的著作权，若参选作品中因包括但不限于肖像权、隐私权、荣誉权等问题引起的法律纠纷均由参赛者负责解决。参选者上传作品参评，则意味着主办方有权使用其参赛作品，包括但不限于线上的网站、微博、画册以及主办方认可的合作媒体、网站进行宣传、专题展示等使用方式，对于上述方式主办方可免费进行非商业性使用。</p>
                        <a class="see-more">全部</a>
                    </div>
                    <div class="detail-partial">
                        <h3>奖励</h3>
                        <p>1</p>

                    </div>
                </div>
                <div class="handler" style="height: 363px;">
                    <div class="state">
                        <a class="publish-btn enable" href="/new-photo/?tag_id=440935">我要参加</a>
                        <p>距离结束还有<em>09</em>天</p>
                        <p>已有<span>1620</span>人参加，共<span>4743</span>份投稿</p>
                    </div>
                    <div class="sponsor">
                        <img src="https://s1.tuchong.com/sites/113/1132548/logo_small.jpg?5" style="vertical-align: top;">
                        <div class="intro">
                            <p>主办方：<a href="{{host}}/1132548/">街拍中国</a></p>
                            <p>投稿地址：{{host}}/jiepaizhongguo/</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="event-filter">
                <div class="filter-wrapper">
                    <a class="filter-btn active" filter-type="new">全部</a>
                    <a class="filter-btn" filter-type="daily">热门</a>
                    <a class="custom-tab" href="{{host}}/1132548/t/13522318/" target="_blank">广州站视频</a>
                    <a class="publish-btn enable" href="/new-photo/?tag_id=440935">我要参加</a>
                </div>
            </div>
            <div class="widget-eventlist"><ul class="pagelist-wrapper">

                <li class="impression-item" data-post-id="13529280">
                    <a class="item-cover" href="{{host}}/1331624/13529280/" target="_blank">

                        <img src="https://photo.tuchong.com/1331624/g/30305864.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1331624/13529280/" target="_blank">
                        <span class="name" title="色彩玩笑(三)">色彩玩笑(三)</span>
                        <span class="count">15张</span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1331624/"><img src="https://s1.tuchong.com/sites/133/1331624/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1331624/">梦中的海伦</a>
                        <span data-postid="13529280" class="count unliked">1</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13529272">
                    <a class="item-cover" href="{{host}}/1553074/13529272/" target="_blank">

                        <img src="https://photo.tuchong.com/1553074/g/27880163.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1553074/13529272/" target="_blank">
                        <span class="name" title="绚烂夜景与少女">绚烂夜景与少女</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1553074/"><img src="https://s1.tuchong.com/sites/155/1553074/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1553074/">小奥米</a>
                        <span data-postid="13529272" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13529271">
                    <a class="item-cover" href="{{host}}/1521167/13529271/" target="_blank">

                        <img src="https://photo.tuchong.com/1521167/g/25058080.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1521167/13529271/" target="_blank">
                        <span class="name" title="甲子塘的反面">甲子塘的反面</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1521167/"><img src="https://s1.tuchong.com/sites/152/1521167/logo_small.jpg?3"></a>
                        <a class="name" href="{{host}}/1521167/">青青眼摄</a>
                        <span data-postid="13529271" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13529248">
                    <a class="item-cover" href="{{host}}/1527034/13529248/" target="_blank">

                        <img src="https://photo.tuchong.com/1527034/g/20076548.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1527034/13529248/" target="_blank">
                        <span class="name" title="一路行.一路风土人情！[微笑]">一路行.一路风土人情！[微笑]</span>
                        <span class="count">7张</span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1527034/"><img src="https://s1.tuchong.com/sites/152/1527034/logo_small.jpg?4"></a>
                        <a class="name" href="{{host}}/1527034/">陈义</a>
                        <span data-postid="13529248" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13529246">
                    <a class="item-cover" href="https://zhangbin.tuchong.com/13529246/" target="_blank">

                        <img src="https://photo.tuchong.com/1451556/g/26889535.webp">

                    </a>
                    <a class="item-collection" href="https://zhangbin.tuchong.com/13529246/" target="_blank">
			<span class="name" title="【夜】#至每天早出晚归为生活努力工作的人#
Photography By Zhang bin">【夜】#至每天早出晚归为生活努力工作的人#
Photography By Zhang bin</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="https://zhangbin.tuchong.com/"><img src="https://s1.tuchong.com/sites/145/1451556/logo_small.jpg?2"></a>
                        <a class="name" href="https://zhangbin.tuchong.com/">photography黄金瞳</a>
                        <span data-postid="13529246" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13529236">
                    <a class="item-cover" href="{{host}}/1331624/13529236/" target="_blank">

                        <img src="https://photo.tuchong.com/1331624/g/30305864.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1331624/13529236/" target="_blank">
                        <span class="name" title="色彩玩笑(三)">色彩玩笑(三)</span>
                        <span class="count">12张</span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1331624/"><img src="https://s1.tuchong.com/sites/133/1331624/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1331624/">梦中的海伦</a>
                        <span data-postid="13529236" class="count unliked">1</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13529216">
                    <a class="item-cover" href="{{host}}/1553040/13529216/" target="_blank">

                        <img src="https://photo.tuchong.com/1553040/g/18297297.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1553040/13529216/" target="_blank">
                        <span class="name" title="五彩布匹">五彩布匹</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1553040/"><img src="https://s1.tuchong.com/sites/155/1553040/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1553040/">燕山之歌</a>
                        <span data-postid="13529216" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13529215">
                    <a class="item-cover" href="{{host}}/1553040/13529215/" target="_blank">

                        <img src="https://photo.tuchong.com/1553040/g/18297296.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1553040/13529215/" target="_blank">
                        <span class="name" title="五彩夜市">五彩夜市</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1553040/"><img src="https://s1.tuchong.com/sites/155/1553040/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1553040/">燕山之歌</a>
                        <span data-postid="13529215" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13529212">
                    <a class="item-cover" href="{{host}}/1553040/13529212/" target="_blank">

                        <img src="https://photo.tuchong.com/1553040/g/18297295.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1553040/13529212/" target="_blank">
                        <span class="name" title="好奇">好奇</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1553040/"><img src="https://s1.tuchong.com/sites/155/1553040/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1553040/">燕山之歌</a>
                        <span data-postid="13529212" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13529209">
                    <a class="item-cover" href="{{host}}/1553040/13529209/" target="_blank">

                        <img src="https://photo.tuchong.com/1553040/g/18297294.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1553040/13529209/" target="_blank">
                        <span class="name" title="五彩丝巾女孩">五彩丝巾女孩</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1553040/"><img src="https://s1.tuchong.com/sites/155/1553040/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1553040/">燕山之歌</a>
                        <span data-postid="13529209" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13529206">
                    <a class="item-cover" href="{{host}}/1553031/13529206/" target="_blank">

                        <img src="https://photo.tuchong.com/1553031/g/11943678.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1553031/13529206/" target="_blank">
                        <span class="name" title="天伦抢镜中">天伦抢镜中</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1553031/"><img src="https://s1.tuchong.com/sites/155/1553031/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1553031/">不帅不笨</a>
                        <span data-postid="13529206" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13529205">
                    <a class="item-cover" href="{{host}}/1553040/13529205/" target="_blank">

                        <img src="https://photo.tuchong.com/1553040/g/18297293.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1553040/13529205/" target="_blank">
                        <span class="name" title="纺织美丽">纺织美丽</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1553040/"><img src="https://s1.tuchong.com/sites/155/1553040/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1553040/">燕山之歌</a>
                        <span data-postid="13529205" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13529152">
                    <a class="item-cover" href="{{host}}/1553031/13529152/" target="_blank">

                        <img src="https://photo.tuchong.com/1553031/g/11943677.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1553031/13529152/" target="_blank">
                        <span class="name" title="和梦中的大黄鸭合影">和梦中的大黄鸭合影</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1553031/"><img src="https://s1.tuchong.com/sites/155/1553031/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1553031/">不帅不笨</a>
                        <span data-postid="13529152" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13529135">
                    <a class="item-cover" href="{{host}}/1553031/13529135/" target="_blank">

                        <img src="https://photo.tuchong.com/1553031/g/11943676.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1553031/13529135/" target="_blank">
                        <span class="name" title="我和大黄鸭合个影">我和大黄鸭合个影</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1553031/"><img src="https://s1.tuchong.com/sites/155/1553031/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1553031/">不帅不笨</a>
                        <span data-postid="13529135" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13529105">
                    <a class="item-cover" href="{{host}}/1157129/13529105/" target="_blank">

                        <img src="https://photo.tuchong.com/1157129/g/17722317.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1157129/13529105/" target="_blank">
                        <span class="name" title="雨中骑行">雨中骑行</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1157129/"><img src="https://s1.tuchong.com/sites/115/1157129/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1157129/">小廖工</a>
                        <span data-postid="13529105" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13529102">
                    <a class="item-cover" href="{{host}}/1518228/13529102/" target="_blank">

                        <img src="https://photo.tuchong.com/1518228/g/29382061.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1518228/13529102/" target="_blank">
                        <span class="name" title="【秋分的广州】">【秋分的广州】</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1518228/"><img src="https://s1.tuchong.com/sites/151/1518228/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1518228/">雷俊东RAYTHEON</a>
                        <span data-postid="13529102" class="count unliked">1</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13529081">
                    <a class="item-cover" href="{{host}}/1468723/13529081/" target="_blank">

                        <img src="https://photo.tuchong.com/1468723/g/28856108.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1468723/13529081/" target="_blank">
                        <span class="name" title="无题">无题</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1468723/"><img src="https://s1.tuchong.com/sites/146/1468723/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1468723/">凡达</a>
                        <span data-postid="13529081" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13529080">
                    <a class="item-cover" href="{{host}}/1517742/13529080/" target="_blank">

                        <img src="https://photo.tuchong.com/1517742/g/22692970.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1517742/13529080/" target="_blank">
                        <span class="name" title="船说">船说</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1517742/"><img src="https://s1.tuchong.com/sites/151/1517742/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1517742/">胡冰涛</a>
                        <span data-postid="13529080" class="count unliked">3</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13529070">
                    <a class="item-cover" href="{{host}}/1517742/13529070/" target="_blank">

                        <img src="https://photo.tuchong.com/1517742/g/22692969.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1517742/13529070/" target="_blank">
                        <span class="name" title="午后">午后</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1517742/"><img src="https://s1.tuchong.com/sites/151/1517742/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1517742/">胡冰涛</a>
                        <span data-postid="13529070" class="count unliked">5</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13529047">
                    <a class="item-cover" href="{{host}}/1541076/13529047/" target="_blank">

                        <img src="https://photo.tuchong.com/1541076/g/19221911.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1541076/13529047/" target="_blank">
                        <span class="name" title="无题">无题</span>
                        <span class="count">2张</span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1541076/"><img src="https://s1.tuchong.com/sites/154/1541076/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1541076/">十二点方向</a>
                        <span data-postid="13529047" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13529036">
                    <a class="item-cover" href="{{host}}/1551619/13529036/" target="_blank">

                        <img src="https://photo.tuchong.com/1551619/g/23278640.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1551619/13529036/" target="_blank">
                        <span class="name" title="玩心">玩心</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1551619/"><img src="https://s1.tuchong.com/sites/155/1551619/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1551619/">海風輕輕吹158</a>
                        <span data-postid="13529036" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13529027">
                    <a class="item-cover" href="{{host}}/1517742/13529027/" target="_blank">

                        <img src="https://photo.tuchong.com/1517742/g/22692968.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1517742/13529027/" target="_blank">
                        <span class="name" title="老街拾零">老街拾零</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1517742/"><img src="https://s1.tuchong.com/sites/151/1517742/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1517742/">胡冰涛</a>
                        <span data-postid="13529027" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13529018">
                    <a class="item-cover" href="{{host}}/1407930/13529018/" target="_blank">

                        <img src="https://photo.tuchong.com/1407930/g/11223573.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1407930/13529018/" target="_blank">
                        <span class="name" title="无题">无题</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1407930/"><img src="https://s1.tuchong.com/sites/140/1407930/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1407930/">看海人观山</a>
                        <span data-postid="13529018" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13529014">
                    <a class="item-cover" href="{{host}}/1320208/13529014/" target="_blank">

                        <img src="https://photo.tuchong.com/1320208/g/18636519.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1320208/13529014/" target="_blank">
                        <span class="name" title="有妖怪">有妖怪</span>
                        <span class="count">2张</span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1320208/"><img src="https://s1.tuchong.com/sites/132/1320208/logo_small.jpg?6"></a>
                        <a class="name" href="{{host}}/1320208/">曼南</a>
                        <span data-postid="13529014" class="count unliked">0</span>
                    </div>
                </li>
            </ul><div class="pagelist-load-more">加载更多</div></div>
        </div>
    </div>
</main>
