{{#extend "style"}}
    <link href="/pc/css/all.css" rel="stylesheet">
{{/extend}}


{{>pc_settings_top}}
<div class="container container-default">
    <main role="main" class="col-main col-xs-12">
        <form class="form-horizontal" role="form" method="post" action="/settings" onsubmit="return false;">
            <section class="card inner">
                <input type="hidden" name="nonce" value="09f5b1782ead0392">
                <div class="form-group">
                    <label class="col-xs-2 control-label">真实姓名</label>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" name="realname" value="{{user.realname}}">
                        <span class="help-block">真实姓名仅用于新浪微博认证、比赛获奖证书。</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">性别</label>
                    <div class="col-xs-6">
                        <select name="gender" id="gender">
                            <option value="unknown" label="不详" {{#eq user.gender 0}}selected="selected"{{/eq}} >不详 </option>
                            <option value="male" {{#eq user.gender 1}}selected="selected"{{/eq}}  label="男">男</option>
                            <option value="female" {{#eq user.gender 2}}selected="selected"{{/eq}}  label="女">女</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">生日</label>
                    <div class="col-xs-6">
                        <input name="birthday" type="hidden">
                        <select>
                          {{#eachIndex   resJson.year}}
                              <option value="{{item}}"
                                      {{#eq ../user.gender.year '{{item}}'}}selected="selected"{{/eq}}>
                                {{#eq index 0}}{{else}}{{item}}{{/eq}}
                              </option>
                          {{/eachIndex  }}
                        </select>
                        <select>
                          {{#eachIndex resJson.month}}
                              <option value="{{index}}"
                                      {{#eq ../user.gender.month '{{index}}'}}selected="selected"{{/eq}}>
                                {{#eq index 0}}{{else}}{{index}}{{/eq}}
                              </option>
                          {{/eachIndex}}
                        </select>
                        <select>
                          {{#eachIndex resJson.day}}
                              <option value="{{index}}"
                                      {{#eq user.gender.day '{{index}}'}}selected="selected"{{/eq}}>{{#eq
                                index 0}}{{else}}{{index}}{{/eq}} </option>
                          {{/eachIndex}}
                        </select>
                    </div>
                </div>

                <div class="form-group description">
                    <label class="col-xs-2 control-label">自述</label>
                    <div class="col-xs-6">
                        <textarea class="form-control" rows="3" name="description">{{user.description}}</textarea>
                        <span class="help-block">自述内容会显示在个人主页的头像下方，要认真填哦</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">居住城市</label>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" name="location" value="福建"
                               style="display: none;">
                        <select name="location">
                          {{#eachIndex resJson.location}}
                              <option value="{{item}}"
                                      {{#eq user.gender.location '{{index}}'}}selected="selected"{{/eq}}>{{#eq
                                index 0}}{{else}}{{item}}{{/eq}} </option>
                          {{/eachIndex}}
                        </select>
                        <select style="display: inline-block;">
                            <option value="" selected=""></option>
                            <option value="莆田">莆田</option>
                            <option value="宁德">宁德</option>
                            <option value="福州">福州</option>
                            <option value="厦门">厦门</option>
                            <option value="三明">三明</option>
                            <option value="龙岩">龙岩</option>
                            <option value="南平">南平</option>
                            <option value="泉州">泉州</option>
                            <option value="漳州">漳州</option>
                        </select><select style="display: none;">
                        <option value="" selected=""></option>
                    </select><input type="text" name="userDefinedLocation" style="display: none;">
                        <span class="help-block">方便找到同城影友</span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">个人主页</label>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" name="homepage" placeholder="输入你的主页地址"
                               value="{{user.homepage}}">
                        <span class="help-block">包含 https:// 的完整个人主页网址</span>
                    </div>
                </div>
            </section>
            <section class="card inner">
                <h3>联系信息</h3>
                <p>偶酷有时候会寄送纪念品，或者联系你向杂志社或其它媒体供稿，绝对不会泄露你的联系信息</p>
                <div class="form-group">
                    <label class="col-xs-2 control-label">邮政编码</label>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" name="zipcode" value="{{user.zipcode}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">邮寄地址</label>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" name="address" value="{{user.address}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">QQ号码</label>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" name="qq" value="{{user.qq}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">移动电话</label>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" name="mobile" value="{{user.mobile}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">固定电话</label>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" name="phone" value="{{user.phone}}">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">证件类型</label>
                    <div class="col-xs-6">
                        <select name="credential_type" id="credential_type">
                            <option value="1" label="身份证">身份证</option>
                        </select></div>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label">证件号码</label>
                    <div class="col-xs-6">
                        <input type="text" class="form-control" name="credential_num" value="{{user.credential_num}}">
                        <span class="help-block">比赛奖金发放、新浪微博联合认证加V时需要身份证号码</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-offset-2 col-xs-2">
                        <button type="submit" class="btn btn-sm btn-primary">保存</button>
                    </div>
                </div>
                <em class="settings_tip" style="background-color:red" id="settings_accountinfo_tip_span"></em>
            </section>
        </form>
    </main>
</div>
