{{#extend "style"}}
    <link href="/mobile/css/welcome.css" rel="stylesheet">
{{/extend}}
{{#extend 'bodyAttr'}} class="body-loaded" {{/extend}}
{{#extend 'headClass'}} fixed-top {{/extend}}

{{#extend "script"}}

{{/extend}}

<main>
    <div class="container">
        <section class="welcome-cover" style="background-image: url(https://photo.tuchong.com/1006096/f/13385938.jpg)">
            <div class="cover-wrapper">
                <h1 class="welcome-slogan">最好的摄影师都在这</h1>
                <a class="download-btn" href="{{host}}/rest/android/download">下载APP</a>
            </div>
            <a class="cover-author" href="{{host}}/1006096/13541007/">By: @郭小宇</a>
        </section>
        <section class="hot-posts">
            <h2>已经有超过百万的摄影爱好者入驻了偶酷……</h2>
            <p class="section-word">在这里，发现基于共同兴趣的同好；鼓励原创和分享精神；除了美好的摄影和技能，我们更在意影像背后价值观的认同。</p>
            <ul class="posts-list">
                <li class="" data-lazy-url="https://photo.tuchong.com/1173267/g/17250390.jpg" style="width: 172.5px; height: 172.5px; background-image: url(&quot;https://photo.tuchong.com/1173267/g/17250390.jpg&quot;);"><a href="https://sojourner.tuchong.com/13544733/"></a></li>
                <li class="" data-lazy-url="https://photo.tuchong.com/1559297/g/10629545.jpg" style="width: 172.5px; height: 172.5px; background-image: url(&quot;https://photo.tuchong.com/1559297/g/10629545.jpg&quot;);"><a href="{{host}}/1559297/13546959/"></a></li>
                <li class="" data-lazy-url="https://photo.tuchong.com/339604/g/9603446.jpg" style="width: 172.5px; height: 172.5px; background-image: url(&quot;https://photo.tuchong.com/339604/g/9603446.jpg&quot;);"><a href="https://xingzhexiaoweng.tuchong.com/13522840/"></a></li>
                <li class="" data-lazy-url="https://photo.tuchong.com/1425505/g/26972839.jpg" style="width: 172.5px; height: 172.5px; background-image: url(&quot;https://photo.tuchong.com/1425505/g/26972839.jpg&quot;);"><a href="https://yangshuai.tuchong.com/13548533/"></a></li>
                <li class="" data-lazy-url="https://photo.tuchong.com/1370833/g/20465919.jpg" style="width: 172.5px; height: 172.5px; background-image: url(&quot;https://photo.tuchong.com/1370833/g/20465919.jpg&quot;);"><a href="{{host}}/1370833/13542547/"></a></li>
                <li class="" data-lazy-url="https://photo.tuchong.com/110780/g/16142716.jpg" style="width: 172.5px; height: 172.5px; background-image: url(&quot;https://photo.tuchong.com/110780/g/16142716.jpg&quot;);"><a href="https://wenwen.tuchong.com/13534181/"></a></li>
            </ul>
        </section>
        <section class="hot-events">
            <h2>全年超过百万奖金的活动和大赛，好照片不再寂寞……</h2>
            <p class="section-word">中国最活跃的摄影赛事平台，层出不穷的活动创意，专业的摄影导师群体，一起帮助你成为中国最好的摄影师。</p>
            <ul class="events-list">
                <li>
                    <a class="event-link" href="{{host}}/activity/440935/">
                        <div class="event-cover" data-lazy-url="https://photo.tuchong.com/1188774/l/13910309.jpg" style="background-image: url(&quot;https://photo.tuchong.com/1188774/l/13910309.jpg&quot;);"></div>
                        <h3 class="event-title">“街拍中国”九月赛</h3>
                        <p class="event-info">
                            <span class="event-posts">已投稿<em>6865</em></span>
                            <span class="event-deadline">距结束2天</span>
                        </p>
                    </a>
                </li>
                <li>
                    <a class="event-link" href="{{host}}/activity/441926/">
                        <div class="event-cover" data-lazy-url="https://photo.tuchong.com/1118844/l/19349069.jpg" style="background-image: url(&quot;https://photo.tuchong.com/1118844/l/19349069.jpg&quot;);"></div>
                        <h3 class="event-title">胖电塔与街头摄影04期</h3>
                        <p class="event-info">
                            <span class="event-posts">已投稿<em>1782</em></span>
                            <span class="event-deadline">距结束2天</span>
                        </p>
                    </a>
                </li>
                <li>
                    <a class="event-link" href="{{host}}/activity/432193/">
                        <div class="event-cover" data-lazy-url="https://photo.tuchong.com/1366873/l/19417968.jpg" style="background-image: url(&quot;https://photo.tuchong.com/1366873/l/19417968.jpg&quot;);"></div>
                        <h3 class="event-title">阮义忠摄影人文奖</h3>
                        <p class="event-info">
                            <span class="event-posts">已投稿<em>3896</em></span>
                            <span class="event-deadline">距结束2天</span>
                        </p>
                    </a>
                </li>
                <li>
                    <a class="event-link" href="{{host}}/activity/424535/">
                        <div class="event-cover" data-lazy-url="https://s1.tuchong.com/event-banners/424535/app.jpg?3" style="background-image: url(&quot;https://s1.tuchong.com/event-banners/424535/app.jpg?3&quot;);"></div>
                        <h3 class="event-title">偶酷女神计划</h3>
                        <p class="event-info">
                            <span class="event-posts">已投稿<em>11773</em></span>
                            <span class="event-deadline">距结束78天</span>
                        </p>
                    </a>
                </li>
                <li>
                    <a class="event-link" href="{{host}}/activity/442685/">
                        <div class="event-cover" data-lazy-url="https://s1.tuchong.com/event-banners/442685/app.jpg?2" style="background-image: url(&quot;https://s1.tuchong.com/event-banners/442685/app.jpg?2&quot;);"></div>
                        <h3 class="event-title">“奇迹之镜”偶酷风光摄影典藏双月赛第三季</h3>
                        <p class="event-info">
                            <span class="event-posts">已投稿<em>1322</em></span>
                            <span class="event-deadline">距结束41天</span>
                        </p>
                    </a>
                </li>
                <li>
                    <a class="event-link" href="{{host}}/activity/439869/">
                        <div class="event-cover" data-lazy-url="https://photo.tuchong.com/1124784/l/17115634.jpg" style="background-image: url(&quot;https://photo.tuchong.com/1124784/l/17115634.jpg&quot;);"></div>
                        <h3 class="event-title">二〇一六新锐摄影奖</h3>
                        <p class="event-info">
                            <span class="event-posts">已投稿<em>1075</em></span>
                            <span class="event-deadline">距结束47天</span>
                        </p>
                    </a>
                </li>
            </ul>
        </section>
        <section class="welcome-download">
            <a href="{{host}}/rest/android/download" class="download-btn">下载APP</a>
            <div class="downlaod-show"></div>
        </section>
    </div>
</main>
