{{#extend "style"}}
    <link href="/mobile/css/home.css" rel="stylesheet">
{{/extend}}
{{#extend 'bodyAttr'}}
    class="post-p no-subnav no-touch"
{{/extend}}


{{#extend "script"}}

{{/extend}}



<main>
    <div class="container">
        <nav class="secondary-nav">
            <ul class="nav-list">
                <li class="active"><a href="/">动态</a></li>
                <li class="has-news"><a href="/recommend/">推荐</a></li>
                <li><a href="/following/">关注</a></li>
                <li><a href="/tags/人像/">人像</a></li>
                <li><a href="/tags/人文/">人文</a></li>
                <li><a href="/tags/风光/">风光</a></li>
                <li><a href="/tags/纪实/">纪实</a></li>
                <li><a href="/tags/静物/">静物</a></li>
                <li><a href="/tags/旅行/">旅行</a></li>
            </ul>
        </nav>
        <div class="content">
            <div class="card-warning width-icon icon-mobile" data-type="bind-mobile">
                <span class="warning-msg">绑定手机，开启个性化二级域名等高级功能<a href="/settings/account/">点击绑定</a></span><a class="card-close"></a>
            </div>
            <div class="card-warning" data-type="default-follow">
                <span class="warning-msg">你关注的人太少，我们帮你默认关注了一些活跃用户，如果你不喜欢可以<a href="/settings/preferences/">取消</a></span><a class="card-close"></a>
            </div>
            <div class="recommend-tag">
                <h2 class="tag-name">发现精彩标签：人像</h2>
                <a class="tag-photos" href="{{host}}/tags/%E4%BA%BA%E5%83%8F/?post_ids=13506208,13539686,7062732,13526833,13205426">
                    <img src="https://photo.tuchong.com/441561/g/9718918.jpg" alt="~">
                    <img src="https://photo.tuchong.com/1178344/g/11745641.jpg" alt="雲の彼端丶约定的地方">
                    <img src="https://photo.tuchong.com/280988/g/17105326.jpg" alt="海之声">
                    <img src="https://photo.tuchong.com/1182209/g/17722308.jpg" alt="列车等待着少女">
                    <img src="https://photo.tuchong.com/466839/g/31149732.jpg" alt="Immywer">
                </a>
            </div>
            <div class="widget-activitylist">

                <ul class="pagelist-wrapper">







                    <li class="activity-item activity-post impression-item impression-viewed" data-post-id="13470694">

                        <div class="activity-source">
                            <a href="https://604573725.tuchong.com/" target="_blank" class="site-link">山谷的风</a>
                            分享
                            <time>17分钟前</time>
                        </div>

                        <div class="activity-head">
                            <a href="{{host}}/1515457/" class="site-icon" target="_blank"><img src="https://s1.tuchong.com/sites/151/1515457/logo_small.jpg?1" alt="龙门牙"></a>
                            <a href="{{host}}/1515457/" target="_blank" class="site-link">龙门牙</a>
                            <a class="site-follow" title="关注龙门牙" data-site-id="1515457"></a>
                            <h4 class="post-title">
                                <a class="" data-site-id="1515457" href="{{host}}/1515457/t/13470694/" title="人的思想不能由镜头而龌龊">人的思想不能由镜头而龌龊</a>
                                <time>9月4日</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <a href="{{host}}/1515457/t/13470694/" class="post-cover text-cover">
                                <img src="//photo.tuchong.com/1515457/g/22560194.jpg">
                            </a>


                            <p class="post-desc">人的思想不能由镜头而龌龊文/龙门牙我又被他们踢出了群！理由是：我不应该在自己的公众号里发不雅的照片。唉！真的很悲哀。摄影是什么？艺术是什么？我无力回答，但我至少敢去面对，敢去做。我知道我拍澡堂子不好，这对于你们来说，有碍观瞻。但这并不妨碍你们，也不能阻止我对摄影本质的追求。再说，不就是一个澡堂子的裸照吗？况且我还在每个人的阳具上都安装了一把安全伞，虽然朦胧间露出了一些器物的本源，但也不至于让某些...</p>


                        </div>
                        <div class="activity-foot ">

                            <div class="post-ops">
                                <a class="post-comment" data-comments="0">评论(0)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">1</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item impression-viewed" data-post-id="13549872">

                        <div class="activity-source">
                            <a href="https://landscape.tuchong.com/" target="_blank" class="site-link">风光摄影</a>
                            分享
                            <time>1小时前</time>
                        </div>

                        <div class="activity-head">
                            <a href="{{host}}/1370833/" class="site-icon" target="_blank"><img src="https://s1.tuchong.com/sites/137/1370833/logo_small.jpg?1" alt="shanyewuyu"></a>
                            <a href="{{host}}/1370833/" target="_blank" class="site-link">shanyewuyu</a>
                            <a class="site-follow" title="关注shanyewuyu" data-site-id="1370833"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="1370833" href="{{host}}/1370833/13549872/" title="shanyewuyu0090">shanyewuyu0090</a>
                                <time>14小时前</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <a href="{{host}}/1370833/13549872/" class="post-cover">
                                <img src="//photo.tuchong.com/1370833/m/20465978.jpg">
                            </a>



                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">


                                <a href="//tuchong.com/tags/风光">风光</a>

                                <a href="//tuchong.com/tags/自然">自然</a>

                                <a href="//tuchong.com/tags/色彩">色彩</a>

                                <a href="//tuchong.com/tags/后期">后期</a>

                                <a href="//tuchong.com/tags/尼康">尼康</a>

                                <a href="//tuchong.com/tags/广角">广角</a>

                                <a href="//tuchong.com/tags/中国">中国</a>

                                <a href="//tuchong.com/tags/大连">大连</a>

                            </div>

                            <div class="post-ops">
                                <a class="post-comment" data-comments="6">评论(6)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">49</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item impression-viewed" data-post-id="13430934">

                        <div class="activity-source">
                            <a href="{{host}}/981023/" target="_blank" class="site-link">叶子飘天下</a>
                            分享
                            <time>4小时前</time>
                        </div>

                        <div class="activity-head">
                            <a href="https://blackstation.tuchong.com/" class="site-icon" target="_blank"><img src="https://s1.tuchong.com/sites/061/61797/logo_small.jpg?7" alt="BLACKSTATION"></a>
                            <a href="https://blackstation.tuchong.com/" target="_blank" class="site-link">BLACKSTATION</a>
                            <a class="site-follow" title="关注BLACKSTATION" data-site-id="61797"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="61797" href="https://blackstation.tuchong.com/13430934/" title="火云端。">火云端。</a>
                                <time>8月24日</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <a href="https://blackstation.tuchong.com/13430934/" class="post-cover">
                                <img src="//photo.tuchong.com/61797/m/22559964.jpg">
                            </a>



                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">


                                <a href="//tuchong.com/tags/色彩">色彩</a>

                                <a href="//tuchong.com/tags/城市">城市</a>

                                <a href="//tuchong.com/tags/航拍">航拍</a>

                            </div>

                            <div class="post-ops">
                                <a class="post-comment" data-comments="20">评论(20)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">314</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item impression-viewed" data-post-id="13552021">

                        <div class="activity-source">
                            <a href="{{host}}/981023/" target="_blank" class="site-link">叶子飘天下</a>
                            分享
                            <time>4小时前</time>
                        </div>

                        <div class="activity-head">
                            <a href="https://darknex.tuchong.com/" class="site-icon" target="_blank"><img src="https://s1.tuchong.com/sites/290/290672/logo_small.jpg?5" alt="徐昕DARKNEX"></a>
                            <a href="https://darknex.tuchong.com/" target="_blank" class="site-link">徐昕DARKNEX</a>
                            <a class="site-follow" title="关注徐昕DARKNEX" data-site-id="290672"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="290672" href="https://darknex.tuchong.com/13552021/" title="#城市记忆#  通往魔都往日旧时光的入口（上）">#城市记忆#  通往魔都往日旧时光的入口（上）</a>
                                <time>4小时前</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <p class="post-desc">#城市记忆#  通往魔都往日旧时光的入口（上）</p>

                            <div class="post-photos">





                                <a href="https://darknex.tuchong.com/13552021/#image19938142" class="photo-item " style="width: 79px;height: 119px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/290672/m/19938142.jpg">
                                </a>

                                <a href="https://darknex.tuchong.com/13552021/#image19938112" class="photo-item " style="width: 178px;height: 119px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/290672/m/19938112.jpg">
                                </a>

                                <a href="https://darknex.tuchong.com/13552021/#image19927649" class="photo-item " style="width: 79px;height: 119px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/290672/m/19927649.jpg">
                                </a>




                                <a href="https://darknex.tuchong.com/13552021/#image19925029" class="photo-item hidden-item" style="width: 79px;height: 118px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/290672/m/19925029.jpg">
                                </a>

                                <a href="https://darknex.tuchong.com/13552021/#image19927666" class="photo-item hidden-item" style="width: 178px;height: 118px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/290672/m/19927666.jpg">
                                </a>

                                <a href="https://darknex.tuchong.com/13552021/#image19923285" class="photo-item hidden-item" style="width: 79px;height: 118px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/290672/m/19923285.jpg">
                                </a>




                                <a href="https://darknex.tuchong.com/13552021/#image19923447" class="photo-item hidden-item" style="width: 169px;height: 113px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/290672/m/19923447.jpg">
                                </a>

                                <a href="https://darknex.tuchong.com/13552021/#image19934569" class="photo-item hidden-item" style="width: 169px;height: 113px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/290672/m/19934569.jpg">
                                </a>




                                <a href="https://darknex.tuchong.com/13552021/#image19938111" class="photo-item hidden-item" style="width: 79px;height: 119px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/290672/m/19938111.jpg">
                                </a>

                                <a href="https://darknex.tuchong.com/13552021/#image19938113" class="photo-item hidden-item" style="width: 178px;height: 119px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/290672/m/19938113.jpg">
                                </a>

                                <a href="https://darknex.tuchong.com/13552021/#image19938115" class="photo-item hidden-item" style="width: 79px;height: 119px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/290672/m/19938115.jpg">
                                </a>




                                <a href="https://darknex.tuchong.com/13552021/#image19938116" class="photo-item hidden-item" style="width: 79px;height: 119px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/290672/m/19938116.jpg">
                                </a>

                                <a href="https://darknex.tuchong.com/13552021/#image19938117" class="photo-item hidden-item" style="width: 178px;height: 119px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/290672/m/19938117.jpg">
                                </a>

                                <a href="https://darknex.tuchong.com/13552021/#image19938127" class="photo-item hidden-item" style="width: 79px;height: 119px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/290672/m/19938127.jpg">
                                </a>




                                <a href="https://darknex.tuchong.com/13552021/#image19938128" class="photo-item hidden-item" style="width: 84px;height: 125px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/290672/m/19938128.jpg">
                                </a>

                                <a href="https://darknex.tuchong.com/13552021/#image19938129" class="photo-item hidden-item" style="width: 83px;height: 125px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/290672/m/19938129.jpg">
                                </a>

                                <a href="https://darknex.tuchong.com/13552021/#image19938132" class="photo-item hidden-item" style="width: 84px;height: 125px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/290672/m/19938132.jpg">
                                </a>

                                <a href="https://darknex.tuchong.com/13552021/#image19938133" class="photo-item hidden-item" style="width: 83px;height: 125px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/290672/m/19938133.jpg">
                                </a>




                                <a href="https://darknex.tuchong.com/13552021/#image19938134" class="photo-item hidden-item" style="width: 178px;height: 118px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/290672/m/19938134.jpg">
                                </a>

                                <a href="https://darknex.tuchong.com/13552021/#image19938137" class="photo-item hidden-item" style="width: 79px;height: 118px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/290672/m/19938137.jpg">
                                </a>

                                <a href="https://darknex.tuchong.com/13552021/#image19938138" class="photo-item hidden-item" style="width: 79px;height: 118px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/290672/m/19938138.jpg">
                                </a>



                                <div class="see-all"><a title="显示全部">共21张照片</a></div>

                            </div>

                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">


                                <a href="//tuchong.com/tags/“街拍中国”九月赛">“街拍中国”九月赛</a>

                                <a href="//tuchong.com/tags/城市">城市</a>

                                <a href="//tuchong.com/tags/上海">上海</a>

                                <a href="//tuchong.com/tags/建筑">建筑</a>

                            </div>

                            <div class="post-ops">
                                <a class="post-comment" data-comments="1">评论(1)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">2</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item impression-viewed" data-post-id="13544733">

                        <div class="activity-source">
                            <a href="https://hotspot.tuchong.com/" target="_blank" class="site-link">偶酷热点</a>
                            分享
                            <time>4小时前</time>
                        </div>

                        <div class="activity-head">
                            <a href="https://sojourner.tuchong.com/" class="site-icon" target="_blank"><img src="https://s1.tuchong.com/sites/117/1173267/logo_small.jpg?1" alt="Sojourner_UK"></a>
                            <a href="https://sojourner.tuchong.com/" target="_blank" class="site-link">Sojourner_UK</a>
                            <a class="site-follow" title="关注Sojourner_UK" data-site-id="1173267"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="1173267" href="https://sojourner.tuchong.com/13544733/" title="“太极”沙洲">“太极”沙洲</a>
                                <time>9月27日</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <a href="https://sojourner.tuchong.com/13544733/" class="post-cover">
                                <img src="//photo.tuchong.com/1173267/m/17250390.jpg">
                            </a>



                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">


                                <a href="//tuchong.com/tags/风光">风光</a>

                                <a href="//tuchong.com/tags/色彩">色彩</a>

                                <a href="//tuchong.com/tags/旅行">旅行</a>

                                <a href="//tuchong.com/tags/尼康">尼康</a>

                                <a href="//tuchong.com/tags/广角">广角</a>

                            </div>

                            <div class="post-ops">
                                <a class="post-comment" data-comments="3">评论(3)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">43</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item impression-viewed" data-post-id="13536898">

                        <div class="activity-source">
                            <a href="https://renwen.tuchong.com/" target="_blank" class="site-link">人文纪实</a>
                            分享
                            <time>5小时前</time>
                        </div>

                        <div class="activity-head">
                            <a href="{{host}}/472425/" class="site-icon" target="_blank"><img src="https://s1.tuchong.com/sites/472/472425/logo_small.jpg?2" alt="赣州七爷"></a>
                            <a href="{{host}}/472425/" target="_blank" class="site-link">赣州七爷</a>
                            <a class="site-follow" title="关注赣州七爷" data-site-id="472425"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="472425" href="{{host}}/472425/13536898/" title="《如是我闻》">《如是我闻》</a>
                                <time>9月25日</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <p class="post-desc">谢尔盖圣三一修道院被誉为“莫斯科金环上的美丽明珠”，
                                是俄罗斯东正教教会的精神中心，
                                俄罗斯最重要的寺院之一，也是俄罗斯东正教最大的男修道院。
                                帮助人们向天主的恩宠敞开，尽管我们正处于艰难环境中......
                                正如人子来不是要受人的服事，乃是要服事人......
                                ---2016年初秋iPhone6摄于莫斯科市以北71公里谢尔吉耶夫镇</p>

                            <div class="post-photos">





                                <a href="{{host}}/472425/13536898/#image31816360" class="photo-item " style="width: 84px;height: 111px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/472425/m/31816360.jpg">
                                </a>

                                <a href="{{host}}/472425/13536898/#image31816367" class="photo-item " style="width: 83px;height: 111px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/472425/m/31816367.jpg">
                                </a>

                                <a href="{{host}}/472425/13536898/#image31816368" class="photo-item " style="width: 84px;height: 111px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/472425/m/31816368.jpg">
                                </a>

                                <a href="{{host}}/472425/13536898/#image31816369" class="photo-item " style="width: 83px;height: 111px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/472425/m/31816369.jpg">
                                </a>




                                <a href="{{host}}/472425/13536898/#image31816370" class="photo-item hidden-item" style="width: 83px;height: 111px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/472425/m/31816370.jpg">
                                </a>

                                <a href="{{host}}/472425/13536898/#image31816371" class="photo-item hidden-item" style="width: 84px;height: 111px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/472425/m/31816371.jpg">
                                </a>

                                <a href="{{host}}/472425/13536898/#image31816372" class="photo-item hidden-item" style="width: 84px;height: 111px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/472425/m/31816372.jpg">
                                </a>

                                <a href="{{host}}/472425/13536898/#image31816373" class="photo-item hidden-item" style="width: 83px;height: 111px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/472425/m/31816373.jpg">
                                </a>




                                <a href="{{host}}/472425/13536898/#image31816374" class="photo-item hidden-item" style="width: 84px;height: 111px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/472425/m/31816374.jpg">
                                </a>

                                <a href="{{host}}/472425/13536898/#image31816375" class="photo-item hidden-item" style="width: 83px;height: 111px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/472425/m/31816375.jpg">
                                </a>

                                <a href="{{host}}/472425/13536898/#image31816376" class="photo-item hidden-item" style="width: 84px;height: 111px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/472425/m/31816376.jpg">
                                </a>

                                <a href="{{host}}/472425/13536898/#image31816377" class="photo-item hidden-item" style="width: 83px;height: 111px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/472425/m/31816377.jpg">
                                </a>




                                <a href="{{host}}/472425/13536898/#image31816378" class="photo-item hidden-item" style="width: 84px;height: 111px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/472425/m/31816378.jpg">
                                </a>

                                <a href="{{host}}/472425/13536898/#image31816379" class="photo-item hidden-item" style="width: 83px;height: 111px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/472425/m/31816379.jpg">
                                </a>

                                <a href="{{host}}/472425/13536898/#image31816380" class="photo-item hidden-item" style="width: 84px;height: 111px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/472425/m/31816380.jpg">
                                </a>

                                <a href="{{host}}/472425/13536898/#image31816381" class="photo-item hidden-item" style="width: 83px;height: 111px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/472425/m/31816381.jpg">
                                </a>




                                <a href="{{host}}/472425/13536898/#image31816382" class="photo-item hidden-item" style="width: 83px;height: 111px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/472425/m/31816382.jpg">
                                </a>

                                <a href="{{host}}/472425/13536898/#image31816383" class="photo-item hidden-item" style="width: 84px;height: 111px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/472425/m/31816383.jpg">
                                </a>

                                <a href="{{host}}/472425/13536898/#image31816384" class="photo-item hidden-item" style="width: 84px;height: 111px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/472425/m/31816384.jpg">
                                </a>

                                <a href="{{host}}/472425/13536898/#image31816385" class="photo-item hidden-item" style="width: 83px;height: 111px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/472425/m/31816385.jpg">
                                </a>



                                <div class="see-all"><a title="显示全部">共20张照片</a></div>

                            </div>

                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">


                                <a href="//tuchong.com/tags/阮义忠摄影人文奖">阮义忠摄影人文奖</a>

                                <a href="//tuchong.com/tags/手机">手机</a>

                                <a href="//tuchong.com/tags/纪实">纪实</a>

                                <a href="//tuchong.com/tags/谢尔盖">谢尔盖</a>

                                <a href="//tuchong.com/tags/圣三一修道院">圣三一修道院</a>

                                <a href="//tuchong.com/tags/iphone6">iphone6</a>

                                <a href="//tuchong.com/tags/教堂">教堂</a>

                            </div>

                            <div class="post-ops">
                                <a class="post-comment" data-comments="9">评论(9)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">35</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item impression-viewed" data-post-id="13522840">

                        <div class="activity-source">
                            <a href="https://hotspot.tuchong.com/" target="_blank" class="site-link">偶酷热点</a>
                            分享
                            <time>5小时前</time>
                        </div>

                        <div class="activity-head">
                            <a href="https://xingzhexiaoweng.tuchong.com/" class="site-icon" target="_blank"><img src="https://s1.tuchong.com/sites/339/339604/logo_small.jpg?4" alt="半世浮华"></a>
                            <a href="https://xingzhexiaoweng.tuchong.com/" target="_blank" class="site-link">半世浮华</a>
                            <a class="site-follow" title="关注半世浮华" data-site-id="339604"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="339604" href="https://xingzhexiaoweng.tuchong.com/13522840/" title="夏天的味道">夏天的味道</a>
                                <time>9月20日</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <p class="post-desc">约拍微信xiaoweng222</p>

                            <div class="post-photos">





                                <a href="https://xingzhexiaoweng.tuchong.com/13522840/#image9603446" class="photo-item " style="width: 112px;height: 168px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/339604/m/9603446.jpg">
                                </a>

                                <a href="https://xingzhexiaoweng.tuchong.com/13522840/#image9603437" class="photo-item " style="width: 112px;height: 168px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/339604/m/9603437.jpg">
                                </a>

                                <a href="https://xingzhexiaoweng.tuchong.com/13522840/#image9603435" class="photo-item " style="width: 112px;height: 168px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/339604/m/9603435.jpg">
                                </a>




                                <a href="https://xingzhexiaoweng.tuchong.com/13522840/#image9603434" class="photo-item hidden-item" style="width: 169px;height: 113px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/339604/m/9603434.jpg">
                                </a>

                                <a href="https://xingzhexiaoweng.tuchong.com/13522840/#image9603436" class="photo-item hidden-item" style="width: 169px;height: 113px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/339604/m/9603436.jpg">
                                </a>




                                <a href="https://xingzhexiaoweng.tuchong.com/13522840/#image9603433" class="photo-item hidden-item" style="width: 84px;height: 125px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/339604/m/9603433.jpg">
                                </a>

                                <a href="https://xingzhexiaoweng.tuchong.com/13522840/#image9603438" class="photo-item hidden-item" style="width: 83px;height: 125px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/339604/m/9603438.jpg">
                                </a>

                                <a href="https://xingzhexiaoweng.tuchong.com/13522840/#image9603441" class="photo-item hidden-item" style="width: 83px;height: 125px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/339604/m/9603441.jpg">
                                </a>

                                <a href="https://xingzhexiaoweng.tuchong.com/13522840/#image9603447" class="photo-item hidden-item" style="width: 84px;height: 125px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/339604/m/9603447.jpg">
                                </a>




                                <a href="https://xingzhexiaoweng.tuchong.com/13522840/#image9603439" class="photo-item hidden-item" style="width: 84px;height: 125px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/339604/m/9603439.jpg">
                                </a>

                                <a href="https://xingzhexiaoweng.tuchong.com/13522840/#image9603440" class="photo-item hidden-item" style="width: 83px;height: 125px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/339604/m/9603440.jpg">
                                </a>

                                <a href="https://xingzhexiaoweng.tuchong.com/13522840/#image9603449" class="photo-item hidden-item" style="width: 83px;height: 125px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/339604/m/9603449.jpg">
                                </a>

                                <a href="https://xingzhexiaoweng.tuchong.com/13522840/#image9603442" class="photo-item hidden-item" style="width: 84px;height: 125px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/339604/m/9603442.jpg">
                                </a>




                                <a href="https://xingzhexiaoweng.tuchong.com/13522840/#image9603444" class="photo-item hidden-item" style="width: 79px;height: 119px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/339604/m/9603444.jpg">
                                </a>

                                <a href="https://xingzhexiaoweng.tuchong.com/13522840/#image9603448" class="photo-item hidden-item" style="width: 178px;height: 119px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/339604/m/9603448.jpg">
                                </a>

                                <a href="https://xingzhexiaoweng.tuchong.com/13522840/#image9603443" class="photo-item hidden-item" style="width: 79px;height: 119px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/339604/m/9603443.jpg">
                                </a>




                                <a href="https://xingzhexiaoweng.tuchong.com/13522840/#image9603445" class="photo-item hidden-item" style="width: 79px;height: 119px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/339604/m/9603445.jpg">
                                </a>

                                <a href="https://xingzhexiaoweng.tuchong.com/13522840/#image9603450" class="photo-item hidden-item" style="width: 178px;height: 119px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/339604/m/9603450.jpg">
                                </a>

                                <a href="https://xingzhexiaoweng.tuchong.com/13522840/#image9603453" class="photo-item hidden-item" style="width: 79px;height: 119px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/339604/m/9603453.jpg">
                                </a>




                                <a href="https://xingzhexiaoweng.tuchong.com/13522840/#image9603451" class="photo-item hidden-item" style="width: 112px;height: 168px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/339604/m/9603451.jpg">
                                </a>

                                <a href="https://xingzhexiaoweng.tuchong.com/13522840/#image9603452" class="photo-item hidden-item" style="width: 112px;height: 168px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/339604/m/9603452.jpg">
                                </a>

                                <a href="https://xingzhexiaoweng.tuchong.com/13522840/#image9603454" class="photo-item hidden-item" style="width: 112px;height: 168px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/339604/m/9603454.jpg">
                                </a>




                                <a href="https://xingzhexiaoweng.tuchong.com/13522840/#image9603455" class="photo-item hidden-item" style="width: 340px;height: 227px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/339604/m/9603455.jpg">
                                </a>



                                <div class="see-all"><a title="显示全部">共23张照片</a></div>

                            </div>

                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">


                                <a href="//tuchong.com/tags/偶酷女神计划">偶酷女神计划</a>

                                <a href="//tuchong.com/tags/北京">北京</a>

                                <a href="//tuchong.com/tags/人像">人像</a>

                                <a href="//tuchong.com/tags/35mm">35mm</a>

                                <a href="//tuchong.com/tags/小清新">小清新</a>

                                <a href="//tuchong.com/tags/日系">日系</a>

                                <a href="//tuchong.com/tags/美女">美女</a>

                            </div>

                            <div class="post-ops">
                                <a class="post-comment" data-comments="2">评论(2)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">91</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item impression-viewed" data-post-id="6432206">

                        <div class="activity-source">
                            <a href="https://yiliweichenn.tuchong.com/" target="_blank" class="site-link">一粒微尘</a>、<a href="https://kim1966.tuchong.com/" target="_blank" class="site-link">kim1966</a>
                            分享
                            <time>5小时前</time>
                        </div>

                        <div class="activity-head">
                            <a href="https://yee61.tuchong.com/" class="site-icon" target="_blank"><img src="https://s1.tuchong.com/sites/046/46728/logo_small.jpg?19" alt="毛病不少_刘乙"></a>
                            <a href="https://yee61.tuchong.com/" target="_blank" class="site-link">毛病不少_刘乙</a>
                            <a class="site-follow" title="关注毛病不少_刘乙" data-site-id="46728"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="46728" href="https://yee61.tuchong.com/6432206/" title="第八识视界">第八识视界</a>
                                <time>2014年5月18日</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <a href="https://yee61.tuchong.com/6432206/" class="post-cover">
                                <img src="//photo.tuchong.com/46728/m/6986940.jpg">
                            </a>



                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">


                                <a href="//tuchong.com/tags/色彩">色彩</a>

                                <a href="//tuchong.com/tags/风光">风光</a>

                                <a href="//tuchong.com/tags/生态">生态</a>

                                <a href="//tuchong.com/tags/佳能">佳能</a>

                                <a href="//tuchong.com/tags/长焦">长焦</a>

                                <a href="//tuchong.com/tags/斯里兰卡">斯里兰卡</a>

                                <a href="//tuchong.com/tags/《咔啪》2014年7月主题月赛“水”作品征集">《咔啪》2014年7月主题月赛“水”作品征集</a>

                            </div>

                            <div class="post-ops">
                                <a class="post-comment" data-comments="35">评论(35)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">278</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item impression-viewed" data-post-id="6919298">

                        <div class="activity-source">
                            <a href="https://kim1966.tuchong.com/" target="_blank" class="site-link">kim1966</a>
                            分享
                            <time>5小时前</time>
                        </div>

                        <div class="activity-head">
                            <a href="https://yee61.tuchong.com/" class="site-icon" target="_blank"><img src="https://s1.tuchong.com/sites/046/46728/logo_small.jpg?19" alt="毛病不少_刘乙"></a>
                            <a href="https://yee61.tuchong.com/" target="_blank" class="site-link">毛病不少_刘乙</a>
                            <a class="site-follow" title="关注毛病不少_刘乙" data-site-id="46728"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="46728" href="https://yee61.tuchong.com/6919298/" title="阳关以西">阳关以西</a>
                                <time>2014年10月13日</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <a href="https://yee61.tuchong.com/6919298/" class="post-cover">
                                <img src="//photo.tuchong.com/46728/m/7543228.jpg">
                            </a>



                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">


                                <a href="//tuchong.com/tags/人文">人文</a>

                                <a href="//tuchong.com/tags/风光">风光</a>

                                <a href="//tuchong.com/tags/佳能">佳能</a>

                                <a href="//tuchong.com/tags/中国">中国</a>

                                <a href="//tuchong.com/tags/新疆">新疆</a>

                                <a href="//tuchong.com/tags/《摄影旅游》11月杂志月赛主题：时间旅行">《摄影旅游》11月杂志月赛主题：时间旅行</a>

                                <a href="//tuchong.com/tags/《摄影旅游》10月月赛主题：故事">《摄影旅游》10月月赛主题：故事</a>

                            </div>

                            <div class="post-ops">
                                <a class="post-comment" data-comments="33">评论(33)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">191</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item impression-viewed" data-post-id="13534181">

                        <div class="activity-source">
                            <a href="https://hotspot.tuchong.com/" target="_blank" class="site-link">偶酷热点</a>
                            分享
                            <time>5小时前</time>
                        </div>

                        <div class="activity-head">
                            <a href="https://wenwen.tuchong.com/" class="site-icon" target="_blank"><img src="https://s1.tuchong.com/sites/110/110780/logo_small.jpg?9" alt="龚可"></a>
                            <a href="https://wenwen.tuchong.com/" target="_blank" class="site-link">龚可</a>
                            <a class="site-follow" title="关注龚可" data-site-id="110780"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="110780" href="https://wenwen.tuchong.com/13534181/" title="我是你的女朋友">我是你的女朋友</a>
                                <time>9月24日</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <div class="post-photos">





                                <a href="https://wenwen.tuchong.com/13534181/#image16142716" class="photo-item " style="width: 83px;height: 130px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/110780/m/16142716.jpg">
                                </a>

                                <a href="https://wenwen.tuchong.com/13534181/#image16142717" class="photo-item " style="width: 84px;height: 130px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/110780/m/16142717.jpg">
                                </a>

                                <a href="https://wenwen.tuchong.com/13534181/#image16142719" class="photo-item " style="width: 84px;height: 130px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/110780/m/16142719.jpg">
                                </a>

                                <a href="https://wenwen.tuchong.com/13534181/#image16142715" class="photo-item " style="width: 83px;height: 130px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/110780/m/16142715.jpg">
                                </a>




                                <a href="https://wenwen.tuchong.com/13534181/#image16142718" class="photo-item hidden-item" style="width: 70px;height: 146px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/110780/m/16142718.jpg">
                                </a>

                                <a href="https://wenwen.tuchong.com/13534181/#image16142720" class="photo-item hidden-item" style="width: 77px;height: 146px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/110780/m/16142720.jpg">
                                </a>

                                <a href="https://wenwen.tuchong.com/13534181/#image16142721" class="photo-item hidden-item" style="width: 93px;height: 146px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/110780/m/16142721.jpg">
                                </a>

                                <a href="https://wenwen.tuchong.com/13534181/#image16142722" class="photo-item hidden-item" style="width: 94px;height: 146px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/110780/m/16142722.jpg">
                                </a>




                                <a href="https://wenwen.tuchong.com/13534181/#image16142723" class="photo-item hidden-item" style="width: 76px;height: 118px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/110780/m/16142723.jpg">
                                </a>

                                <a href="https://wenwen.tuchong.com/13534181/#image16142724" class="photo-item hidden-item" style="width: 38px;height: 118px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/110780/m/16142724.jpg">
                                </a>

                                <a href="https://wenwen.tuchong.com/13534181/#image16142725" class="photo-item hidden-item" style="width: 146px;height: 118px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/110780/m/16142725.jpg">
                                </a>

                                <a href="https://wenwen.tuchong.com/13534181/#image16142726" class="photo-item hidden-item" style="width: 74px;height: 118px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/110780/m/16142726.jpg">
                                </a>




                                <a href="https://wenwen.tuchong.com/13534181/#image16142727" class="photo-item hidden-item" style="width: 119px;height: 179px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/110780/m/16142727.jpg">
                                </a>

                                <a href="https://wenwen.tuchong.com/13534181/#image16142728" class="photo-item hidden-item" style="width: 112px;height: 179px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/110780/m/16142728.jpg">
                                </a>

                                <a href="https://wenwen.tuchong.com/13534181/#image16142729" class="photo-item hidden-item" style="width: 105px;height: 179px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/110780/m/16142729.jpg">
                                </a>



                                <div class="see-all"><a title="显示全部">共15张照片</a></div>

                            </div>

                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">


                                <a href="//tuchong.com/tags/《给女朋友拍照才是正经事儿》">《给女朋友拍照才是正经事儿》</a>

                                <a href="//tuchong.com/tags/人像">人像</a>

                                <a href="//tuchong.com/tags/日系">日系</a>

                                <a href="//tuchong.com/tags/小清新">小清新</a>

                                <a href="//tuchong.com/tags/少女">少女</a>

                                <a href="//tuchong.com/tags/云南">云南</a>

                            </div>

                            <div class="post-ops">
                                <a class="post-comment" data-comments="1">评论(1)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">74</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item" data-post-id="13548533" data-start="1475097779402">

                        <div class="activity-source">
                            <a href="https://hotspot.tuchong.com/" target="_blank" class="site-link">偶酷热点</a>、<a href="https://renwen.tuchong.com/" target="_blank" class="site-link">人文纪实</a>
                            分享
                            <time>6小时前</time>
                        </div>

                        <div class="activity-head">
                            <a href="https://yangshuai.tuchong.com/" class="site-icon" target="_blank"><img src="https://s1.tuchong.com/sites/142/1425505/logo_small.jpg?2" alt="旸帅"></a>
                            <a href="https://yangshuai.tuchong.com/" target="_blank" class="site-link">旸帅</a>
                            <a class="site-follow" title="关注旸帅" data-site-id="1425505"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="1425505" href="https://yangshuai.tuchong.com/13548533/" title="家在那头">家在那头</a>
                                <time>22小时前</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <a href="https://yangshuai.tuchong.com/13548533/" class="post-cover">
                                <img src="//photo.tuchong.com/1425505/m/26972839.jpg">
                            </a>



                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">


                                <a href="//tuchong.com/tags/纪实">纪实</a>

                                <a href="//tuchong.com/tags/人文">人文</a>

                                <a href="//tuchong.com/tags/抓拍">抓拍</a>

                                <a href="//tuchong.com/tags/50mm">50mm</a>

                                <a href="//tuchong.com/tags/上海">上海</a>

                            </div>

                            <div class="post-ops">
                                <a class="post-comment" data-comments="5">评论(5)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">66</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item" data-post-id="13399645" data-start="1475097779402">

                        <div class="activity-source">
                            <a href="https://kim1966.tuchong.com/" target="_blank" class="site-link">kim1966</a>
                            分享
                            <time>6小时前</time>
                        </div>

                        <div class="activity-head">
                            <a href="{{host}}/447686/" class="site-icon" target="_blank"><img src="https://s1.tuchong.com/sites/447/447686/logo_small.jpg?1" alt="坝上团长"></a>
                            <a href="{{host}}/447686/" target="_blank" class="site-link">坝上团长</a>
                            <a class="site-follow" title="关注坝上团长" data-site-id="447686"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="447686" href="{{host}}/447686/13399645/" title="金色的秋">金色的秋</a>
                                <time>8月15日</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <p class="post-desc">坝上草原秋天的美是成熟的--它不像春那么羞涩，夏那么坦露，冬那么内向。
                                坝上草原秋天的美是理智的--它不像春那么妩媚，夏那么火热，冬那么含蓄。</p>

                            <div class="post-photos">





                                <a href="{{host}}/447686/13399645/#image33047185" class="photo-item " style="width: 164px;height: 107px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/447686/m/33047185.jpg">
                                </a>

                                <a href="{{host}}/447686/13399645/#image33047186" class="photo-item " style="width: 174px;height: 107px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/447686/m/33047186.jpg">
                                </a>




                                <a href="{{host}}/447686/13399645/#image33047187" class="photo-item hidden-item" style="width: 174px;height: 104px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/447686/m/33047187.jpg">
                                </a>

                                <a href="{{host}}/447686/13399645/#image33047188" class="photo-item hidden-item" style="width: 164px;height: 104px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/447686/m/33047188.jpg">
                                </a>




                                <a href="{{host}}/447686/13399645/#image33047189" class="photo-item hidden-item" style="width: 340px;height: 192px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/447686/m/33047189.jpg">
                                </a>



                                <div class="see-all"><a title="显示全部">共5张照片</a></div>

                            </div>

                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">


                                <a href="//tuchong.com/tags/风光">风光</a>

                                <a href="//tuchong.com/tags/自然">自然</a>

                                <a href="//tuchong.com/tags/佳能">佳能</a>

                                <a href="//tuchong.com/tags/摄影团">摄影团</a>

                                <a href="//tuchong.com/tags/坝上团长">坝上团长</a>

                                <a href="//tuchong.com/tags/乌兰布统，坝上">乌兰布统，坝上</a>

                                <a href="//tuchong.com/tags/坝上摄影">坝上摄影</a>

                                <a href="//tuchong.com/tags/坝上草原">坝上草原</a>

                            </div>

                            <div class="post-ops">
                                <a class="post-comment" data-comments="7">评论(7)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">95</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item" data-post-id="13551786" data-start="1475097779402">

                        <div class="activity-source">
                            <a href="https://604573725.tuchong.com/" target="_blank" class="site-link">山谷的风</a>
                            分享
                            <time>6小时前</time>
                        </div>

                        <div class="activity-head">
                            <a href="{{host}}/1515457/" class="site-icon" target="_blank"><img src="https://s1.tuchong.com/sites/151/1515457/logo_small.jpg?1" alt="龙门牙"></a>
                            <a href="{{host}}/1515457/" target="_blank" class="site-link">龙门牙</a>
                            <a class="site-follow" title="关注龙门牙" data-site-id="1515457"></a>
                            <h4 class="post-title">
                                <a class="" data-site-id="1515457" href="{{host}}/1515457/t/13551786/" title="第16届平遥国际摄影大展摄影行记之一">第16届平遥国际摄影大展摄影行记之一</a>
                                <time>6小时前</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <a href="{{host}}/1515457/t/13551786/" class="post-cover text-cover">
                                <img src="//photo.tuchong.com/1515457/g/22560194.jpg">
                            </a>


                            <p class="post-desc">第16届平遥国际摄影大展摄影行记之一文/龙门牙一今天，我带着对于国际摄影大展的期盼，和厂领导的关心与鼓励，踏上了去往平遥的征途。那一刻，我心情是无比的激动，因为毕竟有日子没出过远门了，所以兴奋也属自然。火车是下午五点五十九分的，而我四点钟就从家出发了。才到候车室，就见一队队的武警和特警守着门，也不知道发生了什么事。快到六点时，来了一堆新兵，哦！我明白了，原来戒备深严就为了送这些新征入伍的新兵蛋子去...</p>


                        </div>
                        <div class="activity-foot ">

                            <div class="post-ops">
                                <a class="post-comment" data-comments="0">评论(0)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">2</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item" data-post-id="13023754">

                        <div class="activity-source">
                            <a href="https://kim1966.tuchong.com/" target="_blank" class="site-link">kim1966</a>
                            分享
                            <time>6小时前</time>
                        </div>

                        <div class="activity-head">
                            <a href="https://suyipin.tuchong.com/" class="site-icon" target="_blank"><img src="https://s1.tuchong.com/sites/301/301010/logo_small.jpg?2" alt="蘇一品"></a>
                            <a href="https://suyipin.tuchong.com/" target="_blank" class="site-link">蘇一品</a>
                            <a class="site-follow" title="关注蘇一品" data-site-id="301010"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="301010" href="https://suyipin.tuchong.com/13023754/" title="五曲通幽">五曲通幽</a>
                                <time>4月22日</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <p class="post-desc">暮春谷雨，探訪江南最後的秘境，陽光風雨相伴同行。</p>

                            <div class="post-photos">





                                <a href="https://suyipin.tuchong.com/13023754/#image19217735" class="photo-item " style="width: 169px;height: 113px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/301010/m/19217735.jpg">
                                </a>

                                <a href="https://suyipin.tuchong.com/13023754/#image19217736" class="photo-item " style="width: 169px;height: 113px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/301010/m/19217736.jpg">
                                </a>



                            </div>

                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">


                                <a href="//tuchong.com/tags/苏一品">苏一品</a>

                                <a href="//tuchong.com/tags/风光">风光</a>

                                <a href="//tuchong.com/tags/色彩">色彩</a>

                                <a href="//tuchong.com/tags/佳能">佳能</a>

                                <a href="//tuchong.com/tags/水杉">水杉</a>

                                <a href="//tuchong.com/tags/CAPA2016年6月“人文小品篇&quot;影赛征稿">CAPA2016年6月“人文小品篇"影赛征稿</a>

                            </div>

                            <div class="post-ops">
                                <a class="post-comment" data-comments="21">评论(21)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">131</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item" data-post-id="13551765">

                        <div class="activity-source">
                            <a href="https://604573725.tuchong.com/" target="_blank" class="site-link">山谷的风</a>
                            分享
                            <time>6小时前</time>
                        </div>

                        <div class="activity-head">
                            <a href="{{host}}/1515457/" class="site-icon" target="_blank"><img src="https://s1.tuchong.com/sites/151/1515457/logo_small.jpg?1" alt="龙门牙"></a>
                            <a href="{{host}}/1515457/" target="_blank" class="site-link">龙门牙</a>
                            <a class="site-follow" title="关注龙门牙" data-site-id="1515457"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="1515457" href="{{host}}/1515457/13551765/" title="暴力街头">暴力街头</a>
                                <time>6小时前</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <a href="{{host}}/1515457/13551765/" class="post-cover">
                                <img src="//photo.tuchong.com/1515457/m/22560799.jpg">
                            </a>



                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">


                                <a href="//tuchong.com/tags/胖电塔与街头摄影04期">胖电塔与街头摄影04期</a>

                                <a href="//tuchong.com/tags/纪实">纪实</a>

                                <a href="//tuchong.com/tags/街拍">街拍</a>

                                <a href="//tuchong.com/tags/索尼">索尼</a>

                                <a href="//tuchong.com/tags/安徽">安徽</a>

                            </div>

                            <div class="post-ops">
                                <a class="post-comment" data-comments="0">评论(0)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">5</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item" data-post-id="13551762">

                        <div class="activity-source">
                            <a href="{{host}}/1403954/" target="_blank" class="site-link">蒋玲</a>
                            分享
                            <time>6小时前</time>
                        </div>

                        <div class="activity-head">
                            <a href="{{host}}/1555723/" class="site-icon" target="_blank"><img src="https://s1.tuchong.com/sites/155/1555723/logo_small.jpg?1" alt="风儿吹过"></a>
                            <a href="{{host}}/1555723/" target="_blank" class="site-link">风儿吹过</a>
                            <a class="site-follow" title="关注风儿吹过" data-site-id="1555723"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="1555723" href="{{host}}/1555723/13551762/" title="云南花腰傣">云南花腰傣</a>
                                <time>6小时前</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <p class="post-desc">生活在云南新平嘎洒的花腰傣姑娘们勤劳善良、美丽，婀娜多姿…</p>

                            <div class="post-photos">





                                <a href="{{host}}/1555723/13551762/#image21711292" class="photo-item " style="width: 169px;height: 128px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/1555723/m/21711292.jpg">
                                </a>

                                <a href="{{host}}/1555723/13551762/#image21711293" class="photo-item " style="width: 169px;height: 128px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/1555723/m/21711293.jpg">
                                </a>




                                <a href="{{host}}/1555723/13551762/#image21711294" class="photo-item hidden-item" style="width: 164px;height: 124px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/1555723/m/21711294.jpg">
                                </a>

                                <a href="{{host}}/1555723/13551762/#image21711295" class="photo-item hidden-item" style="width: 174px;height: 124px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/1555723/m/21711295.jpg">
                                </a>



                                <div class="see-all"><a title="显示全部">共4张照片</a></div>

                            </div>

                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">


                                <a href="//tuchong.com/tags/人文">人文</a>

                                <a href="//tuchong.com/tags/人像">人像</a>

                            </div>

                            <div class="post-ops">
                                <a class="post-comment" data-comments="3">评论(3)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">4</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item" data-post-id="13540847">

                        <div class="activity-source">
                            <a href="{{host}}/1403954/" target="_blank" class="site-link">蒋玲</a>
                            分享
                            <time>6小时前</time>
                        </div>

                        <div class="activity-head">
                            <a href="{{host}}/1555723/" class="site-icon" target="_blank"><img src="https://s1.tuchong.com/sites/155/1555723/logo_small.jpg?1" alt="风儿吹过"></a>
                            <a href="{{host}}/1555723/" target="_blank" class="site-link">风儿吹过</a>
                            <a class="site-follow" title="关注风儿吹过" data-site-id="1555723"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="1555723" href="{{host}}/1555723/13540847/" title="香格里拉之秋">香格里拉之秋</a>
                                <time>9月26日</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <p class="post-desc">拍于香格里拉境内</p>

                            <div class="post-photos">





                                <a href="{{host}}/1555723/13540847/#image21711196" class="photo-item " style="width: 340px;height: 139px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/1555723/m/21711196.jpg">
                                </a>




                                <a href="{{host}}/1555723/13540847/#image21711197" class="photo-item hidden-item" style="width: 340px;height: 113px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/1555723/m/21711197.jpg">
                                </a>



                                <div class="see-all"><a title="显示全部">共2张照片</a></div>

                            </div>

                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">


                                <a href="//tuchong.com/tags/风光">风光</a>

                            </div>

                            <div class="post-ops">
                                <a class="post-comment" data-comments="2">评论(2)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">5</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item" data-post-id="13544746">

                        <div class="activity-source">
                            <a href="{{host}}/1403954/" target="_blank" class="site-link">蒋玲</a>
                            分享
                            <time>6小时前</time>
                        </div>

                        <div class="activity-head">
                            <a href="{{host}}/1555723/" class="site-icon" target="_blank"><img src="https://s1.tuchong.com/sites/155/1555723/logo_small.jpg?1" alt="风儿吹过"></a>
                            <a href="{{host}}/1555723/" target="_blank" class="site-link">风儿吹过</a>
                            <a class="site-follow" title="关注风儿吹过" data-site-id="1555723"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="1555723" href="{{host}}/1555723/13544746/" title="织梦">织梦</a>
                                <time>9月27日</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <a href="{{host}}/1555723/13544746/" class="post-cover">
                                <img src="//photo.tuchong.com/1555723/m/21711238.jpg">
                            </a>


                            <p class="post-desc">金秋时节的到来，意味着收获，每个人几乎都在祈盼着辛勤的付出会得到满满的回报。瞧，小蜘蛛也在编织自己金色的梦！</p>


                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">


                                <a href="//tuchong.com/tags/抓拍">抓拍</a>

                            </div>

                            <div class="post-ops">
                                <a class="post-comment" data-comments="0">评论(0)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">1</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item" data-post-id="13551549">

                        <div class="activity-source">
                            <a href="https://604573725.tuchong.com/" target="_blank" class="site-link">山谷的风</a>
                            分享
                            <time>6小时前</time>
                        </div>

                        <div class="activity-head">
                            <a href="{{host}}/1553805/" class="site-icon" target="_blank"><img src="https://s1.tuchong.com/sites/155/1553805/logo_small.jpg?1" alt="Ace843"></a>
                            <a href="{{host}}/1553805/" target="_blank" class="site-link">Ace843</a>
                            <a class="site-follow" title="关注Ace843" data-site-id="1553805"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="1553805" href="{{host}}/1553805/13551549/" title=""></a>
                                <time>6小时前</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <a href="{{host}}/1553805/13551549/" class="post-cover">
                                <img src="//photo.tuchong.com/1553805/m/33048851.jpg">
                            </a>



                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">


                                <a href="//tuchong.com/tags/佳能">佳能</a>

                                <a href="//tuchong.com/tags/色彩">色彩</a>

                                <a href="//tuchong.com/tags/城市">城市</a>

                                <a href="//tuchong.com/tags/风光">风光</a>

                            </div>

                            <div class="post-ops">
                                <a class="post-comment" data-comments="1">评论(1)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">3</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item" data-post-id="13551636">

                        <div class="activity-source">
                            <a href="{{host}}/1403954/" target="_blank" class="site-link">蒋玲</a>
                            分享
                            <time>6小时前</time>
                        </div>

                        <div class="activity-head">
                            <a href="{{host}}/1555723/" class="site-icon" target="_blank"><img src="https://s1.tuchong.com/sites/155/1555723/logo_small.jpg?1" alt="风儿吹过"></a>
                            <a href="{{host}}/1555723/" target="_blank" class="site-link">风儿吹过</a>
                            <a class="site-follow" title="关注风儿吹过" data-site-id="1555723"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="1555723" href="{{host}}/1555723/13551636/" title="居住在仙本那小岛上的孩子们">居住在仙本那小岛上的孩子们</a>
                                <time>6小时前</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <p class="post-desc">居住在这片美丽小岛上的孩子，没有国籍，大都生活贫困，但在他们脸上却透露着纯真、活泼开朗、乐观的心态，对外来游客充满了好奇、热情。真是有点儿少年不知愁滋味……</p>

                            <div class="post-photos">





                                <a href="{{host}}/1555723/13551636/#image21711277" class="photo-item " style="width: 190px;height: 112px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/1555723/m/21711277.jpg">
                                </a>

                                <a href="{{host}}/1555723/13551636/#image21711278" class="photo-item " style="width: 148px;height: 112px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/1555723/m/21711278.jpg">
                                </a>




                                <a href="{{host}}/1555723/13551636/#image21711279" class="photo-item hidden-item" style="width: 178px;height: 134px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/1555723/m/21711279.jpg">
                                </a>

                                <a href="{{host}}/1555723/13551636/#image21711280" class="photo-item hidden-item" style="width: 160px;height: 134px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/1555723/m/21711280.jpg">
                                </a>




                                <a href="{{host}}/1555723/13551636/#image21711281" class="photo-item hidden-item" style="width: 161px;height: 134px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/1555723/m/21711281.jpg">
                                </a>

                                <a href="{{host}}/1555723/13551636/#image21711282" class="photo-item hidden-item" style="width: 177px;height: 134px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/1555723/m/21711282.jpg">
                                </a>




                                <a href="{{host}}/1555723/13551636/#image21711283" class="photo-item hidden-item" style="width: 136px;height: 104px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/1555723/m/21711283.jpg">
                                </a>

                                <a href="{{host}}/1555723/13551636/#image21711284" class="photo-item hidden-item" style="width: 61px;height: 104px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/1555723/m/21711284.jpg">
                                </a>

                                <a href="{{host}}/1555723/13551636/#image21711285" class="photo-item hidden-item" style="width: 139px;height: 104px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/1555723/m/21711285.jpg">
                                </a>




                                <a href="{{host}}/1555723/13551636/#image21711286" class="photo-item hidden-item" style="width: 167px;height: 129px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/1555723/m/21711286.jpg">
                                </a>

                                <a href="{{host}}/1555723/13551636/#image21711287" class="photo-item hidden-item" style="width: 171px;height: 129px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/1555723/m/21711287.jpg">
                                </a>




                                <a href="{{host}}/1555723/13551636/#image21711288" class="photo-item hidden-item" style="width: 186px;height: 115px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/1555723/m/21711288.jpg">
                                </a>

                                <a href="{{host}}/1555723/13551636/#image21711289" class="photo-item hidden-item" style="width: 152px;height: 115px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/1555723/m/21711289.jpg">
                                </a>




                                <a href="{{host}}/1555723/13551636/#image21711290" class="photo-item hidden-item" style="width: 153px;height: 115px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/1555723/m/21711290.jpg">
                                </a>

                                <a href="{{host}}/1555723/13551636/#image21711291" class="photo-item hidden-item" style="width: 185px;height: 115px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/1555723/m/21711291.jpg">
                                </a>



                                <div class="see-all"><a title="显示全部">共15张照片</a></div>

                            </div>

                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">


                                <a href="//tuchong.com/tags/人文">人文</a>

                                <a href="//tuchong.com/tags/旅行">旅行</a>

                                <a href="//tuchong.com/tags/抓拍">抓拍</a>

                            </div>

                            <div class="post-ops">
                                <a class="post-comment" data-comments="0">评论(0)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">4</a>
                            </div>
                        </div>
                    </li>

                </ul><div class="pagelist-load-more">加载更多</div></div>
        </div>
    </div>
</main>
