{{#extend "style"}}
    <link href="/mobile/css/activity_detail.css" rel="stylesheet">
{{/extend}}



{{#extend "script"}}

{{/extend}}

<main>
    <div class="container">
        <div class="head">
            <div class="banner" style="background-image:url(https://photo.tuchong.com/1315462/g/15291013.webp);"></div>
            <div class="title">
                <h1>游山·玩水</h1>
                <div class="state">
                    <p>已有<span>12</span>人参加，共<span>17</span>份投稿</p>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="info">
                <div class="detail">
                    <div class="detail-partial">
                        <h3>介绍</h3>
                        <p>网上说，人生就是从自己待腻的地方去别人待腻的地方玩。这个秋天，你去哪儿玩了？</p>

                    </div>
                </div>
            </div>
            <div class="event-filter">
                <div class="filter-wrapper">
                    <a class="filter-btn active" filter-type="new">全部</a>
                    <a class="filter-btn" filter-type="daily">热门</a>
                    <a class="publish-btn enable" href="/new-photo/?tag_id=444655">我要参加</a>
                </div>
            </div>
            <div class="widget-eventlist"><ul class="pagelist-wrapper">

                <li class="impression-item" data-post-id="13553720">
                    <a class="item-cover" href="{{host}}/1450565/13553720/">

                        <img src="https://photo.tuchong.com/1450565/g/26972917.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1450565/13553720/">
                        <span class="name" title="小镇公园。">小镇公园。</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1450565/"><img src="https://s1.tuchong.com/sites/145/1450565/logo_small.jpg?3"></a>
                        <a class="name" href="{{host}}/1450565/">ACheng___</a>
                        <span data-postid="13553720" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13553711">
                    <a class="item-cover" href="{{host}}/1537201/13553711/">

                        <img src="https://photo.tuchong.com/1537201/g/11559456.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1537201/13553711/">
                        <span class="name" title="你爱大海吗？不，我爱浪！">你爱大海吗？不，我爱浪！</span>
                        <span class="count">6张</span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1537201/"><img src="https://s1.tuchong.com/sites/153/1537201/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1537201/">火树银花1019</a>
                        <span data-postid="13553711" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13553577">
                    <a class="item-cover" href="{{host}}/1024678/13553577/">

                        <img src="https://photo.tuchong.com/1024678/g/17456480.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1024678/13553577/">
                        <span class="name" title="纳木措">纳木措</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1024678/"><img src="https://s1.tuchong.com/sites/102/1024678/logo_small.jpg?2"></a>
                        <a class="name" href="{{host}}/1024678/">冰___蓝</a>
                        <span data-postid="13553577" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13553516">
                    <a class="item-cover" href="{{host}}/1561584/13553516/">

                        <img src="https://photo.tuchong.com/1561584/g/31871917.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1561584/13553516/">
                        <span class="name" title="泰国之行">泰国之行</span>
                        <span class="count">2张</span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1561584/"><img src="https://s1.tuchong.com/sites/156/1561584/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1561584/">Ivan一</a>
                        <span data-postid="13553516" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13553485">
                    <a class="item-cover" href="{{host}}/1553732/13553485/">

                        <img src="https://photo.tuchong.com/1553732/g/11358690.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1553732/13553485/">
                        <span class="name" title="玩水">玩水</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1553732/"><img src="https://s1.tuchong.com/sites/155/1553732/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1553732/">皮皮298</a>
                        <span data-postid="13553485" class="count unliked">1</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13553460">
                    <a class="item-cover" href="{{host}}/1502428/13553460/">

                        <img src="https://photo.tuchong.com/1502428/g/25525593.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1502428/13553460/">
                        <span class="name" title="芽庄大教堂">芽庄大教堂</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1502428/"><img src="https://s1.tuchong.com/sites/150/1502428/logo_small.jpg?2"></a>
                        <a class="name" href="{{host}}/1502428/">Lianzim</a>
                        <span data-postid="13553460" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13553446">
                    <a class="item-cover" href="{{host}}/1553732/13553446/">

                        <img src="https://photo.tuchong.com/1553732/g/11358689.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1553732/13553446/">
                        <span class="name" title="欢">欢</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1553732/"><img src="https://s1.tuchong.com/sites/155/1553732/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1553732/">皮皮298</a>
                        <span data-postid="13553446" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13553368">
                    <a class="item-cover" href="{{host}}/1432864/13553368/">

                        <img src="https://photo.tuchong.com/1432864/g/23799886.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1432864/13553368/">
                        <span class="name" title="壮美霞光">壮美霞光</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1432864/"><img src="https://s1.tuchong.com/sites/143/1432864/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1432864/">无人喝彩672</a>
                        <span data-postid="13553368" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13553346">
                    <a class="item-cover" href="{{host}}/1553732/13553346/">

                        <img src="https://photo.tuchong.com/1553732/g/11358677.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1553732/13553346/">
                        <span class="name" title="哇塞。。。啊">哇塞。。。啊</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1553732/"><img src="https://s1.tuchong.com/sites/155/1553732/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1553732/">皮皮298</a>
                        <span data-postid="13553346" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13553342">
                    <a class="item-cover" href="{{host}}/1553732/13553342/">

                        <img src="https://photo.tuchong.com/1553732/g/11358676.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1553732/13553342/">
                        <span class="name" title="玩水">玩水</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1553732/"><img src="https://s1.tuchong.com/sites/155/1553732/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1553732/">皮皮298</a>
                        <span data-postid="13553342" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13553336">
                    <a class="item-cover" href="{{host}}/1553732/13553336/">

                        <img src="https://photo.tuchong.com/1553732/g/11358675.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1553732/13553336/">
                        <span class="name" title="马拉车">马拉车</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1553732/"><img src="https://s1.tuchong.com/sites/155/1553732/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1553732/">皮皮298</a>
                        <span data-postid="13553336" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13553334">
                    <a class="item-cover" href="{{host}}/1553732/13553334/">

                        <img src="https://photo.tuchong.com/1553732/g/11358674.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1553732/13553334/">
                        <span class="name" title="摄影">摄影</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1553732/"><img src="https://s1.tuchong.com/sites/155/1553732/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1553732/">皮皮298</a>
                        <span data-postid="13553334" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13552472">
                    <a class="item-cover" href="{{host}}/1402653/13552472/">

                        <img src="https://photo.tuchong.com/1402653/g/10629551.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1402653/13552472/">
                        <span class="name" title="钓鱼台">钓鱼台</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1402653/"><img src="https://s1.tuchong.com/sites/140/1402653/logo_small.jpg?2"></a>
                        <a class="name" href="{{host}}/1402653/">阁楼书生</a>
                        <span data-postid="13552472" class="count unliked">1</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13551894">
                    <a class="item-cover" href="{{host}}/1050411/13551894/">

                        <img src="https://photo.tuchong.com/1050411/g/29255355.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1050411/13551894/">
                        <span class="name" title="游山玩水">游山玩水</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1050411/"><img src="https://s1.tuchong.com/sites/105/1050411/logo_small.jpg?2"></a>
                        <a class="name" href="{{host}}/1050411/">逍遥子高远</a>
                        <span data-postid="13551894" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13551192">
                    <a class="item-cover" href="{{host}}/1560772/13551192/">

                        <img src="https://photo.tuchong.com/1560772/g/20526750.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1560772/13551192/">
                        <span class="name" title="日照大海">日照大海</span>
                        <span class="count">9张</span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1560772/"><img src="https://s1.tuchong.com/sites/156/1560772/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1560772/">离阿骚</a>
                        <span data-postid="13551192" class="count unliked">0</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13550856">
                    <a class="item-cover" href="{{host}}/1315462/13550856/">

                        <img src="https://photo.tuchong.com/1315462/g/15291013.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1315462/13550856/">
                        <span class="name" title="墨脱，我来了">墨脱，我来了</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1315462/"><img src="https://s1.tuchong.com/sites/131/1315462/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1315462/">YANJIE</a>
                        <span data-postid="13550856" class="count unliked">10</span>
                    </div>
                </li>


                <li class="impression-item" data-post-id="13550490">
                    <a class="item-cover" href="{{host}}/1491436/13550490/">

                        <img src="https://photo.tuchong.com/1491436/g/7760723.webp">

                    </a>
                    <a class="item-collection" href="{{host}}/1491436/13550490/">
                        <span class="name" title="游山玩水～">游山玩水～</span>
                        <span class="count"></span>
                    </a>
                    <div class="item-owner">
                        <a class="thumb" href="{{host}}/1491436/"><img src="https://s1.tuchong.com/sites/149/1491436/logo_small.jpg?1"></a>
                        <a class="name" href="{{host}}/1491436/">yuanr</a>
                        <span data-postid="13550490" class="count unliked">0</span>
                    </div>
                </li>
            </ul><div class="pagelist-load-more">加载更多</div></div>
        </div>
    </div>
</main>
