{{#extend "style"}}
    <link href="/pc/css/app.css" rel="stylesheet">
{{/extend}}



{{#extend "script"}}

{{/extend}}



<main>
    <div class="container">
        <div class="content">
            <img class="download-main" src="{{host}}/pc/css/img/main_62c82a6.png">
            <img class="download-qrcode" src="{{host}}/pc/css/img/qrcode_941537a.png">
            <img class="download-iphone" src="{{host}}/pc/css/img/iphone_bea3290.png">
            <a class="download-item item-iphone" data-type="iOS" data-referer="official" target="_blank" title="点击下载iPhone客户端" href="{{host}}/cn/app/tu-chong-zui-hao-she-ying/id1073064739?l=en&mt=8"></a>
            <a class="download-item item-android" data-type="Android" data-referer="official" title="点击下载Android客户端" href="{{host}}/rest/android/download"></a>
        </div>
    </div>
</main>
