{{#extend "style"}}
    <link href="{{STATIC}}/common/uploadheaderimg/cropper.min.css" rel="stylesheet">
    <link href="/common/uploadheaderimg/sitelogo.css" rel="stylesheet">
    <style>
        label.error {
            color: red;
        }
    </style>
{{/extend}}

{{#extend "script"}}
    <script src="/common/uploadheaderimg/cropper.min.js"></script>
    <script src="/common/uploadheaderimg/sitelogo.js"></script>
    <script src="/components/jquery-validation/dist/jquery.validate.min.js"></script>
    <script>
        $(function () {
            jQuery.validator.addMethod("isMobile", function(value, element) {
                var length = value.length;
                return this.optional(element) || (length == 11 && /^(((13[0-9]{1})|(15[0-9]{1})|(18[0-9]{1}))+\d{8})$/.test(value));
            }, "请正确填写您的手机号码。");

            $().ready(function () {
                $("#postEdit").validate({
                    rules: {
                        email: {
                            email: true
                        },
                        phone: {
                            isMobile: true
                        }
                    },
                    messages: {
                        email: "请输入正确的邮箱格式如: example@oldku.com",
                        phoneUK: "请输入正确的邮箱格式如: 18059178863"
                    },
                    submitHandler: function (form) {
                        // some other code
                        // maybe disabling submit button
                        // then:
                        //$(form).submit();
                        return true;
                    }
                });

            });
        })
    </script>
{{/extend}}
{{>admin_navbarHeader}}
<div class="container-fluid">
    <div class="row">
      {{>admin_navSidebar}}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          {{#each err}}
              <div class="alert alert-warning alert-dismissible fade in" role="alert">
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">×</span></button>
                {{msg}}
              </div>
          {{/each}}
          {{#if success}}
              <div class="alert alert-success" role="alert">提交成功</div>
          {{/if}}
          {{#each user}}
              <form id="postEdit" class="form-horizontal" action="/admin/user/update" method="post">
                  <input name="_id" value="{{_id}}" type="hidden"/>

                  <div class="form-group">
                      <label for="name" class="col-sm-2 control-label">昵称</label>

                      <div class="col-sm-10">
                          <input type="text" class="form-control" id="name" name="name" placeholder="{{name}}">
                      </div>
                  </div>
                  <div class="form-group">
                      <label class="col-sm-2 control-label">性别</label>

                      <div class="col-sm-10">
                          <label class="radio-inline">
                              <input type="radio" name="sex" id="inlineRadio1" {{#eq sex 3}}checked{{/eq}} value="3"> 男
                          </label>
                          <label class="radio-inline">
                              <input type="radio" name="sex" id="inlineRadio2" {{#eq sex 2}}checked{{/eq}} value="2"> 女
                          </label>
                          <label class="radio-inline">
                              <input type="radio" name="sex" id="inlineRadio3" {{#eq sex 1}}checked{{/eq}} value="1"> 不填
                          </label>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="email" class="col-sm-2 control-label">Email</label>

                      <div class="col-sm-10">
                          <input type="email" class="form-control" id="email" name="email" placeholder="{{email}}">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="phone" class="col-sm-2 control-label">手机号码</label>

                      <div class="col-sm-10">
                          <input class="form-control" name="phone" id="phone" placeholder="{{phone}}">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="headPicture" class="col-sm-2 control-label">头像</label>

                      <div class="col-sm-10">
                          <div class="ibox-content">
                              <div class="row">
                                  <div id="crop-avatar" class="col-md-6">
                                      <div class="avatar-view" title="Change Logo Picture">
                                          <img src="{{headPicture}}" alt="Logo">
                                          <input id="imgUrl" name="headPicture" type="hidden"/>
                                          <input name="oldheadPicture" value="{{headPicture}}" type="hidden"/>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <p class="help-block">提交新的图片</p>
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="level" class="col-sm-2 control-label">摄影级别</label>

                      <div class="col-sm-10">
                          <select id="level" name="level" class="form-control">
                              <option {{#eq level 0}}selected{{/eq}} value="0">普能用户</option>
                              <option {{#eq level 1}}selected{{/eq}} value="1">摄影师</option>
                              <option {{#eq level 2}}selected{{/eq}} value="2">高级摄影师</option>
                          </select>
                      </div>
                  </div>

                  <div class="form-group">
                      <div class="col-sm-offset-2 col-sm-10">
                          <button type="submit" class="btn btn-primary btn-lg">提交</button>
                      </div>
                  </div>
              </form>
          {{/each}}
        </div>
    </div>
</div>


<div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog"
     tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form class="avatar-form" action="/admin/user/edit/postheaderimg" enctype="multipart/form-data" method="post">
                <div class="modal-header">
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                    <h4 class="modal-title" id="avatar-modal-label">Change Logo Picture</h4>
                </div>
                <div class="modal-body">
                    <div class="avatar-body">
                        <div class="avatar-upload">
                            <input class="avatar-src" name="avatar_src" type="hidden">
                            <input class="avatar-data" name="avatar_data" type="hidden">
                            <label for="avatarInput">图片上传</label>
                            <input class="avatar-input" id="avatarInput" name="avatar_file" type="file"></div>
                        <div class="row">
                            <div class="col-md-9">
                                <div class="avatar-wrapper"></div>
                            </div>
                            <div class="col-md-3">
                                <div class="avatar-preview preview-lg"></div>
                                <div class="avatar-preview preview-md"></div>
                                <div class="avatar-preview preview-sm"></div>
                            </div>
                        </div>
                        <div class="row avatar-btns">
                            <div class="col-md-9">
                                <div class="btn-group">
                                    <button class="btn" data-method="rotate" data-option="-90" type="button"
                                            title="Rotate -90 degrees"><i class="fa fa-undo"></i> 向左旋转
                                    </button>
                                </div>
                                <div class="btn-group">
                                    <button class="btn" data-method="rotate" data-option="90" type="button"
                                            title="Rotate 90 degrees"><i class="fa fa-repeat"></i> 向右旋转
                                    </button>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <button class="btn btn-success btn-block avatar-save" type="submit"><i
                                        class="fa fa-save"></i> 保存修改
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>

