{{#extend "style"}}
    <link href="/components/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
{{/extend}}
{{#extend "script"}}
    <script src="/common/js/moment.min.js"></script>
    <script src="/components/bootstrap-daterangepicker/daterangepicker.js"></script>
    <script src="/common/js/jquery.querystring.js"></script>
    <script type="text/javascript">
        $(function () {
            var start = moment().subtract(1, 'days');
            var end = moment();
            $('input[name="daterange"]').daterangepicker({
                autoUpdateInput: false,
                startDate: start,
                endDate: end,
                maxDate: end,
                ranges: {
                    '今天': [moment(), moment()],
                    '昨天': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    '过去7天': [moment().subtract(6, 'days'), moment()],
                    '过去30天': [moment().subtract(29, 'days'), moment()],
                    '这个月': [moment().startOf('month'), moment().endOf('month')],
                    '上个月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                },
                "locale": {
                    "format": "YYYY-MM-DD HH:mm:ss",
                    "separator": " / ",
                    "applyLabel": "确定",
                    "cancelLabel": "取消",
                    "fromLabel": "从",
                    "toLabel": "到",
                    "customRangeLabel": "自定义",
                    "weekLabel": "W",
                    "daysOfWeek": [
                        "日",
                        "一",
                        "二",
                        "三",
                        "四",
                        "五",
                        "六"
                    ],
                    "monthNames": [
                        "1月",
                        "2月",
                        "3月",
                        "4月",
                        "5月",
                        "6月",
                        "7月",
                        "8月",
                        "9月",
                        "10月",
                        "11月",
                        "12月"
                    ],
                    "firstDay": 1
                }
            }, function (start, end, label) {
                var val = start.format('YYYY-MM-DD HH:mm:ss') + ' / ' + end.format('YYYY-MM-DD HH:mm:ss');
                $('[name="daterange"]').val(val);
            });


            $('#submit').click(function (e) {
                e.preventDefault();
                var action = $('#form').attr('action');
                var actionSeach = $.querystring(action);
                var serialize = $('#form').serialize();
                var strObj = $.querystring(serialize);
                $.extend(strObj,actionSeach);
                console.log(strObj);
                if (!strObj.email) {
                    delete strObj.email;
                }
                if (!strObj.name) {
                    delete strObj.name;
                }
                if (!strObj.phone) {
                    delete strObj.phone;
                }
                if (!strObj.daterange) {
                    delete strObj.daterange;
                }
                strObj = $.querystring(strObj);
                var url = location.origin + location.pathname;
                if(strObj){
                    var url = url+"?"+strObj;
                }
               window.location.href = url;
            })
        });

    </script>
{{/extend}}
{{>admin_navbarHeader}}
<div class="container-fluid">
    <div class="row">
      {{>admin_navSidebar}}
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <form class="form-inline" id="form"
                  action="/admin/user/list?page={{currentPage}}&sortby={{sortby}}&sortdir={{sortdir}}&{{../search}}">
                <div class="form-group">
                    <label class="sr-only" for="nic">昵称</label>
                    <input type="text" class="form-control" name="name" id="nic" placeholder="昵称">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="email">邮箱</label>
                    <input type="email" class="form-control" name="email" id="email" placeholder="邮箱">
                </div>

                <div class="form-group">
                    <label class="sr-only" for="phone">手机号码</label>
                    <input type="tel" class="form-control" name="phone" id="phone" placeholder="手机号码">
                </div>
                <div class="form-group">
                    <label class="sr-only" for="phone">时间段</label>
                    <input placeholder="时间段" type="text" style="width: 305px;" class="form-control" name="daterange"
                           value=""/>
                </div>
                <button id="submit" type="submit" class="btn btn-default">搜索</button>
            </form>
            <table class="table table-hover">
                <thead>
                <th>昵称</th>
                <th>
                  {{#eq sortby 'sex'}}

                    {{#eq sortdir 'desc'}}
                        <a href="?page={{currentPage}}&sortby=sex&sortdir=asc&{{search}}">性别 <span
                                class="glyphicon glyphicon-arrow-down"></span></a>
                    {{else}}
                        <a href="?page={{currentPage}}&sortby=sex&sortdir=desc&{{search}}">性别 <span
                                class="glyphicon glyphicon-arrow-up"></span></a>
                    {{/eq}}
                  {{else}}
                      <a href="?page={{currentPage}}&sortby=sex&sortdir=desc&{{search}}">性别 </a>
                  {{/eq}}
                </th>
                <th>邮箱</th>
                <th>电话号吗</th>
                <th>头像</th>
                <th>
                  {{#eq sortby 'concern'}}

                    {{#eq sortdir 'desc'}}
                        <a href="?page={{currentPage}}&sortby=concern&sortdir=asc&{{search}}">关注数 <span
                                class="glyphicon glyphicon-arrow-down"></span></a>
                    {{else}}
                        <a href="?page={{currentPage}}&sortby=concern&sortdir=desc&{{search}}">关注数 <span
                                class="glyphicon glyphicon-arrow-up"></span></a>
                    {{/eq}}
                  {{else}}
                      <a href="?page={{currentPage}}&sortby=concern&sortdir=desc&{{search}}">关注数 </a>
                  {{/eq}}
                </th>
                <th>
                  {{#eq sortby 'fans'}}

                    {{#eq sortdir 'desc'}}
                        <a href="?page={{currentPage}}&sortby=fans&sortdir=asc&{{search}}">粉丝数 <span
                                class="glyphicon glyphicon-arrow-down"></span></a>
                    {{else}}
                        <a href="?page={{currentPage}}&sortby=fans&sortdir=desc&{{search}}">粉丝数 <span
                                class="glyphicon glyphicon-arrow-up"></span></a>
                    {{/eq}}
                  {{else}}
                      <a href="?page={{currentPage}}&sortby=fans&sortdir=desc&{{search}}">粉丝数 </a>
                  {{/eq}}
                </th>
                <th>
                  {{#eq sortby 'disable'}}
                    {{#eq sortdir 'desc'}}
                        <a href="?page={{currentPage}}&sortby=disable&sortdir=asc&{{search}}">用户状态 <span
                                class="glyphicon glyphicon-arrow-down"></span></a>
                    {{else}}
                        <a href="?page={{currentPage}}&sortby=disable&sortdir=desc&{{search}}">用户状态 <span
                                class="glyphicon glyphicon-arrow-up"></span></a>
                    {{/eq}}
                  {{else}}
                      <a href="?page={{currentPage}}&sortby=disable&sortdir=desc&{{search}}">用户状态 </a>
                  {{/eq}}
                </th>
                <th>
                  {{#eq sortby 'created'}}

                    {{#eq sortdir 'desc'}}
                        <a href="?page={{currentPage}}&sortby=created&sortdir=asc&{{search}}">创建时间 <span
                                class="glyphicon glyphicon-arrow-down"></span></a>
                    {{else}}
                        <a href="?page={{currentPage}}&sortby=created&sortdir=desc&{{search}}">创建时间 <span
                                class="glyphicon glyphicon-arrow-up"></span></a>
                    {{/eq}}
                  {{else}}
                      <a href="?page={{currentPage}}&sortby=created&sortdir=desc&{{search}}">创建时间 </a>
                  {{/eq}}
                </th>
                <th>摄影师级别</th>
                <th>操作</th>
                </thead>
                <tbody>
                {{#forEach docs}}
                    <tr>
                        <td>{{name}}</td>
                        <td>{{sex}}</td>
                        <td>{{email}}</td>
                        <td>{{phone}}</td>
                        <td><img style="width: 30px; height: 30px;" src="{{headPicture}}" alt=""/></td>
                        <td>{{length fans}}</td>
                        <td>{{length concern}}</td>
                        <td>{{#eq disable 0}}激活{{else}}停用{{/eq}}</td>
                        <td>{{moment created "YYYY-MM-DD HH.mm.ss"}}</td>
                        <td>{{level}}</td>
                        <td>
                            <a href="/admin/user/edit?id={{_id}}" class="btn btn-primary"><span
                                    class="glyphicon glyphicon-play-circle"></span>查看
                            </a>
                            <a href="/admin/user/edit?id={{_id}}" class="btn btn-primary"><span
                                    class="glyphicon glyphicon-edit"></span>编缉
                            </a>
                            <!--<a href="/admin/user/edit?id={{_id}}" class="btn btn-danger"><span
                                    class="glyphicon glyphicon-remove"></span>删除
                            </a>-->
                        </td>
                    </tr>
                {{/forEach}}
                </tbody>
            </table>

          {{#gt pageCount 1}}
              <nav>
                  <ul class="pagination">
                      <li>
                          <a href="?page={{prePage}}&sortby={{../sortby}}&sortdir={{../sortdir}}&{{../search}}" aria-label="Previous">
                              <span aria-hidden="true">&laquo;</span>
                          </a>
                      </li>

                    {{#for starPage endPage  1}}
                        <li class="{{#is   this  ../currentPage }} active{{/is}}">
                            <a href="?page={{this}}&sortby={{../sortby}}&sortdir={{../sortdir}}&{{../search}}">{{this}}</a></li>
                    {{/for}}
                      <li><a href="?page={{pageCount}}&sortby={{../sortby}}&sortdir={{../sortdir}}&{{../search}}">总共{{pageCount}}页</a>
                      </li>
                      <li>
                          <a href="?page={{nextPage}}&sortby={{../sortby}}&sortdir={{../sortdir}}&{{../search}}" aria-label="Next">
                              <span aria-hidden="true">&raquo;</span>
                          </a>
                      </li>
                  </ul>
              </nav>
          {{/gt}}
        </div>
    </div>
</div>

{{#extend "script"}}
    <script>
        $(function () {
//            $('.table thead').on('click', 'a', function (e) {
//                e.preventDefault();
//                var sort = '1';
//                if ($(this).find('span').hasClass('glyphicon-arrow-down')) {
//                    sort = '-1'
//                    $(this).find('span').removeClass('glyphicon-arrow-down').addClass('glyphicon-arrow-up')
//                }
//
//                window.location.href = window.location.href.split("?")[0] + $(this).attr('href') + sort
//            })
        })
    </script>
{{/extend}}
