{{#extend "style"}}
    <link href="/pc/css/welcome.css" rel="stylesheet">
{{/extend}}
{{#extend 'bodyAttr'}} class="" {{/extend}}
{{#extend 'headClass'}} fixed-top {{/extend}}

{{#extend "script"}}
  <script>
      $(function(){
        $('body').addClass('body-loaded');


          $('.posts-list').on("mouseenter", ".post-cover", function(n) {
              var t = $(this)
                      , e = t.find(".post-mask")
                      , o = t.width()
                      , i = t.height();
              e.removeClass("leave-left leave-top leave-bottom leave-right"),
                      e.addClass(n.offsetY / n.offsetX <= i / o ? o - n.offsetX >= n.offsetY - 0 ? "enter-top" : "enter-right" : i - n.offsetY >= n.offsetX - 0 ? "enter-left" : "enter-bottom")
          }).on("mouseleave", ".post-mask", function(n) {
              var t = $(this)
                      , e = t.width()
                      , o = t.height();
              t.removeClass("enter-left enter-top enter-bottom enter-right"),
                      n.offsetX < 0 ? t.addClass("leave-left") : n.offsetX > e ? t.addClass("leave-right") : n.offsetY < 0 ? t.addClass("leave-top") : n.offsetY > o && t.addClass("leave-bottom")
          })
      })
  </script>
{{/extend}}

<main>
    <div class="container">
        <section class="welcome-cover" id="welcome-cover" style="background-image: url(&quot;https://s1.tuchong.com/welcome-image/large/11886719.jpg&quot;);">
            <div class="cover-wrapper">
                <h1 class="cover-slogan">最好的摄影师都在这</h1>
                <a href="/signup" class="cover-enter">马上加入</a>
                <div class="cover-qrcode"><a class="qrcode-image" href="/app"></a></div>
                <a href="https://appsto.re/cn/JSA9_.i" class="link-ios"></a>
                <a href="{{host}}/rest/android/download" class="link-android"></a>
            </div>
            <a class="cover-author" href="{{host}}/1528288/13477295/" target="_blank">By: @陈文件</a>
        </section>
        <section class="content">
            <section class="hot-posts">
                <h2>已经有超过百万的摄影爱好者入驻了偶酷······</h2>
                <p>在这里，发现基于共同兴趣的同好；鼓励原创和分享精神；除了美好的摄影和技能，我们更在意影像背后价值观的认同。</p>
                <ul class="posts-list"><!-- 不输出最后一行 -->


                    <li class="post-row" style="height: 324px;">


                        <a class="post-cover" data-lazy-url="https://photo.tuchong.com/503210/ft640/15483877.webp" style="width: 432px; height: 324px; margin-left: 0px; background-image: url(&quot;https://photo.tuchong.com/503210/ft640/15483877.webp&quot;);" href="https://julius-zhu.tuchong.com/13541010/" target="_blank">
                            <div class="post-mask enter-top">
                                <h3 class="post-title">银河</h3>
                                <img class="post-author-icon" src="https://s1.tuchong.com/sites/503/503210/logo_small.jpg?3">
                                <span class="post-author-name">Juliusz</span>
                            </div>
                        </a>

                        <a class="post-cover" data-lazy-url="https://photo.tuchong.com/1102532/ft640/28152230.webp" style="width: 432px; height: 324px; margin-left: 10px; background-image: url(&quot;https://photo.tuchong.com/1102532/ft640/28152230.webp&quot;);" href="{{host}}/1102532/13501389/" target="_blank">
                            <div class="post-mask">
                                <h3 class="post-title">《吊脚楼》</h3>
                                <img class="post-author-icon" src="https://s1.tuchong.com/sites/110/1102532/logo_small.jpg?2">
                                <span class="post-author-name">鬼迹</span>
                            </div>
                        </a>

                        <a class="post-cover" data-lazy-url="https://photo.tuchong.com/347632/ft640/26882088.webp" style="width: 316px; height: 324px; margin-left: 10px; background-image: url(&quot;https://photo.tuchong.com/347632/ft640/26882088.webp&quot;);" href="{{host}}/347632/12720271/" target="_blank">
                            <div class="post-mask">
                                <h3 class="post-title">无题</h3>
                                <img class="post-author-icon" src="https://s1.tuchong.com/sites/347/347632/logo_small.jpg?9">
                                <span class="post-author-name">shujian345</span>
                            </div>
                        </a>

                    </li>



                    <li class="post-row" style="height: 295px;">


                        <a class="post-cover" data-lazy-url="https://photo.tuchong.com/1118179/ft640/22364585.webp" style="width: 393px; height: 295px; margin-left: 0px; background-image: url(&quot;https://photo.tuchong.com/1118179/ft640/22364585.webp&quot;);" href="{{host}}/1118179/13512718/" target="_blank">
                            <div class="post-mask">
                                <h3 class="post-title">放逐</h3>
                                <img class="post-author-icon" src="https://s1.tuchong.com/sites/111/1118179/logo_small.jpg?2">
                                <span class="post-author-name">纸上河山</span>
                            </div>
                        </a>

                        <a class="post-cover" data-lazy-url="https://photo.tuchong.com/1118179/ft640/22364717.webp" style="width: 393px; height: 295px; margin-left: 10px; background-image: url(&quot;https://photo.tuchong.com/1118179/ft640/22364717.webp&quot;);" href="{{host}}/1118179/13524543/" target="_blank">
                            <div class="post-mask">
                                <h3 class="post-title">夜船</h3>
                                <img class="post-author-icon" src="https://s1.tuchong.com/sites/111/1118179/logo_small.jpg?2">
                                <span class="post-author-name">纸上河山</span>
                            </div>
                        </a>

                        <a class="post-cover" data-lazy-url="https://photo.tuchong.com/503210/ft640/15483855.webp" style="width: 394px; height: 295px; margin-left: 10px; background-image: url(&quot;https://photo.tuchong.com/503210/ft640/15483855.webp&quot;);" href="https://julius-zhu.tuchong.com/13541060/" target="_blank">
                            <div class="post-mask">
                                <h3 class="post-title">生如夏花</h3>
                                <img class="post-author-icon" src="https://s1.tuchong.com/sites/503/503210/logo_small.jpg?3">
                                <span class="post-author-name">Juliusz</span>
                            </div>
                        </a>

                    </li>



                    <li class="post-row" style="height: 295px;">


                        <a class="post-cover" data-lazy-url="https://photo.tuchong.com/1556232/ft640/10902631.webp" style="width: 393px; height: 295px; margin-left: 0px; background-image: url(&quot;https://photo.tuchong.com/1556232/ft640/10902631.webp&quot;);" href="{{host}}/1556232/13538197/" target="_blank">
                            <div class="post-mask enter-top">
                                <h3 class="post-title">露营哈拉湖</h3>
                                <img class="post-author-icon" src="https://s1.tuchong.com/sites/155/1556232/logo_small.jpg?5">
                                <span class="post-author-name">哥本草根LU</span>
                            </div>
                        </a>

                        <a class="post-cover" data-lazy-url="https://photo.tuchong.com/388208/ft640/11559987.webp" style="width: 393px; height: 295px; margin-left: 10px; background-image: url(&quot;https://photo.tuchong.com/388208/ft640/11559987.webp&quot;);" href="https://shawn-shannon.tuchong.com/13527467/" target="_blank">
                            <div class="post-mask">
                                <h3 class="post-title">仙乃日</h3>
                                <img class="post-author-icon" src="https://s1.tuchong.com/sites/388/388208/logo_small.jpg?6">
                                <span class="post-author-name">阿飞的小火柴</span>
                            </div>
                        </a>

                        <a class="post-cover" data-lazy-url="https://photo.tuchong.com/1173267/ft640/17250062.webp" style="width: 394px; height: 295px; margin-left: 10px; background-image: url(&quot;https://photo.tuchong.com/1173267/ft640/17250062.webp&quot;);" href="https://sojourner.tuchong.com/13500289/" target="_blank">
                            <div class="post-mask">
                                <h3 class="post-title">冰与火</h3>
                                <img class="post-author-icon" src="https://s1.tuchong.com/sites/117/1173267/logo_small.jpg?1">
                                <span class="post-author-name">Sojourner_UK</span>
                            </div>
                        </a>

                    </li>



                    <li class="post-row" style="height: 345px;">


                        <a class="post-cover" data-lazy-url="https://photo.tuchong.com/1179673/ft640/26764096.webp" style="width: 460px; height: 345px; margin-left: 0px; background-image: url(&quot;https://photo.tuchong.com/1179673/ft640/26764096.webp&quot;);" href="{{host}}/1179673/13532972/" target="_blank">
                            <div class="post-mask">
                                <h3 class="post-title">北京—秋天来了</h3>
                                <img class="post-author-icon" src="https://s1.tuchong.com/sites/117/1179673/logo_small.jpg?2">
                                <span class="post-author-name">愤怒的宝蛋</span>
                            </div>
                        </a>

                        <a class="post-cover" data-lazy-url="https://photo.tuchong.com/1325480/ft640/28339039.webp" style="width: 461px; height: 345px; margin-left: 10px; background-image: url(&quot;https://photo.tuchong.com/1325480/ft640/28339039.webp&quot;);" href="{{host}}/1325480/13519884/" target="_blank">
                            <div class="post-mask">
                                <h3 class="post-title">偷窥银河SOHO</h3>
                                <img class="post-author-icon" src="https://s1.tuchong.com/sites/132/1325480/logo_small.jpg?2">
                                <span class="post-author-name">咖啡泡面</span>
                            </div>
                        </a>

                        <a class="post-cover" data-lazy-url="https://photo.tuchong.com/1364738/ft640/13060701.webp" style="width: 259px; height: 345px; margin-left: 10px; background-image: url(&quot;https://photo.tuchong.com/1364738/ft640/13060701.webp&quot;);" href="{{host}}/1364738/13534182/" target="_blank">
                            <div class="post-mask">
                                <h3 class="post-title">寂静的池塘</h3>
                                <img class="post-author-icon" src="https://s1.tuchong.com/sites/136/1364738/logo_small.jpg?4">
                                <span class="post-author-name">戈戈oO</span>
                            </div>
                        </a>

                    </li>



                </ul>
            </section>
            <section class="hot-events">
                <h2>全年超过百万奖金的活动和大赛，好照片不再寂寞······</h2>
                <p>中国最活跃的摄影赛事平台，层出不穷的活动创意，专业的摄影导师群体，一起帮助你成为中国最好的摄影师。</p>
                <ul class="events-list">
                    <li class="" data-lazy-url="https://photo.tuchong.com/1188774/l/13910309.webp" style="background-image: url(&quot;https://photo.tuchong.com/1188774/l/13910309.webp&quot;);">
                        <a class="event-mask" href="{{host}}/440935/" target="_blank">
                            <h3 class="event-title">“街拍中国”九月赛</h3>
                            <p class="event-posts">已投稿5661</p>
                            <p class="event-deadline">距结束<em>5天</em></p>
                        </a>
                    </li>
                    <li class="" data-lazy-url="https://photo.tuchong.com/1118844/l/19349069.webp" style="background-image: url(&quot;https://photo.tuchong.com/1118844/l/19349069.webp&quot;);">
                        <a class="event-mask" href="{{host}}/441926/" target="_blank">
                            <h3 class="event-title">胖电塔与街头摄影04期</h3>
                            <p class="event-posts">已投稿1528</p>
                            <p class="event-deadline">距结束<em>5天</em></p>
                        </a>
                    </li>
                    <li class="" data-lazy-url="https://s1.tuchong.com/event-banners/442685/app.jpg?2" style="background-image: url(&quot;https://s1.tuchong.com/event-banners/442685/app.jpg?2&quot;);">
                        <a class="event-mask" href="{{host}}/442685/" target="_blank">
                            <h3 class="event-title">“奇迹之镜”偶酷风光摄影典藏双月赛第三季</h3>
                            <p class="event-posts">已投稿1155</p>
                            <p class="event-deadline">距结束<em>44天</em></p>
                        </a>
                    </li>
                    <li class="" data-lazy-url="https://s1.tuchong.com/event-banners/424535/app.jpg?3" style="background-image: url(&quot;https://s1.tuchong.com/event-banners/424535/app.jpg?3&quot;);">
                        <a class="event-mask" href="{{host}}/424535/" target="_blank">
                            <h3 class="event-title">偶酷女神计划</h3>
                            <p class="event-posts">已投稿11600</p>
                            <p class="event-deadline">距结束<em>81天</em></p>
                        </a>
                    </li>
                    <li class="" data-lazy-url="https://photo.tuchong.com/275702/l/13646438.webp" style="background-image: url(&quot;https://photo.tuchong.com/275702/l/13646438.webp&quot;);">
                        <a class="event-mask" href="{{host}}/432193/" target="_blank">
                            <h3 class="event-title">阮义忠摄影人文奖</h3>
                            <p class="event-posts">已投稿3627</p>
                            <p class="event-deadline">距结束<em>5天</em></p>
                        </a>
                    </li>
                    <li class="" data-lazy-url="https://photo.tuchong.com/1325480/l/28339052.webp" style="background-image: url(&quot;https://photo.tuchong.com/1325480/l/28339052.webp&quot;);">
                        <a class="event-mask" href="{{host}}/441365/" target="_blank">
                            <h3 class="event-title">CAPA十一月风景建筑篇</h3>
                            <p class="event-posts">已投稿1396</p>
                            <p class="event-deadline">距结束<em>2天</em></p>
                        </a>
                    </li>
                </ul>
            </section>
        </section>
        <section class="app-zone">
            <div class="app-show">
                <a href="https://appsto.re/cn/JSA9_.i" class="link-ios"></a>
                <a href="{{host}}/rest/android/download" class="link-android"></a>
            </div>
        </section>
    </div>
</main>
