{{#extend "style"}}
    <link href="/pc/css/home.css" rel="stylesheet">
{{/extend}}
{{#extend 'bodyAttr'}}
    class="default-p has-subnav no-touch"
{{/extend}}


{{#extend "script"}}

{{/extend}}



<main>
    <div class="container clearfix">
        {{>pc_home_top}}
        <div class="content">
            <div class="card-warning width-icon icon-mobile" data-type="bind-mobile">
                <span class="warning-msg">绑定手机，开启个性化二级域名等高级功能<a href="/settings/account/">点击绑定</a></span><a class="card-close"></a>
            </div>
            <div class="card-warning" data-type="default-follow">
                <span class="warning-msg">你关注的人太少，我们帮你默认关注了一些活跃用户，如果你不喜欢可以<a href="/settings/preferences/">取消</a></span><a class="card-close"></a>
            </div>
            <div class="recommend-tag">
                <h2 class="tag-name">发现精彩标签：情侣</h2>
                <a class="tag-photos" target="_blank" href="{{host}}/tags/%E6%83%85%E4%BE%A3/?post_ids=3998920,13376803,13437254,13307300,13475641">
                    <img src="https://photo.tuchong.com/234525/g/3998854.webp" alt="London">
                    <img src="https://photo.tuchong.com/1000668/g/21904618.webp" alt="喝过最好喝的一杯咖啡，就是跟你一起冲的那杯">
                    <img src="https://photo.tuchong.com/1493919/g/15022321.webp" alt="135情侣">
                    <img src="https://photo.tuchong.com/1306406/g/25770871.webp" alt="用力的告别">
                    <img src="https://photo.tuchong.com/457789/g/13255946.webp" alt="有 你 の 生 活 。">
                </a>
            </div>
            <div class="widget-activitylist">

                <ul class="pagelist-wrapper">





                    <li class="activity-item activity-post impression-item impression-viewed" data-post-id="13526645">

                        <div class="activity-source">
                            <a href="{{host}}/1068278/" class="site-link" data-site-id="1068278" target="_blank">我叫小草帽</a>
                            分享
                            <time>11分钟前</time>
                        </div>

                        <div class="activity-head">
                            <a href="https://senli.tuchong.com/" class="site-icon" data-site-id="961836" target="_blank"><img src="https://s1.tuchong.com/sites/961/961836/logo_small.jpg?3" alt="北斗星云"></a>
                            <a href="https://senli.tuchong.com/" class="site-link" data-site-id="961836" target="_blank">北斗星云</a>
                            <a class="site-follow" title="关注北斗星云" data-site-id="961836"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="961836" href="https://senli.tuchong.com/13526645/" title="《魔都的今时与往昔—旋梯几何篇》" target="_blank">《魔都的今时与往昔—旋梯几何篇》</a>
                                <time>10小时前</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <p class="post-desc">突然迷上拍旋梯，太阳暴晒下走了一下午，有好几个点因为锁门没有拍着~
                                发几张比较喜欢的~

                                上海的小伙伴周末求约！</p>

                            <div class="post-photos">





                                <a href="https://senli.tuchong.com/13526645/#image13646635" data-site-id="961836" class="theater-trigger photo-item " target="_blank" style="width: 231px;height: 165px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/961836/m/13646635.webp">
                                </a>

                                <a href="https://senli.tuchong.com/13526645/#image13646636" data-site-id="961836" class="theater-trigger photo-item " target="_blank" style="width: 248px;height: 165px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/961836/m/13646636.webp">
                                </a>

                                <a href="https://senli.tuchong.com/13526645/#image13646634" data-site-id="961836" class="theater-trigger photo-item " target="_blank" style="width: 247px;height: 165px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/961836/m/13646634.webp">
                                </a>




                                <a href="https://senli.tuchong.com/13526645/#image13646637" data-site-id="961836" class="theater-trigger photo-item hidden-item" target="_blank" style="width: 300px;height: 200px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/961836/m/13646637.webp">
                                </a>

                                <a href="https://senli.tuchong.com/13526645/#image13646638" data-site-id="961836" class="theater-trigger photo-item hidden-item" target="_blank" style="width: 300px;height: 200px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/961836/m/13646638.webp">
                                </a>



                                <div class="see-all"><a title="显示全部">共5张照片</a></div>

                            </div>

                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">
                                <a href="//tuchong.com/tags/城市" target="_blank">城市</a><a href="//tuchong.com/tags/建筑" target="_blank">建筑</a><a href="//tuchong.com/tags/佳能" target="_blank">佳能</a><a href="//tuchong.com/tags/上海" target="_blank">上海</a>
                            </div>

                            <div class="post-ops">
                                <a class="post-comment" title="展开评论后再次点击就可以折叠啦" data-comments="0">评论(0)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">8</a>
                            </div>
                        </div>
                    </li>




                    <li class="card-guide">
                        <div class="card-body">上次看到这里，点这里为你<a href="/recommend/">推荐更多</a></div>
                    </li>



                    <li class="activity-item activity-post impression-item impression-viewed" data-post-id="13527113">

                        <div class="activity-source">
                            <a href="{{host}}/1068278/" class="site-link" data-site-id="1068278" target="_blank">我叫小草帽</a>
                            分享
                            <time>17分钟前</time>
                        </div>

                        <div class="activity-head">
                            <a href="{{host}}/472656/" class="site-icon" data-site-id="472656" target="_blank"><img src="https://s1.tuchong.com/sites/472/472656/logo_small.jpg?3" alt="闲云GLM"></a>
                            <a href="{{host}}/472656/" class="site-link" data-site-id="472656" target="_blank">闲云GLM</a>
                            <a class="site-follow" title="关注闲云GLM" data-site-id="472656"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="472656" href="{{host}}/472656/13527113/" title="暮光" target="_blank">暮光</a>
                                <time>2小时前</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <a href="{{host}}/472656/13527113/" class="post-cover theater-trigger" target="_blank">
                                <img src="//photo.tuchong.com/472656/l/24142137.webp">
                            </a>




                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">
                                <a href="//tuchong.com/tags/风光" target="_blank">风光</a><a href="//tuchong.com/tags/色彩" target="_blank">色彩</a><a href="//tuchong.com/tags/佳能" target="_blank">佳能</a><a href="//tuchong.com/tags/南浔" target="_blank">南浔</a>
                            </div>

                            <div class="post-ops">
                                <a class="post-comment" title="展开评论后再次点击就可以折叠啦" data-comments="0">评论(0)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">10</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item" data-post-id="13331893">

                        <div class="activity-source">
                            <a href="{{host}}/1462165/" class="site-link" data-site-id="1462165" target="_blank">温暖你我</a>
                            分享
                            <time>26分钟前</time>
                        </div>

                        <div class="activity-head">
                            <a href="{{host}}/1027196/" class="site-icon" data-site-id="1027196" target="_blank"><img src="https://s1.tuchong.com/sites/102/1027196/logo_small.jpg?2" alt="八戒-"></a>
                            <a href="{{host}}/1027196/" class="site-link" data-site-id="1027196" target="_blank">八戒-</a>
                            <a class="site-follow" title="关注八戒-" data-site-id="1027196"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="1027196" href="{{host}}/1027196/13331893/" title="" target="_blank"></a>
                                <time>7月26日</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <a href="{{host}}/1027196/13331893/" class="post-cover theater-trigger" target="_blank">
                                <img src="//photo.tuchong.com/1027196/l/28458608.webp">
                            </a>




                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">
                                <a href="//tuchong.com/tags/“奇迹之镜”图虫风光摄影典藏双月赛第二季" target="_blank">“奇迹之镜”图虫风光摄影典藏双月赛第二季</a><a href="//tuchong.com/tags/风光" target="_blank">风光</a><a href="//tuchong.com/tags/色彩" target="_blank">色彩</a><a href="//tuchong.com/tags/佳能" target="_blank">佳能</a><a href="//tuchong.com/tags/自然" target="_blank">自然</a><a href="//tuchong.com/tags/安徽" target="_blank">安徽</a>
                            </div>

                            <div class="post-ops">
                                <a class="post-comment" title="展开评论后再次点击就可以折叠啦" data-comments="6">评论(6)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">64</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item" data-post-id="13515606">

                        <div class="activity-source">
                            <a href="{{host}}/1462165/" class="site-link" data-site-id="1462165" target="_blank">温暖你我</a>
                            分享
                            <time>27分钟前</time>
                        </div>

                        <div class="activity-head">
                            <a href="{{host}}/1032907/" class="site-icon" data-site-id="1032907" target="_blank"><img src="https://s1.tuchong.com/sites/103/1032907/logo_small.jpg?1" alt="一片云彩"></a>
                            <a href="{{host}}/1032907/" class="site-link" data-site-id="1032907" target="_blank">一片云彩</a>
                            <a class="site-follow" title="关注一片云彩" data-site-id="1032907"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="1032907" href="{{host}}/1032907/13515606/" title="织布" target="_blank">织布</a>
                                <time>9月18日</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <a href="{{host}}/1032907/13515606/" class="post-cover theater-trigger" target="_blank">
                                <img src="//photo.tuchong.com/1032907/l/18562958.webp">
                            </a>




                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">
                                <a href="//tuchong.com/tags/人像" target="_blank">人像</a><a href="//tuchong.com/tags/尼康" target="_blank">尼康</a><a href="//tuchong.com/tags/旅行" target="_blank">旅行</a>
                            </div>

                            <div class="post-ops">
                                <a class="post-comment" title="展开评论后再次点击就可以折叠啦" data-comments="0">评论(0)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">23</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item" data-post-id="13478331">

                        <div class="activity-source">
                            <a href="{{host}}/1462165/" class="site-link" data-site-id="1462165" target="_blank">温暖你我</a>
                            分享
                            <time>27分钟前</time>
                        </div>

                        <div class="activity-head">
                            <a href="{{host}}/1032907/" class="site-icon" data-site-id="1032907" target="_blank"><img src="https://s1.tuchong.com/sites/103/1032907/logo_small.jpg?1" alt="一片云彩"></a>
                            <a href="{{host}}/1032907/" class="site-link" data-site-id="1032907" target="_blank">一片云彩</a>
                            <a class="site-follow" title="关注一片云彩" data-site-id="1032907"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="1032907" href="{{host}}/1032907/13478331/" title="颈长之美" target="_blank">颈长之美</a>
                                <time>9月7日</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <a href="{{host}}/1032907/13478331/" class="post-cover theater-trigger" target="_blank">
                                <img src="//photo.tuchong.com/1032907/l/18562557.webp">
                            </a>



                            <p class="post-desc">泰国迈岬长颈族</p>


                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">
                                <a href="//tuchong.com/tags/人像" target="_blank">人像</a><a href="//tuchong.com/tags/尼康" target="_blank">尼康</a><a href="//tuchong.com/tags/旅行" target="_blank">旅行</a>
                            </div>

                            <div class="post-ops">
                                <a class="post-comment" title="展开评论后再次点击就可以折叠啦" data-comments="1">评论(1)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">21</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item" data-post-id="13511451">

                        <div class="activity-source">
                            <a href="{{host}}/1462165/" class="site-link" data-site-id="1462165" target="_blank">温暖你我</a>
                            分享
                            <time>28分钟前</time>
                        </div>

                        <div class="activity-head">
                            <a href="{{host}}/1546710/" class="site-icon" data-site-id="1546710" target="_blank"><img src="https://s1.tuchong.com/sites/154/1546710/logo_small.jpg?1" alt="小业XY"></a>
                            <a href="{{host}}/1546710/" class="site-link" data-site-id="1546710" target="_blank">小业XY</a>
                            <a class="site-follow" title="关注小业XY" data-site-id="1546710"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="1546710" href="{{host}}/1546710/13511451/" title="南至妹妹" target="_blank">南至妹妹</a>
                                <time>9月17日</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <p class="post-desc">短发的南至妹妹</p>

                            <div class="post-photos">





                                <a href="{{host}}/1546710/13511451/#image12078409" data-site-id="1546710" class="theater-trigger photo-item " target="_blank" style="width: 224px;height: 149px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/1546710/m/12078409.webp">
                                </a>

                                <a href="{{host}}/1546710/13511451/#image12078412" data-site-id="1546710" class="theater-trigger photo-item " target="_blank" style="width: 100px;height: 149px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/1546710/m/12078412.webp">
                                </a>

                                <a href="{{host}}/1546710/13511451/#image12078410" data-site-id="1546710" class="theater-trigger photo-item " target="_blank" style="width: 201px;height: 149px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/1546710/m/12078410.webp">
                                </a>

                                <a href="{{host}}/1546710/13511451/#image12078411" data-site-id="1546710" class="theater-trigger photo-item " target="_blank" style="width: 199px;height: 149px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/1546710/m/12078411.webp">
                                </a>




                                <a href="{{host}}/1546710/13511451/#image12078413" data-site-id="1546710" class="theater-trigger photo-item hidden-item" target="_blank" style="width: 210px;height: 140px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/1546710/m/12078413.webp">
                                </a>

                                <a href="{{host}}/1546710/13511451/#image12078414" data-site-id="1546710" class="theater-trigger photo-item hidden-item" target="_blank" style="width: 210px;height: 140px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/1546710/m/12078414.webp">
                                </a>

                                <a href="{{host}}/1546710/13511451/#image12078415" data-site-id="1546710" class="theater-trigger photo-item hidden-item" target="_blank" style="width: 94px;height: 140px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/1546710/m/12078415.webp">
                                </a>

                                <a href="{{host}}/1546710/13511451/#image12078416" data-site-id="1546710" class="theater-trigger photo-item hidden-item" target="_blank" style="width: 210px;height: 140px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/1546710/m/12078416.webp">
                                </a>




                                <a href="{{host}}/1546710/13511451/#image12078418" data-site-id="1546710" class="theater-trigger photo-item hidden-item" target="_blank" style="width: 112px;height: 200px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/1546710/m/12078418.webp">
                                </a>

                                <a href="{{host}}/1546710/13511451/#image12078417" data-site-id="1546710" class="theater-trigger photo-item hidden-item" target="_blank" style="width: 150px;height: 200px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/1546710/m/12078417.webp">
                                </a>



                                <div class="see-all"><a title="显示全部">共10张照片</a></div>

                            </div>

                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">
                                <a href="//tuchong.com/tags/人像" target="_blank">人像</a>
                            </div>

                            <div class="post-ops">
                                <a class="post-comment" title="展开评论后再次点击就可以折叠啦" data-comments="0">评论(0)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">1</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item" data-post-id="13184136">

                        <div class="activity-source">
                            <a href="{{host}}/1462165/" class="site-link" data-site-id="1462165" target="_blank">温暖你我</a>
                            分享
                            <time>28分钟前</time>
                        </div>

                        <div class="activity-head">
                            <a href="{{host}}/1376200/" class="site-icon" data-site-id="1376200" target="_blank"><img src="https://s1.tuchong.com/sites/137/1376200/logo_small.jpg?3" alt="开水养鱼"></a>
                            <a href="{{host}}/1376200/" class="site-link" data-site-id="1376200" target="_blank">开水养鱼</a>
                            <a class="site-follow" title="关注开水养鱼" data-site-id="1376200"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="1376200" href="{{host}}/1376200/13184136/" title="这是一次与物管作斗争的结果" target="_blank">这是一次与物管作斗争的结果</a>
                                <time>6月11日</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <p class="post-desc">这次拍摄过程是最惊悚的。</p>

                            <div class="post-photos">





                                <a href="{{host}}/1376200/13184136/#image16986102" data-site-id="1376200" class="theater-trigger photo-item " target="_blank" style="width: 364px;height: 243px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/1376200/m/16986102.webp">
                                </a>

                                <a href="{{host}}/1376200/13184136/#image16986100" data-site-id="1376200" class="theater-trigger photo-item " target="_blank" style="width: 364px;height: 243px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/1376200/m/16986100.webp">
                                </a>




                                <a href="{{host}}/1376200/13184136/#image16986101" data-site-id="1376200" class="theater-trigger photo-item hidden-item" target="_blank" style="width: 533px;height: 200px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/1376200/m/16986101.webp">
                                </a>



                                <div class="see-all"><a title="显示全部">共3张照片</a></div>

                            </div>

                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">
                                <a href="//tuchong.com/tags/深圳" target="_blank">深圳</a><a href="//tuchong.com/tags/建筑" target="_blank">建筑</a><a href="//tuchong.com/tags/色彩" target="_blank">色彩</a><a href="//tuchong.com/tags/风光" target="_blank">风光</a>
                            </div>

                            <div class="post-ops">
                                <a class="post-comment" title="展开评论后再次点击就可以折叠啦" data-comments="0">评论(0)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">3</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item" data-post-id="13527185">

                        <div class="activity-source">
                            <a href="{{host}}/1462165/" class="site-link" data-site-id="1462165" target="_blank">温暖你我</a>
                            分享
                            <time>28分钟前</time>
                        </div>

                        <div class="activity-head">
                            <a href="{{host}}/1366873/" class="site-icon" data-site-id="1366873" target="_blank"><img src="https://s1.tuchong.com/sites/136/1366873/logo_small.jpg?10" alt="阮卫明"></a>
                            <a href="{{host}}/1366873/" class="site-link" data-site-id="1366873" target="_blank">阮卫明</a>
                            <a class="site-follow" title="关注阮卫明" data-site-id="1366873"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="1366873" href="{{host}}/1366873/13527185/" title="收工回家的傈僳族妇女" target="_blank">收工回家的傈僳族妇女</a>
                                <time>1小时前</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <a href="{{host}}/1366873/13527185/" class="post-cover theater-trigger" target="_blank">
                                <img src="//photo.tuchong.com/1366873/l/19417969.webp">
                            </a>



                            <p class="post-desc">云南山区少数民族妇女是非常勤劳的，她们担负着很重的体力劳动和抚养照顾孩子的重任。</p>


                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">
                                <a href="//tuchong.com/tags/阮义忠摄影人文奖" target="_blank">阮义忠摄影人文奖</a><a href="//tuchong.com/tags/云南" target="_blank">云南</a><a href="//tuchong.com/tags/黑白" target="_blank">黑白</a><a href="//tuchong.com/tags/纪实" target="_blank">纪实</a><a href="//tuchong.com/tags/妇女" target="_blank">妇女</a><a href="//tuchong.com/tags/劳作" target="_blank">劳作</a><a href="//tuchong.com/tags/放羊" target="_blank">放羊</a>
                            </div>

                            <div class="post-ops">
                                <a class="post-comment" title="展开评论后再次点击就可以折叠啦" data-comments="0">评论(0)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">10</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item" data-post-id="13527189">

                        <div class="activity-source">
                            <a href="{{host}}/1462165/" class="site-link" data-site-id="1462165" target="_blank">温暖你我</a>
                            分享
                            <time>29分钟前</time>
                        </div>

                        <div class="activity-head">
                            <a href="{{host}}/1366873/" class="site-icon" data-site-id="1366873" target="_blank"><img src="https://s1.tuchong.com/sites/136/1366873/logo_small.jpg?10" alt="阮卫明"></a>
                            <a href="{{host}}/1366873/" class="site-link" data-site-id="1366873" target="_blank">阮卫明</a>
                            <a class="site-follow" title="关注阮卫明" data-site-id="1366873"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="1366873" href="{{host}}/1366873/13527189/" title="念湖晨曦" target="_blank">念湖晨曦</a>
                                <time>1小时前</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <a href="{{host}}/1366873/13527189/" class="post-cover theater-trigger" target="_blank">
                                <img src="//photo.tuchong.com/1366873/l/19417970.webp">
                            </a>




                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">
                                <a href="//tuchong.com/tags/CAPA主题影赛“秋”" target="_blank">CAPA主题影赛“秋”</a><a href="//tuchong.com/tags/风光" target="_blank">风光</a><a href="//tuchong.com/tags/云南" target="_blank">云南</a><a href="//tuchong.com/tags/念湖" target="_blank">念湖</a><a href="//tuchong.com/tags/晨曦" target="_blank">晨曦</a><a href="//tuchong.com/tags/尼康" target="_blank">尼康</a>
                            </div>

                            <div class="post-ops">
                                <a class="post-comment" title="展开评论后再次点击就可以折叠啦" data-comments="0">评论(0)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">24</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item" data-post-id="13525764">

                        <div class="activity-source">
                            <a href="{{host}}/1006317/" class="site-link" data-site-id="1006317" target="_blank">牛山</a>
                            分享
                            <time>1小时前</time>
                        </div>

                        <div class="activity-head">
                            <a href="{{host}}/467409/" class="site-icon" data-site-id="467409" target="_blank"><img src="https://s1.tuchong.com/sites/467/467409/logo_small.jpg?2" alt="lalala_zhao"></a>
                            <a href="{{host}}/467409/" class="site-link" data-site-id="467409" target="_blank">lalala_zhao</a>
                            <a class="site-follow" title="关注lalala_zhao" data-site-id="467409"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="467409" href="{{host}}/467409/13525764/" title="北京作业——《Wandering in Beijing》" target="_blank">北京作业——《Wandering in Beijing》</a>
                                <time>14小时前</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <p class="post-desc">三天的工作坊，从濑户老师身上学到了很多，他的博学、谦虚、对摄影探索的坚持给我们带来很多启发，尤其是他对摄影在哲学层面的理解，使我的摄影观在某种意义上发生了质的变化。虽然同学们在教学的过程中被否定的很多，但否定越大，收获越多。非常感谢图虫网团队的辛劳付出，向你们致敬。</p>

                            <div class="post-photos">





                                <a href="{{host}}/467409/13525764/#image12139732" data-site-id="467409" class="theater-trigger photo-item " target="_blank" style="width: 242px;height: 161px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/467409/m/12139732.webp">
                                </a>

                                <a href="{{host}}/467409/13525764/#image12139733" data-site-id="467409" class="theater-trigger photo-item " target="_blank" style="width: 242px;height: 161px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/467409/m/12139733.webp">
                                </a>

                                <a href="{{host}}/467409/13525764/#image12139734" data-site-id="467409" class="theater-trigger photo-item " target="_blank" style="width: 242px;height: 161px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/467409/m/12139734.webp">
                                </a>




                                <a href="{{host}}/467409/13525764/#image12139735" data-site-id="467409" class="theater-trigger photo-item hidden-item" target="_blank" style="width: 242px;height: 161px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/467409/m/12139735.webp">
                                </a>

                                <a href="{{host}}/467409/13525764/#image12139736" data-site-id="467409" class="theater-trigger photo-item hidden-item" target="_blank" style="width: 242px;height: 161px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/467409/m/12139736.webp">
                                </a>

                                <a href="{{host}}/467409/13525764/#image12139737" data-site-id="467409" class="theater-trigger photo-item hidden-item" target="_blank" style="width: 242px;height: 161px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/467409/m/12139737.webp">
                                </a>




                                <a href="{{host}}/467409/13525764/#image12139738" data-site-id="467409" class="theater-trigger photo-item hidden-item" target="_blank" style="width: 241px;height: 161px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/467409/m/12139738.webp">
                                </a>

                                <a href="{{host}}/467409/13525764/#image12139739" data-site-id="467409" class="theater-trigger photo-item hidden-item" target="_blank" style="width: 242px;height: 161px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/467409/m/12139739.webp">
                                </a>

                                <a href="{{host}}/467409/13525764/#image12139740" data-site-id="467409" class="theater-trigger photo-item hidden-item" target="_blank" style="width: 243px;height: 161px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/467409/m/12139740.webp">
                                </a>




                                <a href="{{host}}/467409/13525764/#image12139741" data-site-id="467409" class="theater-trigger photo-item hidden-item" target="_blank" style="width: 242px;height: 161px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/467409/m/12139741.webp">
                                </a>

                                <a href="{{host}}/467409/13525764/#image12139742" data-site-id="467409" class="theater-trigger photo-item hidden-item" target="_blank" style="width: 242px;height: 161px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/467409/m/12139742.webp">
                                </a>

                                <a href="{{host}}/467409/13525764/#image12139743" data-site-id="467409" class="theater-trigger photo-item hidden-item" target="_blank" style="width: 242px;height: 161px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/467409/m/12139743.webp">
                                </a>




                                <a href="{{host}}/467409/13525764/#image12139744" data-site-id="467409" class="theater-trigger photo-item hidden-item" target="_blank" style="width: 242px;height: 161px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/467409/m/12139744.webp">
                                </a>

                                <a href="{{host}}/467409/13525764/#image12139745" data-site-id="467409" class="theater-trigger photo-item hidden-item" target="_blank" style="width: 242px;height: 161px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/467409/m/12139745.webp">
                                </a>

                                <a href="{{host}}/467409/13525764/#image12139746" data-site-id="467409" class="theater-trigger photo-item hidden-item" target="_blank" style="width: 242px;height: 161px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/467409/m/12139746.webp">
                                </a>




                                <a href="{{host}}/467409/13525764/#image12139747" data-site-id="467409" class="theater-trigger photo-item hidden-item" target="_blank" style="width: 242px;height: 161px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/467409/m/12139747.webp">
                                </a>

                                <a href="{{host}}/467409/13525764/#image12139748" data-site-id="467409" class="theater-trigger photo-item hidden-item" target="_blank" style="width: 242px;height: 161px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/467409/m/12139748.webp">
                                </a>

                                <a href="{{host}}/467409/13525764/#image12139749" data-site-id="467409" class="theater-trigger photo-item hidden-item" target="_blank" style="width: 242px;height: 161px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/467409/m/12139749.webp">
                                </a>




                                <a href="{{host}}/467409/13525764/#image12139750" data-site-id="467409" class="theater-trigger photo-item hidden-item" target="_blank" style="width: 300px;height: 200px;margin-left: 0px;">
                                    <img src="//photo.tuchong.com/467409/m/12139750.webp">
                                </a>

                                <a href="{{host}}/467409/13525764/#image12139751" data-site-id="467409" class="theater-trigger photo-item hidden-item" target="_blank" style="width: 300px;height: 200px;margin-left: 2px;">
                                    <img src="//photo.tuchong.com/467409/m/12139751.webp">
                                </a>



                                <div class="see-all"><a title="显示全部">共20张照片</a></div>

                            </div>

                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">
                                <a href="//tuchong.com/tags/黑白" target="_blank">黑白</a><a href="//tuchong.com/tags/城市" target="_blank">城市</a><a href="//tuchong.com/tags/街拍" target="_blank">街拍</a><a href="//tuchong.com/tags/北京" target="_blank">北京</a><a href="//tuchong.com/tags/理光" target="_blank">理光</a>
                            </div>

                            <div class="post-ops">
                                <a class="post-comment" title="展开评论后再次点击就可以折叠啦" data-comments="0">评论(0)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">12</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item" data-post-id="13527206">

                        <div class="activity-source">
                            <a href="{{host}}/1068278/" class="site-link" data-site-id="1068278" target="_blank">我叫小草帽</a>、<a href="https://wangyukun.tuchong.com/" class="site-link" data-site-id="1193393" target="_blank">小坤学长</a>
                            分享
                            <time>1小时前</time>
                        </div>

                        <div class="activity-head">
                            <a href="https://benben321.tuchong.com/" class="site-icon" data-site-id="952175" target="_blank"><img src="https://s1.tuchong.com/sites/952/952175/logo_small.jpg?4" alt="奔奔123321"></a>
                            <a href="https://benben321.tuchong.com/" class="site-link" data-site-id="952175" target="_blank">奔奔123321</a>
                            <a class="site-follow" title="关注奔奔123321" data-site-id="952175"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="952175" href="https://benben321.tuchong.com/13527206/" title="生长" target="_blank">生长</a>
                                <time>1小时前</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <a href="https://benben321.tuchong.com/13527206/" class="post-cover theater-trigger" target="_blank">
                                <img src="//photo.tuchong.com/952175/l/18962927.webp">
                            </a>



                            <p class="post-desc">迎着阳光，顶着风雨，不停生长...</p>


                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">
                                <a href="//tuchong.com/tags/微距" target="_blank">微距</a><a href="//tuchong.com/tags/植物" target="_blank">植物</a><a href="//tuchong.com/tags/风光" target="_blank">风光</a><a href="//tuchong.com/tags/创意" target="_blank">创意</a><a href="//tuchong.com/tags/佳能" target="_blank">佳能</a><a href="//tuchong.com/tags/长焦" target="_blank">长焦</a><a href="//tuchong.com/tags/嫩芽" target="_blank">嫩芽</a><a href="//tuchong.com/tags/浙江" target="_blank">浙江</a><a href="//tuchong.com/tags/温州" target="_blank">温州</a>
                            </div>

                            <div class="post-ops">
                                <a class="post-comment" title="展开评论后再次点击就可以折叠啦" data-comments="4">评论(4)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">21</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item" data-post-id="13527208">

                        <div class="activity-head">
                            <a href="{{host}}/1411327/" class="site-icon" data-site-id="1411327" target="_blank"><img src="https://s1.tuchong.com/sites/141/1411327/logo_small.jpg?1" alt="老马118"></a>
                            <a href="{{host}}/1411327/" class="site-link" data-site-id="1411327" target="_blank">老马118</a>
                            <a class="site-follow" title="关注老马118" data-site-id="1411327"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="1411327" href="{{host}}/1411327/13527208/" title="炼狱" target="_blank">炼狱</a>
                                <time>1小时前</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <a href="{{host}}/1411327/13527208/" class="post-cover theater-trigger" target="_blank">
                                <img src="//photo.tuchong.com/1411327/l/32322354.webp">
                            </a>




                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">
                                <a href="//tuchong.com/tags/老马" target="_blank">老马</a><a href="//tuchong.com/tags/建筑" target="_blank">建筑</a><a href="//tuchong.com/tags/后期" target="_blank">后期</a>
                            </div>

                            <div class="post-ops">
                                <a class="post-comment" title="展开评论后再次点击就可以折叠啦" data-comments="0">评论(0)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">0</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item" data-post-id="13525258">

                        <div class="activity-source">
                            <a href="https://hotspot.tuchong.com/" class="site-link" data-site-id="627" target="_blank">图虫热点</a>
                            分享
                            <time>1小时前</time>
                        </div>

                        <div class="activity-head">
                            <a href="{{host}}/1027179/" class="site-icon" data-site-id="1027179" target="_blank"><img src="https://s1.tuchong.com/sites/102/1027179/logo_small.jpg?4" alt="阿卡-Carson"></a>
                            <a href="{{host}}/1027179/" class="site-link" data-site-id="1027179" target="_blank">阿卡-Carson</a>
                            <a class="site-follow" title="关注阿卡-Carson" data-site-id="1027179"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="1027179" href="{{host}}/1027179/13525258/" title="《风光路上有你们》之Magic Cave" target="_blank">《风光路上有你们》之Magic Cave</a>
                                <time>16小时前</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <a href="{{host}}/1027179/13525258/" class="post-cover theater-trigger" target="_blank">
                                <img src="//photo.tuchong.com/1027179/l/20860996.webp">
                            </a>



                            <p class="post-desc">《Magic Cave》--风光路上的你我他，都有自己独一无二的经历。遇到一些有缘人，看到一些完全不同的人生底色。相识相知，同饮一杯酒，同走一段路。然后分别，回到各自的人生轨迹里。我们会因此而不同吗？也许不会，但也许因为人生里有了那么一点点不同的经历，回忆会变得更耐人寻味吧。也许因为曾经看过那么一段惊心动魄的风景，当蹲守在一平方个山洞里时，不会再那么容易，被生活磨平吧。阿卡-Carson</p>


                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">
                                <a href="//tuchong.com/tags/奇迹之镜第三季" target="_blank">奇迹之镜第三季</a><a href="//tuchong.com/tags/风光" target="_blank">风光</a><a href="//tuchong.com/tags/尼康" target="_blank">尼康</a><a href="//tuchong.com/tags/广角" target="_blank">广角</a><a href="//tuchong.com/tags/中国" target="_blank">中国</a><a href="//tuchong.com/tags/大海" target="_blank">大海</a><a href="//tuchong.com/tags/岩石" target="_blank">岩石</a>
                            </div>

                            <div class="post-ops">
                                <a class="post-comment" title="展开评论后再次点击就可以折叠啦" data-comments="2">评论(2)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">43</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item" data-post-id="13284317">

                        <div class="activity-source">
                            <a href="{{host}}/1068278/" class="site-link" data-site-id="1068278" target="_blank">我叫小草帽</a>
                            分享
                            <time>2小时前</time>
                        </div>

                        <div class="activity-head">
                            <a href="{{host}}/371075/" class="site-icon" data-site-id="371075" target="_blank"><img src="https://s1.tuchong.com/sites/371/371075/logo_small.jpg?1" alt="阿磊哥"></a>
                            <a href="{{host}}/371075/" class="site-link" data-site-id="371075" target="_blank">阿磊哥</a>
                            <a class="site-follow" title="关注阿磊哥" data-site-id="371075"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="371075" href="{{host}}/371075/13284317/" title="佛国渡劫" target="_blank">佛国渡劫</a>
                                <time>7月12日</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <a href="{{host}}/371075/13284317/" class="post-cover theater-trigger" target="_blank">
                                <img src="//photo.tuchong.com/371075/l/8866090.webp">
                            </a>




                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">
                                <a href="//tuchong.com/tags/小米画报摄影大赛" target="_blank">小米画报摄影大赛</a><a href="//tuchong.com/tags/色彩" target="_blank">色彩</a><a href="//tuchong.com/tags/风光" target="_blank">风光</a>
                            </div>

                            <div class="post-ops">
                                <a class="post-comment" title="展开评论后再次点击就可以折叠啦" data-comments="44">评论(44)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">369</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item" data-post-id="12941593">

                        <div class="activity-source">
                            <a href="https://kuangshaozheng.tuchong.com/" class="site-link" data-site-id="536237" target="_blank">limitbad</a>
                            分享
                            <time>2小时前</time>
                        </div>

                        <div class="activity-head">
                            <a href="{{host}}/951710/" class="site-icon" data-site-id="951710" target="_blank"><img src="https://s1.tuchong.com/sites/951/951710/logo_small.jpg?1" alt="飞翔的潜水"></a>
                            <a href="{{host}}/951710/" class="site-link" data-site-id="951710" target="_blank">飞翔的潜水</a>
                            <a class="site-follow" title="关注飞翔的潜水" data-site-id="951710"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="951710" href="{{host}}/951710/12941593/" title="烛光下的康乃馨" target="_blank">烛光下的康乃馨</a>
                                <time>3月19日</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <a href="{{host}}/951710/12941593/" class="post-cover theater-trigger" target="_blank">
                                <img src="//photo.tuchong.com/951710/l/22889610.webp">
                            </a>




                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">
                                <a href="//tuchong.com/tags/植物" target="_blank">植物</a><a href="//tuchong.com/tags/色彩" target="_blank">色彩</a><a href="//tuchong.com/tags/佳能" target="_blank">佳能</a><a href="//tuchong.com/tags/花卉" target="_blank">花卉</a>
                            </div>

                            <div class="post-ops">
                                <a class="post-comment" title="展开评论后再次点击就可以折叠啦" data-comments="3">评论(3)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">16</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item" data-post-id="13274410">

                        <div class="activity-source">
                            <a href="{{host}}/1462165/" class="site-link" data-site-id="1462165" target="_blank">温暖你我</a>
                            分享
                            <time>2小时前</time>
                        </div>

                        <div class="activity-head">
                            <a href="{{host}}/1127446/" class="site-icon" data-site-id="1127446" target="_blank"><img src="https://s1.tuchong.com/sites/112/1127446/logo_small.jpg?1" alt="起驴"></a>
                            <a href="{{host}}/1127446/" class="site-link" data-site-id="1127446" target="_blank">起驴</a>
                            <a class="site-follow" title="关注起驴" data-site-id="1127446"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="1127446" href="{{host}}/1127446/13274410/" title="维也纳自拍" target="_blank">维也纳自拍</a>
                                <time>7月9日</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <a href="{{host}}/1127446/13274410/" class="post-cover theater-trigger" target="_blank">
                                <img src="//photo.tuchong.com/1127446/l/16464362.webp">
                            </a>




                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">
                                <a href="//tuchong.com/tags/人像" target="_blank">人像</a><a href="//tuchong.com/tags/旅行" target="_blank">旅行</a>
                            </div>

                            <div class="post-ops">
                                <a class="post-comment" title="展开评论后再次点击就可以折叠啦" data-comments="0">评论(0)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">1</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item" data-post-id="13341863">

                        <div class="activity-source">
                            <a href="{{host}}/1462165/" class="site-link" data-site-id="1462165" target="_blank">温暖你我</a>
                            分享
                            <time>2小时前</time>
                        </div>

                        <div class="activity-head">
                            <a href="https://mouse.tuchong.com/" class="site-icon" data-site-id="999851" target="_blank"><img src="https://s1.tuchong.com/sites/999/999851/logo_small.jpg?3" alt="孤独的鼠标"></a>
                            <a href="https://mouse.tuchong.com/" class="site-link" data-site-id="999851" target="_blank">孤独的鼠标</a>
                            <a class="site-follow" title="关注孤独的鼠标" data-site-id="999851"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="999851" href="https://mouse.tuchong.com/13341863/" title="翡翠螽斯" target="_blank">翡翠螽斯</a>
                                <time>7月29日</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <a href="https://mouse.tuchong.com/13341863/" class="post-cover theater-trigger" target="_blank">
                                <img src="//photo.tuchong.com/999851/l/16796161.webp">
                            </a>




                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">
                                <a href="//tuchong.com/tags/动物" target="_blank">动物</a><a href="//tuchong.com/tags/生态" target="_blank">生态</a><a href="//tuchong.com/tags/抓拍" target="_blank">抓拍</a><a href="//tuchong.com/tags/微距" target="_blank">微距</a><a href="//tuchong.com/tags/佳能" target="_blank">佳能</a><a href="//tuchong.com/tags/腾龙" target="_blank">腾龙</a><a href="//tuchong.com/tags/中国" target="_blank">中国</a><a href="//tuchong.com/tags/南宁" target="_blank">南宁</a>
                            </div>

                            <div class="post-ops">
                                <a class="post-comment" title="展开评论后再次点击就可以折叠啦" data-comments="1">评论(1)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">7</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item" data-post-id="13385643">

                        <div class="activity-source">
                            <a href="{{host}}/1462165/" class="site-link" data-site-id="1462165" target="_blank">温暖你我</a>
                            分享
                            <time>2小时前</time>
                        </div>

                        <div class="activity-head">
                            <a href="https://mouse.tuchong.com/" class="site-icon" data-site-id="999851" target="_blank"><img src="https://s1.tuchong.com/sites/999/999851/logo_small.jpg?3" alt="孤独的鼠标"></a>
                            <a href="https://mouse.tuchong.com/" class="site-link" data-site-id="999851" target="_blank">孤独的鼠标</a>
                            <a class="site-follow" title="关注孤独的鼠标" data-site-id="999851"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="999851" href="https://mouse.tuchong.com/13385643/" title="城景" target="_blank">城景</a>
                                <time>8月11日</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <a href="https://mouse.tuchong.com/13385643/" class="post-cover theater-trigger" target="_blank">
                                <img src="//photo.tuchong.com/999851/l/16796873.webp">
                            </a>




                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">
                                <a href="//tuchong.com/tags/城市" target="_blank">城市</a><a href="//tuchong.com/tags/建筑" target="_blank">建筑</a><a href="//tuchong.com/tags/佳能" target="_blank">佳能</a><a href="//tuchong.com/tags/广角" target="_blank">广角</a><a href="//tuchong.com/tags/后期" target="_blank">后期</a><a href="//tuchong.com/tags/长曝光" target="_blank">长曝光</a><a href="//tuchong.com/tags/中国" target="_blank">中国</a><a href="//tuchong.com/tags/南宁" target="_blank">南宁</a>
                            </div>

                            <div class="post-ops">
                                <a class="post-comment" title="展开评论后再次点击就可以折叠啦" data-comments="0">评论(0)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">6</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item" data-post-id="13488456">

                        <div class="activity-source">
                            <a href="{{host}}/1462165/" class="site-link" data-site-id="1462165" target="_blank">温暖你我</a>
                            分享
                            <time>2小时前</time>
                        </div>

                        <div class="activity-head">
                            <a href="{{host}}/383515/" class="site-icon" data-site-id="383515" target="_blank"><img src="https://s1.tuchong.com/sites/383/383515/logo_small.jpg?3" alt="替天行摄"></a>
                            <a href="{{host}}/383515/" class="site-link" data-site-id="383515" target="_blank">替天行摄</a>
                            <a class="site-follow" title="关注替天行摄" data-site-id="383515"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="383515" href="{{host}}/383515/13488456/" title="法会" target="_blank">法会</a>
                                <time>9月10日</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <a href="{{host}}/383515/13488456/" class="post-cover theater-trigger" target="_blank">
                                <img src="//photo.tuchong.com/383515/l/12211692.webp">
                            </a>




                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">
                                <a href="//tuchong.com/tags/胖电塔与街头摄影04期" target="_blank">胖电塔与街头摄影04期</a><a href="//tuchong.com/tags/纪实" target="_blank">纪实</a><a href="//tuchong.com/tags/人文" target="_blank">人文</a><a href="//tuchong.com/tags/故事" target="_blank">故事</a>
                            </div>

                            <div class="post-ops">
                                <a class="post-comment" title="展开评论后再次点击就可以折叠啦" data-comments="0">评论(0)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">2</a>
                            </div>
                        </div>
                    </li>






                    <li class="activity-item activity-post impression-item" data-post-id="13488471">

                        <div class="activity-source">
                            <a href="{{host}}/1462165/" class="site-link" data-site-id="1462165" target="_blank">温暖你我</a>
                            分享
                            <time>2小时前</time>
                        </div>

                        <div class="activity-head">
                            <a href="{{host}}/383515/" class="site-icon" data-site-id="383515" target="_blank"><img src="https://s1.tuchong.com/sites/383/383515/logo_small.jpg?3" alt="替天行摄"></a>
                            <a href="{{host}}/383515/" class="site-link" data-site-id="383515" target="_blank">替天行摄</a>
                            <a class="site-follow" title="关注替天行摄" data-site-id="383515"></a>
                            <h4 class="post-title">
                                <a class="theater-trigger" data-site-id="383515" href="{{host}}/383515/13488471/" title="走进水间村" target="_blank">走进水间村</a>
                                <time>9月10日</time>
                            </h4>
                        </div>
                        <div class="activity-body">


                            <a href="{{host}}/383515/13488471/" class="post-cover theater-trigger" target="_blank">
                                <img src="//photo.tuchong.com/383515/l/12211693.webp">
                            </a>




                        </div>
                        <div class="activity-foot has-tags">

                            <div class="post-tags">
                                <a href="//tuchong.com/tags/纪实" target="_blank">纪实</a><a href="//tuchong.com/tags/街拍" target="_blank">街拍</a><a href="//tuchong.com/tags/黑白" target="_blank">黑白</a>
                            </div>

                            <div class="post-ops">
                                <a class="post-comment" title="展开评论后再次点击就可以折叠啦" data-comments="0">评论(0)</a>
                                <a data-type="groups" class="add-to-site">转发</a>
                                <a data-type="collections" class="add-to-site">收藏</a>
                                <a class="post-like ">3</a>
                            </div>
                        </div>
                    </li>

                </ul><div class="pagelist-load-more">加载更多</div></div>
        </div>
        <aside class="home-aside" style="float: right">
            <section class="aside-card">
                <ul class="promotion-list">
                    <li>
                        <a href="/rest/ads/82" title="街拍中国" target="_blank">
                            <img class="promotion-banner"
                                 src="https://s1.tuchong.com/content-image/179bce375c49dfb10750d3fc4dc202a2.jpg"
                                 alt="街拍中国">
                        </a>
                    </li>
                    <li>
                        <a href="/rest/ads/100" title="第六届“侯登科纪实摄影奖”" target="_blank">
                            <img class="promotion-banner"
                                 src="https://s1.tuchong.com/content-image/0506e5bf1918cf1b1c18f742cc7128c5.jpg"
                                 alt="第六届“侯登科纪实摄影奖”">
                        </a>
                    </li>
                    <li>
                        <a href="/rest/ads/104" title="图虫公开课01期" target="_blank">
                            <img class="promotion-banner"
                                 src="//s1.tuchong.com/content-image/2a8c50e26e2f9a258d90ef936bbe9b2e.13.10.png"
                                 alt="图虫公开课01期">
                        </a>
                    </li>
                    <li>
                        <a href="/rest/ads/103" title="“奇迹之镜”图虫风光摄影典藏双月赛（第三季）" target="_blank">
                            <img class="promotion-banner"
                                 src="//s1.tuchong.com/content-image/0fe26e6aab1d4fd1c9456ff4fd419da7.jpg"
                                 alt="“奇迹之镜”图虫风光摄影典藏双月赛（第三季）">
                        </a>
                    </li>
                    <li>
                        <a href="/rest/ads/94" title="图虫女神计划" target="_blank">
                            <img class="promotion-banner"
                                 src="https://s1.tuchong.com/content-image/50ef7bb8bb108285ee21db22fc1fd70d.jpg"
                                 alt="图虫女神计划">
                        </a>
                    </li>
                    <li>
                        <a href="/rest/ads/99" title="无忌新锐" target="_blank">
                            <img class="promotion-banner"
                                 src="https://s1.tuchong.com/content-image/9d31df5d80881dd468c1c25e9bb7f86b.jpg"
                                 alt="无忌新锐">
                        </a>
                    </li>
                </ul>
            </section>
            <section class="aside-card">
                <a href="/events/" target="_blank" class="card-header icon-left icon-right icon-events">活动</a>
                <ul class="events-list">
                    <li>
                        <a href="{{host}}/371351/" title="图虫团队" rel="author" class="site-icon "
                           data-site-id="371351" target="_blank"><img
                                src="https://s1.tuchong.com/sites/371/371351/logo_small.jpg?6" alt="图虫团队"/></a>
                        <div class="event-detail">
                            <a href="{{host}}/events/443748/" target="_blank" class="event-name">图虫公开课01期：星空摄影我也能拍！</a>
                            <a class="site-anchor" title="图虫团队" rel="author" class="site-anchor user-anchor"
                               href="{{host}}/371351/" data-site-id="371351" target="_blank">图虫团队</a>
                        </div>
                    </li>
                    <li>
                        <a href="{{host}}/1430928/" title="摄影人杨敏捷" rel="author" class="site-icon "
                           data-site-id="1430928" target="_blank"><img
                                src="https://s1.tuchong.com/sites/143/1430928/logo_small.jpg?1" alt="摄影人杨敏捷"/></a>
                        <div class="event-detail">
                            <a href="{{host}}/events/443743/" target="_blank" class="event-name">拍下你的男神</a>
                            <a class="site-anchor" title="摄影人杨敏捷" rel="author" class="site-anchor user-anchor"
                               href="{{host}}/1430928/" data-site-id="1430928" target="_blank">摄影人杨敏捷</a>
                        </div>
                    </li>
                    <li>
                        <a href="{{host}}/371351/" title="图虫团队" rel="author" class="site-icon "
                           data-site-id="371351" target="_blank"><img
                                src="https://s1.tuchong.com/sites/371/371351/logo_small.jpg?6" alt="图虫团队"/></a>
                        <div class="event-detail">
                            <a href="{{host}}/events/442685/" target="_blank" class="event-name">“奇迹之镜”图虫风光摄影典藏双月赛第三季</a>
                            <a class="site-anchor" title="图虫团队" rel="author" class="site-anchor user-anchor"
                               href="{{host}}/371351/" data-site-id="371351" target="_blank">图虫团队</a>
                        </div>
                    </li>
                    <li>
                        <a href="{{host}}/1458703/" title="果然影像" rel="author" class="site-icon "
                           data-site-id="1458703" target="_blank"><img
                                src="https://s1.tuchong.com/sites/145/1458703/logo_small.jpg?2" alt="果然影像"/></a>
                        <div class="event-detail">
                            <a href="{{host}}/events/442473/" target="_blank" class="event-name">街头幽默</a>
                            <a class="site-anchor" title="果然影像" rel="author" class="site-anchor user-anchor"
                               href="{{host}}/1458703/" data-site-id="1458703" target="_blank">果然影像</a>
                        </div>
                    </li>
                    <li>
                        <a href="{{host}}/958201/" title="KaseFilter" rel="author" class="site-icon "
                           data-site-id="958201" target="_blank"><img
                                src="https://s1.tuchong.com/sites/958/958201/logo_small.jpg?14" alt="KaseFilter"/></a>
                        <div class="event-detail">
                            <a href="{{host}}/events/442407/" target="_blank" class="event-name">Kase卡色“花开未央”风光摄影现金大赛（第十期）</a>
                            <a class="site-anchor" title="KaseFilter" rel="author" class="site-anchor user-anchor"
                               href="{{host}}/958201/" data-site-id="958201" target="_blank">KaseFilter</a>
                        </div>
                    </li>
                    <li>
                        <a href="{{host}}/1177898/" title="苏州鹿岛影像第一站" rel="author" class="site-icon "
                           data-site-id="1177898" target="_blank"><img
                                src="https://s1.tuchong.com/sites/117/1177898/logo_small.jpg?1" alt="苏州鹿岛影像第一站"/></a>
                        <div class="event-detail">
                            <a href="{{host}}/events/442318/" target="_blank" class="event-name">一句文艺</a>
                            <a class="site-anchor" title="苏州鹿岛影像第一站" rel="author" class="site-anchor user-anchor"
                               href="{{host}}/1177898/" data-site-id="1177898" target="_blank">苏州鹿岛影像第一站</a>
                        </div>
                    </li>
                    <li>
                        <a href="{{host}}/1019055/" title="疯贱迷信Csn" rel="author" class="site-icon "
                           data-site-id="1019055" target="_blank"><img
                                src="https://s1.tuchong.com/sites/101/1019055/logo_small.jpg?1" alt="疯贱迷信Csn"/></a>
                        <div class="event-detail">
                            <a href="{{host}}/events/442317/" target="_blank" class="event-name">长曝.城市</a>
                            <a class="site-anchor" title="疯贱迷信Csn" rel="author" class="site-anchor user-anchor"
                               href="{{host}}/1019055/" data-site-id="1019055" target="_blank">疯贱迷信Csn</a>
                        </div>
                    </li>
                    <li>
                        <a href="{{host}}/1491436/" title="yuanr" rel="author" class="site-icon "
                           data-site-id="1491436" target="_blank"><img
                                src="https://s1.tuchong.com/sites/149/1491436/logo_small.jpg?1" alt="yuanr"/></a>
                        <div class="event-detail">
                            <a href="{{host}}/events/442277/" target="_blank" class="event-name">夕阳捕手</a>
                            <a class="site-anchor" title="yuanr" rel="author" class="site-anchor user-anchor"
                               href="{{host}}/1491436/" data-site-id="1491436" target="_blank">yuanr</a>
                        </div>
                    </li>
                    <li>
                        <a href="{{host}}/1032464/" title="胖电塔与街头摄影" rel="author" class="site-icon "
                           data-site-id="1032464" target="_blank"><img
                                src="https://s1.tuchong.com/sites/103/1032464/logo_small.jpg?11" alt="胖电塔与街头摄影"/></a>
                        <div class="event-detail">
                            <a href="{{host}}/events/441926/" target="_blank"
                               class="event-name">胖电塔与街头摄影04期</a>
                            <a class="site-anchor" title="胖电塔与街头摄影" rel="author" class="site-anchor user-anchor"
                               href="{{host}}/1032464/" data-site-id="1032464" target="_blank">胖电塔与街头摄影</a>
                        </div>
                    </li>
                    <li>
                        <a href="https://capa.tuchong.com/" title="《咔啪》杂志" rel="author" class="site-icon "
                           data-site-id="227591" target="_blank"><img
                                src="https://s1.tuchong.com/sites/227/227591/logo_small.jpg?1" alt="《咔啪》杂志"/></a>
                        <div class="event-detail">
                            <a href="{{host}}/events/441402/" target="_blank"
                               class="event-name">CAPA主题影赛“秋”</a>
                            <a class="site-anchor" title="《咔啪》杂志" rel="author" class="site-anchor"
                               href="https://capa.tuchong.com/" data-site-id="227591" target="_blank">《咔啪》杂志</a>
                        </div>
                    </li>
                </ul>
            </section>
            <section class="aside-card">
                <div class="weibo-bind">
                    <p>绑定新浪微博后，你发布的照片和组照就能自动同步到微博了。</p>
                    <a href="/weibo/auth-oauth1/"><img src="//static.tuchong.net/styles/images/weibo_bind.png"
                                                       alt="绑定微博账号"></a>
                </div>
            </section>
            <section class="aside-card">
                <a class="card-header">图虫微信公众号</a>
                <img class="wechat-qrcode" src="//static.tuchong.net/images/weixin_official_8cm.jpg" alt="图虫微信公众号">
            </section>
        </aside>
    </div>
</main>
