{{#extend "style"}}
    <link href="/pc/css/discussion.css" rel="stylesheet">
{{/extend}}



{{#extend "script"}}

{{/extend}}


<div class="navbar-secondary pc-navbar">
    <nav class="navbar container">
        <ul class="navbar-subnav">
            <li class="active"><a href="{{host}}/discussion/hot/">热门话题</a></li>
            <li><a href="{{host}}/discussion/new-comments/">最新评论</a></li>
        </ul>
    </nav>
</div>

<div class="notify-bar card"></div>
<div class="container container-default">

    <h1>论坛热门话题</h1>
    <main role="main" class="col-main">
        <ul class="card-list recent-updated-site-list">
            <li>
                <a href="{{host}}/1174362/" title="观点话题" rel="author" class="site-icon "
                   data-site-id="1174362" target="_blank"><img
                        src="https://s1.tuchong.com/sites/117/1174362/logo_small.jpg?3" alt="观点话题"/></a>
                <article>
                    <h3><a href="{{host}}/1174362/">观点话题</a></h3>
                    <ul class="recent-posts-list">
                        <li>
                            <a href="https://fejune.tuchong.com/t/13514970/?group_id=1174362">话题：如何分辨图片是否被PS过？</a>
                            (23评论)
                            <time pubdate datetime="2016-09-22 08:56:07" title="2016-09-22 08:56:07">12分钟前</time>
                        </li>
                        <li>
                            <a href="{{host}}/1129924/t/13522681/?group_id=1174362">也说PS</a>
                            (1评论)
                            <time pubdate datetime="2016-09-21 22:47:54" title="2016-09-21 22:47:54">昨天 22:47</time>
                        </li>
                        <li>
                            <a href="https://fejune.tuchong.com/t/13472700/?group_id=1174362">初学摄影时有哪些本可以避免的误区？</a>
                            (9评论)
                            <time pubdate datetime="2016-09-17 09:58:27" title="2016-09-17 09:58:27">9月17日</time>
                        </li>
                        <li>
                            <a href="https://malaxiaolongxia.tuchong.com/t/13272199/?group_id=1174362">按快门有啥成本？凭什么不能给我免费拍？</a>
                            (91评论)
                            <time pubdate datetime="2016-09-17 09:57:18" title="2016-09-17 09:57:18">9月17日</time>
                        </li>
                        <li>
                            <a href="https://fejune.tuchong.com/t/13390490/?group_id=1174362">你随身带相机吗？</a>
                            (10评论)
                            <time pubdate datetime="2016-09-17 09:54:35" title="2016-09-17 09:54:35">9月17日</time>
                        </li>
                        <li>
                            <a href="{{host}}/465563/t/13495029/?group_id=1174362">纠结于 全画幅（A7M2 vs
                                D750）+广角变焦镜头</a>
                            (1评论)
                            <time pubdate datetime="2016-09-16 10:34:41" title="2016-09-16 10:34:41">9月16日</time>
                        </li>
                        <li>
                            <a href="{{host}}/1396536/t/13476646/?group_id=1174362">胶片问诊室</a>
                            (59评论)
                            <time pubdate datetime="2016-09-15 11:44:52" title="2016-09-15 11:44:52">9月15日</time>
                        </li>
                        <li>
                            <a href="{{host}}/400868/t/13473645/?group_id=1174362">拯救摄影小白：那些年你掉过的坑</a>
                            (85评论)
                            <time pubdate datetime="2016-09-09 11:43:41" title="2016-09-09 11:43:41">9月9日</time>
                        </li>
                        <li>
                            <a href="{{host}}/1515457/t/13473979/?group_id=1174362">摄影随笔之零零碎碎的摄影记忆</a>
                            (0评论)
                            <time pubdate datetime="2016-09-05 20:38:18" title="2016-09-05 20:38:18">9月5日</time>
                        </li>
                    </ul>
                </article>
            </li>
            <li>
                <a href="https://secondhand.tuchong.com/" title="二手专区" rel="author" class="site-icon "
                   data-site-id="906" target="_blank"><img src="https://s1.tuchong.com/sites/000/906/logo_small.jpg?3"
                                                           alt="二手专区"/></a>
                <article>
                    <h3><a href="https://secondhand.tuchong.com/">二手专区</a></h3>
                    <ul class="recent-posts-list">
                        <li>
                            <a href="{{host}}/1422809/t/13181312/?group_id=906">出售尼康d810＋尼康24-70mm f/2.8G
                                ED镜头</a>
                            (1评论)
                            <time pubdate datetime="2016-09-21 22:16:40" title="2016-09-21 22:16:40">昨天 22:16</time>
                        </li>
                        <li>
                            <a href="{{host}}/1350789/t/13364493/?group_id=906">【收】尼康17-35 F2.8 金广角镜头
                                【出】尼康24-70 F2.8 ED</a>
                            (2评论)
                            <time pubdate datetime="2016-09-20 15:52:17" title="2016-09-20 15:52:17">9月20日</time>
                        </li>
                        <li>
                            <a href="{{host}}/377795/t/13514966/?group_id=906">出海大ND1000滤镜</a>
                            (1评论)
                            <time pubdate datetime="2016-09-20 18:25:22" title="2016-09-20 18:25:22">9月20日</time>
                        </li>
                        <li>
                            <a href="{{host}}/377795/t/13514962/?group_id=906">出 铂锐G-100X渐变滤镜支架 带77mm
                                67mm转接环</a>
                            (1评论)
                            <time pubdate datetime="2016-09-20 18:25:51" title="2016-09-20 18:25:51">9月20日</time>
                        </li>
                        <li>
                            <a href="{{host}}/377795/t/13514954/?group_id=906">出 两片lee中灰渐变滤镜 0.3软和0.9软</a>
                            (1评论)
                            <time pubdate datetime="2016-09-20 18:26:09" title="2016-09-20 18:26:09">9月20日</time>
                        </li>
                        <li>
                            <a href="{{host}}/1065240/t/13510606/?group_id=906">转让佳能70D单机+15-85mm佳能镜头</a>
                            (0评论)
                            <time pubdate datetime="2016-09-17 11:32:31" title="2016-09-17 11:32:31">9月17日</time>
                        </li>
                        <li>
                            <a href="{{host}}/1395769/t/13133872/?group_id=906">学生党自用佳能70D灭门</a>
                            (2评论)
                            <time pubdate datetime="2016-09-12 00:15:24" title="2016-09-12 00:15:24">9月12日</time>
                        </li>
                        <li>
                            <a href="{{host}}/1162614/t/13149189/?group_id=906">灭门出佳能70D+24-105头，97新。</a>
                            (2评论)
                            <time pubdate datetime="2016-09-04 11:51:31" title="2016-09-04 11:51:31">9月4日</time>
                        </li>
                        <li>
                            <a href="{{host}}/463944/t/12846595/?group_id=906">求购曼富图三脚架</a>
                            (1评论)
                            <time pubdate datetime="2016-09-01 15:35:50" title="2016-09-01 15:35:50">9月1日</time>
                        </li>
                    </ul>
                </article>
            </li>
            <li>
                <a href="https://canon.tuchong.com/" title="发烧器材" rel="author" class="site-icon " data-site-id="631"
                   target="_blank"><img src="https://s1.tuchong.com/sites/000/631/logo_small.jpg?2" alt="发烧器材"/></a>
                <article>
                    <h3><a href="https://canon.tuchong.com/">发烧器材</a></h3>
                    <ul class="recent-posts-list">
                        <li>
                            <a href="https://xjrumo.tuchong.com/t/13510112/?group_id=631">确善能发布两款镜头</a>
                            (0评论)
                            <time pubdate datetime="2016-09-17 08:32:56" title="2016-09-17 08:32:56">9月17日</time>
                        </li>
                        <li>
                            <a href="https://xjrumo.tuchong.com/t/13521847/?group_id=631">富士将发布方形相纸拍立得</a>
                            (0评论)
                            <time pubdate datetime="2016-09-20 15:26:35" title="2016-09-20 15:26:35">9月20日</time>
                        </li>
                        <li>
                            <a href="https://xjrumo.tuchong.com/t/13522249/?group_id=631">飞思发布IQ1 1亿像素后背</a>
                            (0评论)
                            <time pubdate datetime="2016-09-20 17:51:54" title="2016-09-20 17:51:54">9月20日</time>
                        </li>
                        <li>
                            <a href="https://xjrumo.tuchong.com/t/13522890/?group_id=631">伦达65mm F2 Marco规格公布</a>
                            (0评论)
                            <time pubdate datetime="2016-09-20 21:38:12" title="2016-09-20 21:38:12">9月20日</time>
                        </li>
                        <li>
                            <a href="https://xjrumo.tuchong.com/t/13523944/?group_id=631">闪迪推出全球首款1TB内存卡</a>
                            (0评论)
                            <time pubdate datetime="2016-09-21 09:29:44" title="2016-09-21 09:29:44">昨天 09:29</time>
                        </li>
                        <li>
                            <a href="https://xjrumo.tuchong.com/t/13523994/?group_id=631">奥林巴斯:E-M1II在速度和画质上都超过了APS-C单反</a>
                            (0评论)
                            <time pubdate datetime="2016-09-21 09:46:11" title="2016-09-21 09:46:11">昨天 09:46</time>
                        </li>
                        <li>
                            <a href="https://xjrumo.tuchong.com/t/13524033/?group_id=631">富士:GFX 50S传感器和宾得645Z不同</a>
                            (0评论)
                            <time pubdate datetime="2016-09-21 10:00:24" title="2016-09-21 10:00:24">昨天 10:00</time>
                        </li>
                        <li>
                            <a href="https://xjrumo.tuchong.com/t/13511771/?group_id=631">美兹发布新款m400闪光灯</a>
                            (0评论)
                            <time pubdate datetime="2016-09-17 18:14:59" title="2016-09-17 18:14:59">9月17日</time>
                        </li>
                        <li>
                            <a href="https://xjrumo.tuchong.com/t/13512504/?group_id=631">富士中画幅无反镜头将被命名为“XG”</a>
                            (0评论)
                            <time pubdate datetime="2016-09-17 21:50:10" title="2016-09-17 21:50:10">9月17日</time>
                        </li>
                    </ul>
                </article>
            </li>
            <li>
                <a href="https://tuchong.tuchong.com/" title="偶酷智囊" rel="author" class="site-icon " data-site-id="621"
                   target="_blank"><img src="https://s1.tuchong.com/sites/000/621/logo_small.jpg?3" alt="偶酷智囊"/></a>
                <article>
                    <h3><a href="https://tuchong.tuchong.com/">偶酷智囊</a></h3>
                    <ul class="recent-posts-list">
                        <li>
                            <a href="https://qiujidong.tuchong.com/t/13486159/?group_id=621">该更新器材库了</a>
                            (3评论)
                            <time pubdate datetime="2016-09-19 09:55:20" title="2016-09-19 09:55:20">9月19日</time>
                        </li>
                        <li>
                            <a href="{{host}}/433920/t/13458621/?group_id=621">偶酷APP闪退</a>
                            (6评论)
                            <time pubdate datetime="2016-09-17 14:45:46" title="2016-09-17 14:45:46">9月17日</time>
                        </li>
                        <li>
                            <a href="{{host}}/1286815/t/13499265/?group_id=621">为什么我的偶酷V过不了</a>
                            (0评论)
                            <time pubdate datetime="2016-09-13 20:52:19" title="2016-09-13 20:52:19">9月13日</time>
                        </li>
                        <li>
                            <a href="https://lihua.tuchong.com/t/12809712/?group_id=621">如何彻底删除相册照片？？？</a>
                            (19评论)
                            <time pubdate datetime="2016-09-08 09:07:09" title="2016-09-08 09:07:09">9月8日</time>
                        </li>
                        <li>
                            <a href="https://gmygin.tuchong.com/t/13463563/?group_id=621">参加活动的功能应该优化</a>
                            (3评论)
                            <time pubdate datetime="2016-09-02 22:09:03" title="2016-09-02 22:09:03">9月2日</time>
                        </li>
                        <li>
                            <a href="https://itravel.tuchong.com/t/13462167/?group_id=621">建议讨论区的评论应该按赞的数量来排序置顶</a>
                            (0评论)
                            <time pubdate datetime="2016-09-02 09:27:54" title="2016-09-02 09:27:54">9月2日</time>
                        </li>
                        <li>
                            <a href="{{host}}/442212/t/13455898/?group_id=621">是否可以在偶酷开发延时摄影板块</a>
                            (1评论)
                            <time pubdate datetime="2016-09-01 13:18:00" title="2016-09-01 13:18:00">9月1日</time>
                        </li>
                        <li>
                            <a href="{{host}}/441716/t/13456244/?group_id=621">主页相册的照片不翼而飞</a>
                            (0评论)
                            <time pubdate datetime="2016-08-31 16:51:03" title="2016-08-31 16:51:03">8月31日</time>
                        </li>
                        <li>
                            <a href="https://bend.tuchong.com/t/13392902/?group_id=621">如何删除已删除相册的照片</a>
                            (2评论)
                            <time pubdate datetime="2016-08-31 13:54:35" title="2016-08-31 13:54:35">8月31日</time>
                        </li>
                    </ul>
                </article>
            </li>
            <li>
                <a href="{{host}}/646/" title="天工巧夺" rel="author" class="site-icon " data-site-id="646"
                   target="_blank"><img src="https://s1.tuchong.com/sites/000/646/logo_small.jpg?2" alt="天工巧夺"/></a>
                <article>
                    <h3><a href="{{host}}/646/">天工巧夺</a></h3>
                    <ul class="recent-posts-list">
                        <li>
                            <a href="{{host}}/1336793/t/13007332/?group_id=646">第一次拍，大神可以指点一下吗？</a>
                            (10评论)
                            <time pubdate datetime="2016-09-16 10:35:50" title="2016-09-16 10:35:50">9月16日</time>
                        </li>
                        <li>
                            <a href="{{host}}/1164104/t/12949812/?group_id=646">【日系小清新调色教程】</a>
                            (14评论)
                            <time pubdate datetime="2016-08-25 09:54:56" title="2016-08-25 09:54:56">8月25日</time>
                        </li>
                        <li>
                            <a href="{{host}}/994005/t/13416979/?group_id=646">尝试体验把专业外拍灯搬进室内影棚</a>
                            (0评论)
                            <time pubdate datetime="2016-08-20 13:33:16" title="2016-08-20 13:33:16">8月20日</time>
                        </li>
                        <li>
                            <a href="https://birdfly.tuchong.com/t/13328009/?group_id=646">▶小教程◀ 夏天是个彩色的夏天</a>
                            (4评论)
                            <time pubdate datetime="2016-08-12 22:09:03" title="2016-08-12 22:09:03">8月12日</time>
                        </li>
                        <li>
                            <a href="{{host}}/1174833/t/13390560/?group_id=646">玩户外，怎能少了鸟人地图</a>
                            (0评论)
                            <time pubdate datetime="2016-08-12 17:57:38" title="2016-08-12 17:57:38">8月12日</time>
                        </li>
                        <li>
                            <a href="{{host}}/1503810/t/13387402/?group_id=646">让你打印出来的和看到的图像一样——VP2468色彩显示器和硬件调教</a>
                            (0评论)
                            <time pubdate datetime="2016-08-11 17:13:45" title="2016-08-11 17:13:45">8月11日</time>
                        </li>
                        <li>
                            <a href="{{host}}/1504175/t/13383555/?group_id=646">摄影初学者，请大家多多指点</a>
                            (0评论)
                            <time pubdate datetime="2016-08-10 15:37:06" title="2016-08-10 15:37:06">8月10日</time>
                        </li>
                        <li>
                            <a href="{{host}}/1498241/t/13377271/?group_id=646">关于阿里的点滴（新人开贴，请多指教）</a>
                            (5评论)
                            <time pubdate datetime="2016-08-09 21:55:03" title="2016-08-09 21:55:03">8月9日</time>
                        </li>
                        <li>
                            <a href="{{host}}/994005/t/13376999/?group_id=646">逆光环境下所拍摄的作品</a>
                            (0评论)
                            <time pubdate datetime="2016-08-08 14:57:19" title="2016-08-08 14:57:19">8月8日</time>
                        </li>
                    </ul>
                </article>
            </li>
            <li>
                <a href="https://pzyl.tuchong.com/" title="拍砖有理" rel="author" class="site-icon " data-site-id="870"
                   target="_blank"><img src="https://s1.tuchong.com/sites/000/870/logo_small.jpg?3" alt="拍砖有理"/></a>
                <article>
                    <h3><a href="https://pzyl.tuchong.com/">拍砖有理</a></h3>
                    <ul class="recent-posts-list">
                        <li>
                            <a href="{{host}}/1538590/t/13494250/?group_id=870">第一次拍 求指点一下</a>
                            (0评论)
                            <time pubdate datetime="2016-09-12 10:42:42" title="2016-09-12 10:42:42">9月12日</time>
                        </li>
                        <li>
                            <a href="{{host}}/1019055/t/13476751/?group_id=870">没人看我的照片，求关注</a>
                            (1评论)
                            <time pubdate datetime="2016-09-06 18:15:49" title="2016-09-06 18:15:49">9月6日</time>
                        </li>
                        <li>
                            <a href="{{host}}/1336793/t/13007332/?group_id=870">第一次拍，大神可以指点一下吗？</a>
                            (10评论)
                            <time pubdate datetime="2016-09-16 10:35:50" title="2016-09-16 10:35:50">9月16日</time>
                        </li>
                        <li>
                            <a href="{{host}}/331210/t/12628449/?group_id=870">在美国一年闲拍，求拍砖</a>
                            (13评论)
                            <time pubdate datetime="2016-09-05 15:31:04" title="2016-09-05 15:31:04">9月5日</time>
                        </li>
                        <li>
                            <a href="{{host}}/1097699/t/12725634/?group_id=870">全球评选的最美最极致婚礼摄影照片</a>
                            (2评论)
                            <time pubdate datetime="2015-12-25 15:31:10" title="2015-12-25 15:31:10">15年12月25日</time>
                        </li>
                        <li>
                            <a href="{{host}}/234321/t/6253935/?group_id=870">关于对待不同看法的态度，说说最近遇见的偶酷奇葩事儿</a>
                            (9评论)
                            <time pubdate datetime="2015-09-29 03:18:02" title="2015-09-29 03:18:02">15年9月29日</time>
                        </li>
                        <li>
                            <a href="https://archifan.tuchong.com/t/6454367/?group_id=870">广东卷：胶片与数码时代 高考命题</a>
                            (2评论)
                            <time pubdate datetime="2015-09-29 03:10:28" title="2015-09-29 03:10:28">15年9月29日</time>
                        </li>
                        <li>
                            <a href="https://skyzipper.tuchong.com/t/4725957/?group_id=870">小清新拍摄范例</a>
                            (53评论)
                            <time pubdate datetime="2015-09-29 11:01:42" title="2015-09-29 11:01:42">15年9月29日</time>
                        </li>
                        <li>
                            <a href="{{host}}/331210/t/12637146/?group_id=870">小区里睡觉的猫</a>
                            (1评论)
                            <time pubdate datetime="2015-08-30 23:32:31" title="2015-08-30 23:32:31">15年8月30日</time>
                        </li>
                    </ul>
                </article>
            </li>
        </ul>
        <div class="pagebar"></div>
    </main>

    <aside id="side" class="col-side">
        <section class="widget my-groups">
            <h3 class="card-header"><a href="{{host}}/discussion/list/">推荐讨论区</a></h3>
            <ul class="side-group-list">
                <li>
                    <a title="观点话题" href="{{host}}/1174362/" data-site-id="1174362" target="_blank">
                        <img class="site-icon" src="https://s1.tuchong.com/sites/117/1174362/logo_small.jpg?3"
                             alt="观点话题"/>
                        观点话题
                    </a>
                </li>
                <li>
                    <a title="二手专区" href="https://secondhand.tuchong.com/" data-site-id="906" target="_blank">
                        <img class="site-icon" src="https://s1.tuchong.com/sites/000/906/logo_small.jpg?3" alt="二手专区"/>
                        二手专区
                    </a>
                </li>
                <li>
                    <a title="天工巧夺" href="{{host}}/646/" data-site-id="646" target="_blank">
                        <img class="site-icon" src="https://s1.tuchong.com/sites/000/646/logo_small.jpg?2" alt="天工巧夺"/>
                        天工巧夺
                    </a>
                </li>
                <li>
                    <a title="发烧器材" href="https://canon.tuchong.com/" data-site-id="631" target="_blank">
                        <img class="site-icon" src="https://s1.tuchong.com/sites/000/631/logo_small.jpg?2" alt="发烧器材"/>
                        发烧器材
                    </a>
                </li>
                <li>
                    <a title="拍砖有理" href="https://pzyl.tuchong.com/" data-site-id="870" target="_blank">
                        <img class="site-icon" src="https://s1.tuchong.com/sites/000/870/logo_small.jpg?3" alt="拍砖有理"/>
                        拍砖有理
                    </a>
                </li>
                <li>
                    <a title="偶酷智囊" href="https://tuchong.tuchong.com/" data-site-id="621" target="_blank">
                        <img class="site-icon" src="https://s1.tuchong.com/sites/000/621/logo_small.jpg?3" alt="偶酷智囊"/>
                        偶酷智囊
                    </a>
                </li>
            </ul>
        </section>
    </aside>

</div>
