{{#extend "style"}}
  <style>
      body{
          background: #fff;
      }
  </style>
{{/extend}}

<div class="top">asfsafsdfsafssfafassafasfasfsafasf
  {{#if user}}{{user.name}} <a href="/user/loginout">注</a>{{/if}}
</div>
{{messages}}
<h1>{{title }}</h1>
{{post}}
{{#forEach posts}}

  <div>
      <h2>{{post.title}}</h2>
      <div>{{content}}</div>
      <div>
          <span>发布时间：{{created}}</span>
          <span>作者：{{author.name}}</span>
          <span>评论：{{comments.length}}</span>
          <span>被赞：{{meta.favourates}}</span>
          <a href="/posts/view/{{_id}}" target="_blank">查看全文</a>
      </div>
  </div>

{{/forEach}}

  <script>
      $(function(){
          console.log('ready')
      })
  </script>
