{{#extend "style"}}
    <link href="/pc/css/vision.css" rel="stylesheet">
{{/extend}}



{{#extend "script"}}

{{/extend}}



<main>
    <div class="container">
        <div class="content">
            <div class="widget-slide">
                <div class="slide-wrapper" style="position: absolute; font-size: 0px; width: 3780px; height: 350px; left: -1260px; top: 0px;"><div class="slide-item" style="background-image: url(&quot;https://s1.tuchong.com//content-image/84f2793230114971f2ab5360e9c721eb.jpg&quot;); display: inline-block; width: 630px; height: 350px;"></div>
                    <div class="slide-item" style="background-image: url(&quot;//s1.tuchong.com//content-image/0a1cb9c477a2cb12298326be124dabd8.jpg&quot;); display: inline-block; width: 630px; height: 350px;"></div>
                    <div class="slide-item" style="background-image: url(&quot;//s1.tuchong.com//content-image/766cbd63b8b88a1a72fc225be00e8055.jpg&quot;); display: inline-block; width: 630px; height: 350px;"></div>
                    <div class="slide-item" style="background-image: url(&quot;//s1.tuchong.com//content-image/2444657481ea3f6f4d01fb715486ff85.jpg&quot;); display: inline-block; width: 630px; height: 350px;"></div>
                    <div class="slide-item" style="background-image: url(&quot;https://s1.tuchong.com//content-image/84f2793230114971f2ab5360e9c721eb.jpg&quot;); display: inline-block; width: 630px; height: 350px;"></div>
                    <div class="slide-item" style="background-image: url(&quot;//s1.tuchong.com//content-image/0a1cb9c477a2cb12298326be124dabd8.jpg&quot;); display: inline-block; width: 630px; height: 350px;"></div></div>
                <div class="slide-map">
                    <a class="map-item map-left" target="_blank" href="https:{{host}}/467409/13402020/" data-assign=".slide-prev">
                    </a><a href="javascript:void(0);" class="slide-prev"></a>
                    <a class="map-item map-right" target="_blank" href="https:{{host}}/467409/13402020/" data-assign=".slide-next">
                    </a><a href="javascript:void(0);" class="slide-next"></a>
                </div>
                <div class="slide-mask">
                    <h3 class="slide-title">Living like a dog</h3>
                    <div class="slide-bullet">
                        <a data-index="0" href="javascript:void(0);" class="bullet-default"></a>
                        <a data-index="1" href="javascript:void(0);" class="bullet-default bullet-active"></a>
                        <a data-index="2" href="javascript:void(0);" class="bullet-default"></a>
                        <a data-index="3" href="javascript:void(0);" class="bullet-default"></a>
                    </div>
                </div>
            </div>
            <div class="widget-tab">
                <div class="tab-wrapper">
                    <a href="javascript:void(0);" data-siteids="1143816,1156563,1156567,1156570,1156573" class="tab-item tab-item-current">推荐</a>
                    <a href="javascript:void(0);" data-siteids="1143816" class="tab-item ">动态</a>
                    <a href="javascript:void(0);" data-siteids="1156563" class="tab-item ">学院</a>
                    <a href="javascript:void(0);" data-siteids="1156567" class="tab-item ">大片</a>
                    <a href="javascript:void(0);" data-siteids="1156570" class="tab-item ">书房</a>
                    <a href="javascript:void(0);" data-siteids="1156573" class="tab-item ">教程</a>
                </div>
            </div>
            <div class="widget-visionlist"><ul class="pagelist-wrapper">
                <li class="impression-item" data-post-id="13525764">

                    <div class="item-info">
                        <a href="https:{{host}}/467409/13525764/" class="item-title" target="_blank">北京作业——《Wandering in Beijing》</a>
                        <div class="item-album">


                            <a href="https:{{host}}/467409/13525764/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/467409/g/12139732.webp"></a>

                            <a href="https:{{host}}/467409/13525764/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/467409/g/12139733.webp"></a>

                            <a href="https:{{host}}/467409/13525764/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/467409/g/12139734.webp"></a>

                            <a href="https:{{host}}/467409/13525764/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/467409/g/12139735.webp"></a>


                            <span class="hint">共20图</span>

                        </div>

                        <p class="item-desc">三天的工作坊，从濑户老师身上学到了很多，他的博学、谦虚、对摄影探索的坚持给我们带来很多启发，尤其是他对摄影在哲学层面的理解，使我的摄影观在某种意义上发生了质的变化。虽然同学们在教学的过程中被否定的很多，但否定越大，收获越多。非常感谢偶酷网团队的辛劳付出，向你们致敬。</p>

                    </div>

                    <div class="item-related">
                        <div class="item-tags has-tags">


                            <a href="{{host}}/tags/黑白" target="_blank">黑白</a>

                            <a href="{{host}}/tags/城市" target="_blank">城市</a>

                            <a href="{{host}}/tags/街拍" target="_blank">街拍</a>

                            <a href="{{host}}/tags/北京" target="_blank">北京</a>

                            <a href="{{host}}/tags/理光" target="_blank">理光</a>

                        </div>
                        <div class="item-handler">
                            <a href="https:{{host}}/467409/13525764/#comments" target="_blank">0</a>
                        </div>
                    </div>
                </li>

                <li class="impression-item" data-post-id="13525804">


                    <a href="https:{{host}}/1132548/t/13525804/" class="item-cover" target="_blank">
                        <img src="https://photo.tuchong.com/1132548/g/25265972.webp">
                    </a>
                    <div class="item-info" style="width: 450px;">
                        <a href="https:{{host}}/1132548/t/13525804/" class="item-title" title="一个真正的艺术家，一定在安静地咆哮着 | 广州工作坊摄影师聊收获" target="_blank">一个真正的艺术家，一定在安静地咆哮着 | 广州工作坊摄影师聊收获</a>
                        <p class="item-desc">“街拍中国”工作坊第五站，广州。导师张海儿带着5位偶酷摄影师在街拍中感受羊城的别样风情。| 话不多说，先给大家看看他们这次在广州拍摄的作品：摄影师：任韶华 @任韶华摄影师：邹天舒 @天熠摄影师：李俊 @炒肉摄影师：巢江南 @闻安摄影师：吴雨航 @吴恼厮在张海儿老师的指导下，这些偶酷摄影师在工作坊中学到了什么？带着这些问题我们跟他们聊了聊。| 为什么喜欢街拍？你觉得街拍当中最难处理的是什么？任韶华：在人多的地方街...</p>
                    </div>


                    <div class="item-related">
                        <div class="item-tags has-tags">


                            <a href="{{host}}/tags/街拍中国" target="_blank">街拍中国</a>

                            <a href="{{host}}/tags/街拍" target="_blank">街拍</a>

                            <a href="{{host}}/tags/张海儿" target="_blank">张海儿</a>

                            <a href="{{host}}/tags/广州" target="_blank">广州</a>

                        </div>
                        <div class="item-handler">
                            <a href="https:{{host}}/1132548/t/13525804/#comments" target="_blank">5</a>
                        </div>
                    </div>
                </li>

                <li class="impression-item" data-post-id="13523944">


                    <a href="https://xjrumo.tuchong.com/t/13523944/" class="item-cover" target="_blank">
                        <img src="https://photo.tuchong.com/1390174/g/15547604.webp">
                    </a>
                    <div class="item-info" style="width: 450px;">
                        <a href="https://xjrumo.tuchong.com/t/13523944/" class="item-title" title="闪迪推出全球首款1TB内存卡" target="_blank">闪迪推出全球首款1TB内存卡</a>
                        <p class="item-desc">闪迪推出全球首款1TB内存卡今年的世界影像博览会，各家的新品不断，其中不乏4000万像素，甚至是5000万像素。而4K视频更是基本成为标配，未来8K视频相信也会陆续普及，一切一切都对内存卡的容量提出了新的要求。作为全球知名的内存卡生产商，闪迪公司在今年的世界影像博览会上，推出了全球首款1TB SDXC内存卡。据了解这款内存卡是针对4K，8K，360°照片，以及VR等而研发的。闪迪方面表示这些高数据量的照片，以及视频对于内存卡提...</p>
                    </div>


                    <div class="item-related">
                        <div class="item-tags has-tags">


                            <a href="{{host}}/tags/相机入魔" target="_blank">相机入魔</a>

                        </div>
                        <div class="item-handler">
                            <a href="https://xjrumo.tuchong.com/t/13523944/#comments" target="_blank">0</a>
                        </div>
                    </div>
                </li>

                <li class="impression-item" data-post-id="13467776">


                    <a href="https:{{host}}/1531113/t/13467776/" class="item-cover" target="_blank">
                        <img src="https://photo.tuchong.com/1531113/g/21313618.webp">
                    </a>
                    <div class="item-info" style="width: 450px;">
                        <a href="https:{{host}}/1531113/t/13467776/" class="item-title" title="访谈 | 陈琳冰：「做一些有温度的书，一些关于家庭的标本」" target="_blank">访谈 | 陈琳冰：「做一些有温度的书，一些关于家庭的标本」</a>
                        <p class="item-desc">△图：陈琳冰2016年8月，abC艺术书展在上海二十一世纪民生美术馆（M21）中拉开了序幕，在聆郎满目的艺术书刊中，一本像是素描练习册一样的书被静静地呈现。那是陈琳冰的《2013 | 1991》。「我希望自己可以做一些有温度的书，整齐保存某段时间，某段记忆，或者某个人」，1990年出生、现居日本攻读平面设计研究生学位的陈琳冰如是说。在静谧又克制的格局之间，一张张满是故事的老照片划破纸面。家庭历史与今日的生活、童年记忆和记...</p>
                    </div>


                    <div class="item-related">
                        <div class="item-tags has-tags">


                            <a href="{{host}}/tags/访谈" target="_blank">访谈</a>

                            <a href="{{host}}/tags/采访" target="_blank">采访</a>

                            <a href="{{host}}/tags/摄影" target="_blank">摄影</a>

                            <a href="{{host}}/tags/设计" target="_blank">设计</a>

                            <a href="{{host}}/tags/艺术书" target="_blank">艺术书</a>

                            <a href="{{host}}/tags/偶酷摄影师" target="_blank">偶酷摄影师</a>

                        </div>
                        <div class="item-handler">
                            <a href="https:{{host}}/1531113/t/13467776/#comments" target="_blank">0</a>
                        </div>
                    </div>
                </li>

                <li class="impression-item" data-post-id="13521533">

                    <div class="item-info">
                        <a href="https:{{host}}/1517742/13521533/" class="item-title" target="_blank">《拆迁进行时》</a>
                        <div class="item-album">


                            <a href="https:{{host}}/1517742/13521533/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/1517742/g/22692842.webp"></a>

                            <a href="https:{{host}}/1517742/13521533/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/1517742/g/22692843.webp"></a>

                            <a href="https:{{host}}/1517742/13521533/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/1517742/g/22692844.webp"></a>

                            <a href="https:{{host}}/1517742/13521533/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/1517742/g/22692845.webp"></a>


                            <span class="hint">共30图</span>

                        </div>

                        <p class="item-desc">当前，我国正处于从传统农业社会向现代工业社会的转型时期，在由传统社会走向现代化的过程中，城市化进程进一步加快，各地的征地拆迁也如火如荼地开展，由此引发的诸多矛盾逐步成为一个普遍的、尖锐的、突出的社会问题。征地拆迁与老百姓的切身利益息息相关，也对社会结构、社会心理带来了最直接、最彻底、最深远的影响，征地拆迁特别是大规模拆迁一度成为被拆迁农民、居民的“不能承受之痛”和各级基层政府的“不能承受之重”。由...</p>

                    </div>

                    <div class="item-related">
                        <div class="item-tags has-tags">


                            <a href="{{host}}/tags/第六届侯登科纪实摄影奖" target="_blank">第六届侯登科纪实摄影奖</a>

                            <a href="{{host}}/tags/街拍" target="_blank">街拍</a>

                            <a href="{{host}}/tags/纪实" target="_blank">纪实</a>

                            <a href="{{host}}/tags/黑白" target="_blank">黑白</a>

                            <a href="{{host}}/tags/抓拍" target="_blank">抓拍</a>

                            <a href="{{host}}/tags/尼康" target="_blank">尼康</a>

                            <a href="{{host}}/tags/富士" target="_blank">富士</a>

                            <a href="{{host}}/tags/大连" target="_blank">大连</a>

                        </div>
                        <div class="item-handler">
                            <a href="https:{{host}}/1517742/13521533/#comments" target="_blank">4</a>
                        </div>
                    </div>
                </li>

                <li class="impression-item" data-post-id="13522318">


                    <a href="https:{{host}}/1132548/t/13522318/" class="item-cover" target="_blank">
                        <img src="https://photo.tuchong.com/1132548/g/25265956.webp">
                    </a>
                    <div class="item-info" style="width: 450px;">
                        <a href="https:{{host}}/1132548/t/13522318/" class="item-title" title="为拍一张好照片, 这位摄影家不惜&quot;暴力回击&quot;！| 街拍中国视频实录" target="_blank">为拍一张好照片, 这位摄影家不惜"暴力回击"！| 街拍中国视频实录</a>
                        <p class="item-desc">这是偶酷网举办的街拍中国工作坊现场一瞬，对着老人“卖萌”的街拍摄影师，是极少露面的著名摄影家张海儿。在这次由他担任导师的广州工作坊中，针对街拍摄影师与拍摄对象发生“冲突”的话题，这位经验丰富，观点犀利的摄影家再次语出惊人：说要和拍摄对象打架，不惜一战，如果他公然抗拒的话……我是故意这么说的。他们是受公众保护的，街头的公众也会站在他们一边的，摄影师基本上是孤立无援的。既然说不清楚，那我就试一试用暴力回...</p>
                    </div>


                    <div class="item-related">
                        <div class="item-tags has-tags">


                            <a href="{{host}}/tags/街拍中国" target="_blank">街拍中国</a>

                            <a href="{{host}}/tags/广州" target="_blank">广州</a>

                            <a href="{{host}}/tags/街拍" target="_blank">街拍</a>

                            <a href="{{host}}/tags/张海儿" target="_blank">张海儿</a>

                            <a href="{{host}}/tags/纪实" target="_blank">纪实</a>

                        </div>
                        <div class="item-handler">
                            <a href="https:{{host}}/1132548/t/13522318/#comments" target="_blank">8</a>
                        </div>
                    </div>
                </li>

                <li class="impression-item" data-post-id="13520871">

                    <div class="item-info">
                        <a href="https:{{host}}/285424/13520871/" class="item-title" target="_blank">义乌九六年</a>
                        <div class="item-album">


                            <a href="https:{{host}}/285424/13520871/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/285424/g/16342149.webp"></a>

                            <a href="https:{{host}}/285424/13520871/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/285424/g/16342150.webp"></a>

                            <a href="https:{{host}}/285424/13520871/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/285424/g/16342151.webp"></a>

                            <a href="https:{{host}}/285424/13520871/" class="album-item" target="_blank"><img src="https://photo.tuchong.com/285424/g/16342152.webp"></a>


                            <span class="hint">共9图</span>

                        </div>

                    </div>

                    <div class="item-related">
                        <div class="item-tags has-tags">


                            <a href="{{host}}/tags/人像" target="_blank">人像</a>

                            <a href="{{host}}/tags/佳能" target="_blank">佳能</a>

                            <a href="{{host}}/tags/胶片" target="_blank">胶片</a>

                            <a href="{{host}}/tags/杭州" target="_blank">杭州</a>

                        </div>
                        <div class="item-handler">
                            <a href="https:{{host}}/285424/13520871/#comments" target="_blank">8</a>
                        </div>
                    </div>
                </li>

                <li class="impression-item" data-post-id="13498226">


                    <a href="https://limengyu.tuchong.com/t/13498226/" class="item-cover" target="_blank">
                        <img src="https://photo.tuchong.com/1171228/g/12930662.webp">
                    </a>
                    <div class="item-info" style="width: 450px;">
                        <a href="https://limengyu.tuchong.com/t/13498226/" class="item-title" title="如何给萌娃拍出温暖照片？尼康签约摄影师分享镜头下的爱与成长－摄影课程回顾" target="_blank">如何给萌娃拍出温暖照片？尼康签约摄影师分享镜头下的爱与成长－摄影课程回顾</a>
                        <p class="item-desc">{ 腰果于2016年9月1日联合“干点啥dowhat”公众号 免费摄影课程分享回顾 / 本文由小编阿珍整理 }—— 腰果虾仁：尼康中国签约摄影师　乔老板微博@李梦鱼 ——腰果和乔妈自从有了宝宝JoJo，简直成了“晒娃狂魔”，两人一个负责拍一个负责后期，完美的配合，让镜头下的JoJo萌化万千人心！这次两人，一位有着“摄影圈相声说的最好”之称的腰果，另一位善于细腻后期的乔妈，一起告诉你一张萌照得来的前因后果。一、拍娃党器材选择＋＋＋土豪随...</p>
                    </div>


                    <div class="item-related">
                        <div class="item-tags has-tags">


                            <a href="{{host}}/tags/尼康" target="_blank">尼康</a>

                            <a href="{{host}}/tags/人像" target="_blank">人像</a>

                            <a href="{{host}}/tags/儿童" target="_blank">儿童</a>

                            <a href="{{host}}/tags/儿童摄影" target="_blank">儿童摄影</a>

                            <a href="{{host}}/tags/日系" target="_blank">日系</a>

                            <a href="{{host}}/tags/后期" target="_blank">后期</a>

                            <a href="{{host}}/tags/上海" target="_blank">上海</a>

                            <a href="{{host}}/tags/教程" target="_blank">教程</a>

                            <a href="{{host}}/tags/摄影课程" target="_blank">摄影课程</a>

                            <a href="{{host}}/tags/课程" target="_blank">课程</a>

                            <a href="{{host}}/tags/免费课程" target="_blank">免费课程</a>

                            <a href="{{host}}/tags/后期分享" target="_blank">后期分享</a>

                            <a href="{{host}}/tags/前期分享" target="_blank">前期分享</a>

                            <a href="{{host}}/tags/前期教程" target="_blank">前期教程</a>

                            <a href="{{host}}/tags/后期教程" target="_blank">后期教程</a>

                            <a href="{{host}}/tags/拍娃党" target="_blank">拍娃党</a>

                            <a href="{{host}}/tags/乔老板" target="_blank">乔老板</a>

                            <a href="{{host}}/tags/李梦鱼" target="_blank">李梦鱼</a>

                            <a href="{{host}}/tags/85mm" target="_blank">85mm</a>

                        </div>
                        <div class="item-handler">
                            <a href="https://limengyu.tuchong.com/t/13498226/#comments" target="_blank">47</a>
                        </div>
                    </div>
                </li>

                <li class="impression-item" data-post-id="13516394">


                    <a href="https://indiefoto.tuchong.com/t/13516394/" class="item-cover" target="_blank">
                        <img src="https://photo.tuchong.com/51/g/14767012.webp">
                    </a>
                    <div class="item-info" style="width: 450px;">
                        <a href="https://indiefoto.tuchong.com/t/13516394/" class="item-title" title="读立研究丨约塞米蒂国家公园的风景再现" target="_blank">读立研究丨约塞米蒂国家公园的风景再现</a>
                        <p class="item-desc">作者丨程新皓编辑丨@MrFay 韦德（Charles Leander Weed）可能是世界上第一个留下约塞米蒂公园照片的摄影师。他在1859年受旅游开发商哈钦斯（Hutchings）的邀请，到约塞米蒂拍摄了照片并随后在旧金山进行了展览。然而，这批照片从美学上乏善可陈，也并未对其后人们对约塞米蒂的观看产生决定性的影响。▲韦德拍摄的约塞米蒂山谷的照片，可能是人类留下的最早的关于此地的图像。而稍晚一些进入约塞米蒂拍摄的沃特金斯（Carleton Wat...</p>
                    </div>


                    <div class="item-related">
                        <div class="item-tags has-tags">


                            <a href="{{host}}/tags/风景" target="_blank">风景</a>

                            <a href="{{host}}/tags/景观" target="_blank">景观</a>

                            <a href="{{host}}/tags/地景" target="_blank">地景</a>

                            <a href="{{host}}/tags/如画美" target="_blank">如画美</a>

                            <a href="{{host}}/tags/荒野" target="_blank">荒野</a>

                        </div>
                        <div class="item-handler">
                            <a href="https://indiefoto.tuchong.com/t/13516394/#comments" target="_blank">0</a>
                        </div>
                    </div>
                </li>

                <li class="impression-item" data-post-id="13515640">


                    <a href="https:{{host}}/1170070/t/13515640/" class="item-cover" target="_blank">
                        <img src="https://photo.tuchong.com/1170070/g/23799515.webp">
                    </a>
                    <div class="item-info" style="width: 450px;">
                        <a href="https:{{host}}/1170070/t/13515640/" class="item-title" title="丽莎·巴纳德：当代纪实与“无人机美学”" target="_blank">丽莎·巴纳德：当代纪实与“无人机美学”</a>
                        <p class="item-desc">“从20世纪末到21世纪，’战争在哪里？’这个问题越来越难以回答。军事暴力行为无法再被归于某个区域：它涉及许多人、许多不同的地方。现在，战争被分散到整个地景之中，遍布平凡的城市生活之中。与周遭文明隔绝的战场的影像已经过时，变得不再真实。”——奈杰尔·思里夫特（Nigel Thrift）不出意料，战争的进化已使之能够被装入一个屏幕。屏幕已经渗透到我们生活的方方面面，让我们可以在路上查看火车时刻表，给朋友发讯息，或者观看...</p>
                    </div>


                    <div class="item-related">
                        <div class="item-tags ">


                        </div>
                        <div class="item-handler">
                            <a href="https:{{host}}/1170070/t/13515640/#comments" target="_blank">0</a>
                        </div>
                    </div>
                </li>
            </ul><div class="pagelist-load-more">加载更多</div></div>
        </div>
        <aside class="vision-aside">
            <h3 class="aside-title">偶酷热推</h3>
            <ul class="aside-list">
                <li class="aside-item">
                    <a href="https:{{host}}/jiepaizhongguo/" target="_blank" class="item-cover"><img src="https://s1.tuchong.com/content-image/946c5379ec1674f96f0defcecb85792d.jpg"></a>
                    <a href="https:{{host}}/jiepaizhongguo/" target="_blank" class="item-title">“街拍中国”2016年度街拍摄影擂台赛</a>
                </li>
                <li class="aside-item">
                    <a href="https:{{host}}/events/422788/" target="_blank" class="item-cover"><img src="https://s1.tuchong.com/content-image/b22fdc6b21f5e747dac0c544a7fba883.jpg"></a>
                    <a href="https:{{host}}/events/422788/" target="_blank" class="item-title">「摄影书房」摄影书公开征集</a>
                </li>
                <li class="aside-item">
                    <a href="https:{{host}}/events/424535/" target="_blank" class="item-cover"><img src="https://s1.tuchong.com/content-image/dfcaa7fdc610ac88000465f858e06200.jpg"></a>
                    <a href="https:{{host}}/events/424535/" target="_blank" class="item-title">偶酷女神计划</a>
                </li>
                <li class="aside-item">
                    <a href="http:{{host}}/events/418426" target="_blank" class="item-cover"><img src="https://s1.tuchong.com/content-image/9989f9ce18ebb561c36c90c7b2b0b154.jpg"></a>
                    <a href="http:{{host}}/events/418426" target="_blank" class="item-title">【写真的话】一张照片一句话征集</a>
                </li>
            </ul>
            <h3 class="aside-title about-vision">关于影像频道</h3>
            <div class="vision-intro">偶酷影像频道致力于发现社区内的优质内容，面向全站推广。投稿请在图博评论区<a href="http:{{host}}/1165988/">@影像频道</a></div>
        </aside>
    </div>
</main>
